Sandbox/10-04-2025/force-app/main/default/flows/add_up_task_total_damages.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add_sub_task_damage</name>
        <label>add sub task damage</label>
        <locationX>138</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>TotalCharges</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_through_sub_tasks.Damage_Charge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_through_sub_tasks.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_description</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_description</name>
        <label>add to description</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>TaskDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConstantColonDollar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_add_to_description</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_add_to_description</name>
        <label>add to description</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>TaskDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_through_sub_tasks.Damage_Charge__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_add_to_description</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_add_to_description</name>
        <label>add to description</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>TaskDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConstantNewLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_sub_tasks</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ConstantColonDollar</name>
        <dataType>String</dataType>
        <value>
            <stringValue>: $</stringValue>
        </value>
    </constants>
    <constants>
        <name>ConstantNewLine</name>
        <dataType>String</dataType>
        <value>
            <stringValue>\n</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Subtasks_not_NULL</name>
        <label>Subtasks not NULL</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Subtasks_not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_subtasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_through_sub_tasks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>From Common</description>
    <environments>Default</environments>
    <interviewLabel>add up task total damages {!$Flow.CurrentDateTime}</interviewLabel>
    <label>add up task total damages</label>
    <loops>
        <name>loop_through_sub_tasks</name>
        <label>loop through sub tasks</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <collectionReference>get_subtasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_sub_task_damage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_subtasks</name>
        <label>get subtasks</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subtasks_not_NULL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Task_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Damage_Charge__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sub_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>TaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suggested_Damage_Charge__c</field>
            <value>
                <elementReference>TotalCharges</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_subtasks</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>TaskDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&apos;&apos;</stringValue>
        </value>
    </variables>
    <variables>
        <name>TotalCharges</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_PriorRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>var_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
