Sandbox/10-04-2025/force-app/main/default/flows/Add_City_Home_Suite_Building_Campaign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Brand_Assignment</name>
        <label>Brand Assignment</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_BrandList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConstantCommon</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BrandList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConstantNoah</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BrandList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConstantKin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_City_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Campaign_Assignment</name>
        <label>Campaign Assignment</label>
        <locationX>666</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>var_Campaign.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_City_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Campaign.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Campaign.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RT_Active_Member_Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Campaign.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Campaign.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Campaign.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>City</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campaign_List_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Campaign_List_Assignment</name>
        <label>Campaign List Assignment</label>
        <locationX>666</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>var_Campaigns</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Campaign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Brand_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Common_Assignment</name>
        <label>Common Assignment</label>
        <locationX>270</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>var_Campaign.Brand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Common</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Campaign.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Get_City_Record.Name} - Common</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campaign_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Kin_Assignment</name>
        <label>Kin Assignment</label>
        <locationX>798</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>var_Campaign.Brand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Kin</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Campaign.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Get_City_Record.Name} - Kin</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campaign_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Noah_Assignment</name>
        <label>Noah Assignment</label>
        <locationX>534</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>var_Campaign.Brand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Noah</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Campaign.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Get_City_Record.Name} - Noah</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campaign_Assignment</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ConstantCommon</name>
        <dataType>String</dataType>
        <value>
            <stringValue>common</stringValue>
        </value>
    </constants>
    <constants>
        <name>ConstantKin</name>
        <dataType>String</dataType>
        <value>
            <stringValue>kin</stringValue>
        </value>
    </constants>
    <constants>
        <name>ConstantNoah</name>
        <dataType>String</dataType>
        <value>
            <stringValue>noah</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Brand_Check</name>
        <label>Brand Check</label>
        <locationX>666</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Loop finished</defaultConnectorLabel>
        <rules>
            <name>common</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Brand_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ConstantCommon</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Common_Assignment</targetReference>
            </connector>
            <label>common</label>
        </rules>
        <rules>
            <name>noah</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Brand_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ConstantNoah</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Noah_Assignment</targetReference>
            </connector>
            <label>noah</label>
        </rules>
        <rules>
            <name>kin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Brand_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ConstantKin</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Kin_Assignment</targetReference>
            </connector>
            <label>kin</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign_List_not_NULL</name>
        <label>Campaign List not NULL</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Campaign_List_not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Campaigns</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Campaigns</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_If_Home_Added</name>
        <label>If Suite Added</label>
        <locationX>952</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_If_Suite_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SuiteID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Suite_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_If_Suite_Added</name>
        <label>If Building Added</label>
        <locationX>1150</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuildingID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Building_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_City_Added</name>
        <label>If City Added</label>
        <locationX>451</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>If_Home_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_If_City_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CityID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Brand_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Home_Added</name>
        <label>If Home Added</label>
        <locationX>721</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_If_Home_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_If_Home_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HomeID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Home_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>From Common</description>
    <environments>Default</environments>
    <formulas>
        <name>FormulaBldgName</name>
        <dataType>String</dataType>
        <expression>{!Get_Building_Record.Home__r.Name} &amp;&apos;-&apos;&amp; {!Get_Building_Record.Name}</expression>
    </formulas>
    <formulas>
        <name>FormulaHomeBrand</name>
        <dataType>String</dataType>
        <expression>IF( 
{!Get_Home_Record.BrandRef__r.Name} == &quot;kin&quot;,
&quot;kin&quot;,
IF( 
{!Get_Home_Record.BrandRef__r.Name} == &quot;noah&quot;,
&quot;noah&quot;,
&quot;common&quot;
) 
)</expression>
    </formulas>
    <formulas>
        <name>FormulaSuiteName</name>
        <dataType>String</dataType>
        <expression>{!Get_City_of_Home.Name}&amp;&apos; - &apos;&amp;{!Get_Suite_Record.Name}</expression>
    </formulas>
    <interviewLabel>Add City/Home/Suite/Building Campaign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add City/Home/Suite/Building Campaign</label>
    <loops>
        <name>Brand_Loop</name>
        <label>Brand Loop</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <collectionReference>var_BrandList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Brand_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Campaign_List_not_NULL</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Building_Campaign</name>
        <label>Create Building Campaign</label>
        <locationX>1018</locationX>
        <locationY>890</locationY>
        <inputAssignments>
            <field>Building__c</field>
            <value>
                <elementReference>BuildingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Get_Building_Record.Home__r.City_object__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home__c</field>
            <value>
                <elementReference>Get_Building_Record.Home__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FormulaBldgName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Get_Building_Parent_Campaign_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RT_Active_Member_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Building</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaigns</name>
        <label>Create Campaigns</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <inputReference>var_Campaigns</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Home_Campaign</name>
        <label>Create Home Campaign</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Get_Home_Record.City_object__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home__c</field>
            <value>
                <elementReference>Get_Home_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Home_Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Get_Home_Parent_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RT_Active_Member_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Home</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Suite_Campaign</name>
        <label>Create Suite Campaign</label>
        <locationX>754</locationX>
        <locationY>890</locationY>
        <inputAssignments>
            <field>Building__c</field>
            <value>
                <elementReference>Get_Suite_Record.Building__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Get_City_of_Home.City_object__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home__c</field>
            <value>
                <elementReference>Get_Suite_Record.PropertyRef__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FormulaSuiteName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Get_Suite_Parent_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RT_Active_Member_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suite__c</field>
            <value>
                <elementReference>Get_Suite_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Suite</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Building_Parent_Campaign_Id</name>
        <label>Get Building Parent Campaign Id</label>
        <locationX>1018</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Building_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Home__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Building_Record.Home__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Home</stringValue>
            </value>
        </filters>
        <filters>
            <field>Home__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Building_Record</name>
        <label>Get Building Record</label>
        <locationX>1018</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Building_Parent_Campaign_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BuildingID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Building__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_City_of_Home</name>
        <label>Get City of Home</label>
        <locationX>754</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Suite_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Suite_Record.PropertyRef__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Property__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_City_Record</name>
        <label>Get City Record</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Brand_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>City__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Home_Parent_Campaign</name>
        <label>Get Home Parent Campaign</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Home_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>City__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Home_Record.City_object__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>City</stringValue>
            </value>
        </filters>
        <filters>
            <field>Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FormulaHomeBrand</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Home_Record</name>
        <label>Get Home Record</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Home_Parent_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HomeID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Property__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Suite_Parent_Campaign</name>
        <label>Get Suite Parent Campaign</label>
        <locationX>754</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_City_of_Home</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Building__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Suite_Record.Building__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Building</stringValue>
            </value>
        </filters>
        <filters>
            <field>Building__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Suite_Record</name>
        <label>Get Suite Record</label>
        <locationX>754</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Suite_Parent_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SuiteID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Apartment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RT_Active_Member_Campaign</name>
        <label>RT - Active Member Campaign</label>
        <locationX>451</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_City_Added</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Campaign</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active_Member_Campaign</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>325</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RT_Active_Member_Campaign</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>BuildingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HomeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SuiteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_BrandList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Campaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>var_Campaigns</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
</Flow>
