Sandbox/10-04-2025/force-app/main/default/flows/CIS_Suite_Mate_email_Scheduled_Batch_Flow_Lease_App.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>is_Start_Date_within_3_days</name>
        <label>is Start Date within 3 days</label>
        <locationX>270</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>within_3_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Date_of_Occupancy__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TodayPlusThree</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Type_Evaluation</targetReference>
            </connector>
            <label>within 3 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Type_Evaluation</name>
        <label>Opportunity Type Evaluation</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Normal_Move_In</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Common_Initial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Common_Backfill</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Common_Transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Suite_mate_email_sub_flow_lease_app</targetReference>
            </connector>
            <label>Normal Move In</label>
        </rules>
        <rules>
            <name>Transfer_Upon_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Common_Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Transfer_Upon_Renewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Suite_mate_email_sub_flow_lease_app</targetReference>
            </connector>
            <label>Transfer Upon Renewal</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TodayPlusThree</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 3</expression>
    </formulas>
    <interviewLabel>CIS - Suite Mate email Scheduled Batch Flow Lease App {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CIS - Suite Mate email Scheduled Batch Flow Lease App</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_Start_Date_within_3_days</targetReference>
        </connector>
        <filterLogic>1 AND 10 AND 11 AND 12 AND 2 AND 3 AND (4 OR 5 OR 6 OR 7) AND 8 AND 9</filterLogic>
        <filters>
            <field>Brand__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>noah</stringValue>
            </value>
        </filters>
        <filters>
            <field>Brand__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>kin</stringValue>
            </value>
        </filters>
        <filters>
            <field>NTE_Sent_for_Tentative_Move_in__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Common_Initial</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Common_Backfill</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Common_Transfer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Common_Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lease Application</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>private</stringValue>
            </value>
        </filters>
        <filters>
            <field>ApartmentRef__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TransferToSameRoom__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Member_Move_In_Task_Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-08-13</startDate>
            <startTime>15:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Suite_mate_email_sub_flow_lease_app</name>
        <label>Suite mate email sub flow lease app</label>
        <locationX>50</locationX>
        <locationY>660</locationY>
        <flowName>CIS_Suite_mate_email_Sub_flow_Lease_App</flowName>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
