Sandbox/10-04-2025/force-app/main/default/flows/CIS_Eviction_Ghosted_Suitemate_Turnover_Email_Sub_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Internal_Chatter_Notification_No_Campaign_Found</name>
        <label>Internal Chatter Notification - No Campaign Found</label>
        <locationX>799</locationX>
        <locationY>369</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>{!Get_Opportunity_Records.Name} met the criteria for suitemate email but the email was not sent because no campaign found related to the opportunity Suite. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>0F93u000000AlqNCAS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Group</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Platform_Event_List</name>
        <label>Add to Platform Event List</label>
        <locationX>1223</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>PELIST</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_All_Campaign_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Platform_Even_Record</name>
        <label>Set Platform Even Record</label>
        <locationX>1397</locationX>
        <locationY>333</locationY>
        <assignmentItems>
            <assignToReference>PE.From_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>members@common.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PE.From_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Common Member Support</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PE.Opportunity_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PE.SendGrid_Template_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>d-d076417a16fa4efa89250fab4e743a35</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PE.To_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_All_Campaign_Members.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PE.Suite_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Records.ApartmentRef__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PE.Account_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Records.Account.Preferred_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PE.Start_Date_of_Occupancy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Records.Start_Date_of_Occupancy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PE.Room_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Records.Room_Selected__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PE.Notice_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Records.Notice_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PE.Check_the_Checkbox__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Eviction_Ghosted_Notice_Sent__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Platform_Event_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Campaign_Found</name>
        <label>If Campaign Found?</label>
        <locationX>793</locationX>
        <locationY>153</locationY>
        <defaultConnector>
            <targetReference>Internal_Chatter_Notification_No_Campaign_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_of_Selected_Suite</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Campaign_Members_of_Campaign</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <description>This flow is getting invoked  &quot;CIS - Eviction/Ghosted Suitemate Turnover Email Scheduled Batch Flow Series&quot;</description>
    <interviewLabel>CIS - Eviction/Ghosted Suitemate Turnover Email Sub Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CIS - Eviction/Ghosted Suitemate Turnover Email Sub Flow</label>
    <loops>
        <name>Loop_Through_All_Campaign_Members</name>
        <label>Loop Through All Campaign Members</label>
        <locationX>1020</locationX>
        <locationY>333</locationY>
        <collectionReference>Get_All_Campaign_Members_of_Campaign</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Platform_Even_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Platform_Event_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Platform_Event_Records</name>
        <label>Create Platform Event Records</label>
        <locationX>1021</locationX>
        <locationY>547</locationY>
        <inputReference>PELIST</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Campaign_Members_of_Campaign</name>
        <label>Get All Campaign Members of Campaign</label>
        <locationX>1020</locationX>
        <locationY>150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_All_Campaign_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_of_Selected_Suite.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Records.Account.PersonContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_of_Selected_Suite</name>
        <label>Get Campaign of Selected Suite</label>
        <locationX>618</locationX>
        <locationY>151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Campaign_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Suite__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Records.ApartmentRef__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Suite__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Records</name>
        <label>Get Opportunity Records</label>
        <locationX>448</locationX>
        <locationY>151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Campaign_of_Selected_Suite</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>ApartmentRef__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>133</locationY>
        <connector>
            <targetReference>Get_Opportunity_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SendGrid_Email__e</objectType>
    </variables>
    <variables>
        <name>PELIST</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SendGrid_Email__e</objectType>
    </variables>
</Flow>
