Sandbox/10-04-2025/force-app/main/default/flows/CIS_Update_Contact_EmailOptOut_To_False.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Contact_to_List</name>
        <label>Add Contact to List</label>
        <locationX>138</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>ContactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opted_Out_to_Uncheck</name>
        <label>Set Opted Out to Uncheck</label>
        <locationX>138</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>Contact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.PersonContactID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.HasOptedOutOfEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contact_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Opportunities_Not_Blank</name>
        <label>If Opportunities Not Blank</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Opportunities</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>This flow will update contact EmailOptOut to unchecked</description>
    <environments>Default</environments>
    <interviewLabel>ALL - 12 AM Scheduled Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CIS - Update Contact EmailOptOut To False</label>
    <loops>
        <name>Loop_Through_Opportunities</name>
        <label>Loop Through Opportunities</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <assignNextValueToReference>Opportunity</assignNextValueToReference>
        <collectionReference>Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Opted_Out_to_Uncheck</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contact_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Member_Opportunity</name>
        <label>Get Member Opportunity</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Opportunities_Not_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Has_Member_Opted_Out_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Home_Committed__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Occupancy_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Member</stringValue>
            </value>
        </filters>
        <filters>
            <field>ApartmentRef__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Opportunities</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PersonContactID__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_List</name>
        <label>Update Contact List</label>
        <locationX>50</locationX>
        <locationY>876</locationY>
        <inputReference>ContactList</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Member_Opportunity</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-02-28</startDate>
            <startTime>19:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Opportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
