Sandbox/10-04-2025/force-app/main/default/flows/CIS_Update_Case_Information_From_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Case_Values</name>
        <label>Assign Case Values</label>
        <locationX>894</locationX>
        <locationY>226</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.Abandonment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Abandonment_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.If_something_was_left_in_the_room__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>If_something_was_left_in_the_room</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BlankChoice</name>
        <choiceText>-- None --</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <decisions>
        <name>Task_is_related_to_Case</name>
        <label>Task is related to Case</label>
        <locationX>532</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskRecord.WhatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskRecord.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Abandonment_Statuses</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Abandonment_Status__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>CIS - Update Case Information From Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CIS - Update Case Information From Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>CaseRecord</name>
        <label>CaseRecord</label>
        <locationX>715</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_Information_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskRecord.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>TaskRecord</name>
        <label>TaskRecord</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_is_related_to_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>894</locationX>
        <locationY>411</locationY>
        <connector>
            <targetReference>Case_Updated_Successfully_Screen</targetReference>
        </connector>
        <inputReference>CaseRecord</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Case_Updated_Successfully_Screen</name>
        <label>Case Updated Successfully</label>
        <locationX>1085</locationX>
        <locationY>411</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>message2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(196, 86, 63); font-family: sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;SUCCESS! &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;The case related to this task has been updated successfully. If you would like to make further changes please click on “Finish” and you’ll return to the original screen where you can make additional changes.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Case_Information_Screen</name>
        <label>Update Case Information Screen</label>
        <locationX>715</locationX>
        <locationY>226</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <fields>
            <name>Text1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: var(--marketing-font-family); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;UPDATE RELATED CASE:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: var(--font-size-copy); font-family: var(--marketing-font-family); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;*Reminder: you must click &quot;finish&quot; for the updates you make to post on the case.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Abandonment_Status</name>
            <choiceReferences>BlankChoice</choiceReferences>
            <choiceReferences>Abandonment_Statuses</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does the member still live in unit/room?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>If_something_was_left_in_the_room</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Was something left in the room?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>TaskRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
