Sandbox/10-04-2025/force-app/main/default/flows/Create_eVault_Order_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>getParkingSpots</name>
        <label>getAvailablleProducts</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <actionName>GetAvailableProducts</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>if_Evault_Found</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>family</name>
            <value>
                <elementReference>eVault</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>home</name>
            <value>
                <elementReference>Home_Chosen_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dateTwo</name>
            <value>
                <elementReference>Pick_the_End_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dateOne</name>
            <value>
                <elementReference>Pick_the_start_Date</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetAvailableProducts</nameSegment>
        <outputParameters>
            <assignToReference>PSProductList</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Check_Box_on_Opp</name>
        <label>Check Box on Opp</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>OpportunityRecord.eVault_Order_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_opportunity_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>if_Evault_Found</name>
        <label>if Evault Found</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PSProductList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Evault_Order</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_pricebook_2_entry_found</name>
        <label>Is pricebook 2 entry found</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>There_is_no_pricebook_entry_for_this_product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>pricebook_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectPriceBookEntryID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_eVault</targetReference>
            </connector>
            <label>pricebook not null</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ProductList</name>
        <dataType>String</dataType>
        <displayField>Id</displayField>
        <object>Product2</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PSProductChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Parking Spot</stringValue>
            </value>
        </filters>
        <filters>
            <field>Home__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityRecord.Home_Committed__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>SelectedProductID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>startDatePlus1</name>
        <dataType>Date</dataType>
        <expression>{!OpportunityRecord.Start_Date_of_Occupancy__c} + 1</expression>
    </formulas>
    <interviewLabel>Create eVault Order Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create eVault Order Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Order_Product</name>
        <label>Create Order Product</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Check_Box_on_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>OrderId</field>
            <value>
                <elementReference>CreatedOrderID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>SelectPriceBookEntryID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>SelectedProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Record</name>
        <label>Create Order Record</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignRecordIdToReference>CreatedOrderID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Order_Product</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>OpportunityRecord.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>Pick_the_start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>Pick_the_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home__c</field>
            <value>
                <elementReference>Home_Chosen_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OpportunityRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>SelectedPriceBook2ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>SelectedProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121i000000YGYcAAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shared_Spot_Opportunity__c</field>
            <value>
                <elementReference>CoupleOppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shared_Spot__c</field>
            <value>
                <elementReference>Is_this_a_couple_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>eVault_Code__c</field>
            <value>
                <elementReference>Evault_Code</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Details</name>
        <label>Get Opportunity Details</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pick_start_and_end_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OpportunityRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Start_Date_of_Occupancy__c</queriedFields>
        <queriedFields>End_Date_of_Occupancy__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Home_Committed__c</queriedFields>
        <queriedFields>Home_Committed_Name_Formula__c</queriedFields>
        <queriedFields>Couple__c</queriedFields>
        <queriedFields>Related_Opportunity_Couple__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_product_pricebook2_entry_id</name>
        <label>get product pricebook2 entry id</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_pricebook_2_entry_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedProductID</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>SelectPriceBookEntryID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedPriceBook2ID</assignToReference>
            <field>Pricebook2Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedProductPrice</assignToReference>
            <field>UnitPrice</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update_opportunity_record</name>
        <label>update opportunity record</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <inputReference>OpportunityRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Create_Evault_Order</name>
        <label>Create eVault Order</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_product_pricebook2_entry_id</targetReference>
        </connector>
        <fields>
            <name>NewOrderDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;On this screen you are creating an order with a product.  It will default some fields for you based on information from the opportunity.  Only fields with the red &quot;*&quot; are required. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>startDate</name>
            <fieldText>&lt;p&gt;Start Date: {!Pick_the_start_Date}&lt;/p&gt;&lt;p&gt;End Date: {!Pick_the_End_Date}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Parking_Spot</name>
            <extensionName>c:PicklistFromCollection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>PicklistFromCollection</name>
                <value>
                    <elementReference>PSProductList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ProductID</name>
                <value>
                    <elementReference>SelectedProductID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedProductID</assignToReference>
                <name>ProductID</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enter_eVault</name>
        <label>Enter eVault</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Order_Record</targetReference>
        </connector>
        <fields>
            <name>generate_Evault_Code</name>
            <fieldText>&lt;p&gt;Please go generate the eVault code and enter it here.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Evault_Code</name>
            <dataType>String</dataType>
            <fieldText>Evault Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message</name>
        <label>Message</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: Slack-Lato, appleLogo, sans-serif; color: rgb(251, 1, 1);&quot;&gt;Sorry there are no parking spots available for {!OpportunityRecord.Home_Committed_Name_Formula__c} at this moment.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pick_start_and_end_date</name>
        <label>Pick start and end date</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getParkingSpots</targetReference>
        </connector>
        <fields>
            <name>Pick_the_start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>OpportunityRecord.Start_Date_of_Occupancy__c</elementReference>
            </defaultValue>
            <fieldText>Pick the start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pick_the_End_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>OpportunityRecord.Start_Date_of_Occupancy__c</elementReference>
            </defaultValue>
            <fieldText>Pick the End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_this_a_couple_Opportunity</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>OpportunityRecord.Couple__c</elementReference>
            </defaultValue>
            <fieldText>Is this a couple Opportunity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CoupleOpp</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Related_Opportunity_Couple__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select the Couple opp</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>OpportunityRecord.Related_Opportunity_Couple__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CoupleOppId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Home_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Home_Committed__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Pick Home</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>OpportunityRecord.Home_Committed__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Home_Chosen_id</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(253, 7, 7); font-size: 16px;&quot;&gt;You have successfully created an eVault order for this opportunity. You can view it on the &quot;related&quot; tab to this opportunity. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>There_is_no_pricebook_entry_for_this_product</name>
        <label>There is no pricebook entry for this product</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Evault_Order</targetReference>
        </connector>
        <fields>
            <name>nullpricebookentry</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;There is no Pricebook entry for this product. Please add a pricebook entry or select a different product.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CoupleOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>OpportunityRecord.Related_Opportunity_Couple__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>CreatedOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>eVault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>eVault</stringValue>
        </value>
    </variables>
    <variables>
        <name>Home_Chosen</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Property__c</objectType>
    </variables>
    <variables>
        <name>Home_Chosen_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>OpportunityRecord.Home_Committed__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>OpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>PSProductList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedPriceBook2ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedProductPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SelectPriceBookEntryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
