Sandbox/10-04-2025/force-app/main/default/flows/Create_Opportunity_Notes_from_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <interviewLabel>Create Opportunity Notes from Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Opportunity Notes from Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity_Note</name>
        <label>Create Opportunity Note</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignRecordIdToReference>opportunitynoteid</assignRecordIdToReference>
        <connector>
            <targetReference>Thankyou</targetReference>
        </connector>
        <inputAssignments>
            <field>Note__c</field>
            <value>
                <elementReference>Opportunity_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Case_Record.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity_Note__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opportunity_Note</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Opportunity_Note</name>
        <label>Opportunity Note</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Notes</name>
            <fieldText>Opportunity Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thankyou</name>
        <label>Thankyou</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Thankyoutext</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Notes created successfully. Use following link for details.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://common.lightning.force.com/lightning/r/Opportunity_Note__c/{!opportunitynoteid}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://common.lightning.force.com/lightning/r/Opportunity_Note__c/{!opportunitynoteid}/view&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_Note</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>opportunitynoteid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
