Sandbox/10-04-2025/force-app/main/default/flows/CSS_Turnover_Notification_Email_Sub_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_PE_List</name>
        <label>Add to PE List</label>
        <locationX>1338</locationX>
        <locationY>235</locationY>
        <assignmentItems>
            <assignToReference>PEList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_All_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Platform_Even_Record</name>
        <label>Set Platform Even Record</label>
        <locationX>1338</locationX>
        <locationY>66</locationY>
        <assignmentItems>
            <assignToReference>PE.To_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_All_Members.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PE.End_Date_of_Occupancy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Previous_Occupancy_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PE.Suite_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Previous_Opportunity_Suite__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PE.Room_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Previous_Opportunity_Room__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PE.Opportunity_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PE.From_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>members@common.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PE.From_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Common Member Support</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PE.SendGrid_Template_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>d-f0b150c1a3924a7e8accb842638be3f6</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_PE_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Campaign_Found</name>
        <label>If Campaign Found</label>
        <locationX>812</locationX>
        <locationY>236</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_of_Selected_Suite</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Campaign_Members_of_Campaign</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>This flow is getting invoked &quot;CSS - Turnover Notification Email Scheduled Batch Flow Series&quot; (Move-in/Move-out)</description>
    <interviewLabel>CSS - Turnover Notification Email Sub Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSS - Turnover Notification Email Sub Flow</label>
    <loops>
        <name>Loop_Through_All_Members</name>
        <label>Loop Through All Members</label>
        <locationX>1144</locationX>
        <locationY>66</locationY>
        <collectionReference>Get_All_Campaign_Members_of_Campaign</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Platform_Even_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Platform_Event_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Platform_Event_Record</name>
        <label>Create Platform Event Record</label>
        <locationX>1144</locationX>
        <locationY>264</locationY>
        <connector>
            <targetReference>Update_Checkbox_on_Opportunity</targetReference>
        </connector>
        <inputReference>PEList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Campaign_Members_of_Campaign</name>
        <label>Get All Campaign Members of Campaign</label>
        <locationX>981</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_All_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_of_Selected_Suite.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Account.PersonContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_of_Selected_Suite</name>
        <label>Get Campaign of Selected Suite</label>
        <locationX>729</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Campaign_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Suite__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.ApartmentRef__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Suite__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>511</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Campaign_of_Selected_Suite</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Checkbox_on_Opportunity</name>
        <label>Update Checkbox on Opportunity</label>
        <locationX>1144</locationX>
        <locationY>468</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Turnover_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SendGrid_Email__e</objectType>
    </variables>
    <variables>
        <name>PEList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SendGrid_Email__e</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
