Sandbox/10-04-2025/force-app/main/default/flows/Deposit_Status_Change_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>No_Refund</name>
        <label>No Refund</label>
        <locationX>116</locationX>
        <locationY>1745</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Refund</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Refunded_Date_blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Past_Due</name>
        <label>Past Due</label>
        <locationX>116</locationX>
        <locationY>1145</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Past Due</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>today_is_Contract_end_date_and_Refunded_deadline_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Received_Date</name>
        <label>Populate Received Date</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Received_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Deposit_Type_Invoice.PaymentDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Contract_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Refunded</name>
        <label>Refunded</label>
        <locationX>116</locationX>
        <locationY>2045</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Refunded</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_Deposit</name>
        <label>Return Deposit</label>
        <locationX>116</locationX>
        <locationY>1445</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Return Deposit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adjustment_Amount_Original_Amount_or_Hold_Deposit_true</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_Transferred_to_New_Contract</name>
        <label>Set Status to Transferred to New Contract</label>
        <locationX>116</locationX>
        <locationY>845</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Transferred to New Contract</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Today_Refunded_Deadline_Date</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Adjustment_Amount_Original_Amount_or_Hold_Deposit_true</name>
        <label>Adjustment Amount ≥ Original Amount or Hold Deposit = true</label>
        <locationX>248</locationX>
        <locationY>1637</locationY>
        <defaultConnector>
            <targetReference>Refunded_Date_blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Adjustment_Amount_Original_Amount_or_Hold_Deposit_true</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AdjustmentAmount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OriginalAmount__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hold_Deposit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Refund</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contract_Status</name>
        <label>Check Contract Status</label>
        <locationX>248</locationX>
        <locationY>737</locationY>
        <defaultConnector>
            <targetReference>Today_Refunded_Deadline_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Changed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_to_Transferred_to_New_Contract</targetReference>
            </connector>
            <label>Contract Status Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Received_Date</name>
        <label>Check Received Date</label>
        <locationX>446</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Check_Contract_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Received_Date_is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Received_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Deposit_Type_Invoice</targetReference>
            </connector>
            <label>Received Date is blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Record</name>
        <label>Is New Record?</label>
        <locationX>248</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Check_Received_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FormulaIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deposit_Type_Invoice</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Refunded_Date_blank</name>
        <label>Refunded Date != blank</label>
        <locationX>248</locationX>
        <locationY>1937</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Refunded_Date_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RefundedDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Refunded</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>today_is_Contract_end_date_and_Refunded_deadline_date</name>
        <label>today is ≥ Contract end date and ≤ Refunded deadline date</label>
        <locationX>248</locationX>
        <locationY>1337</locationY>
        <defaultConnector>
            <targetReference>Adjustment_Amount_Original_Amount_or_Hold_Deposit_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_today_is_Contract_end_date_and_Refunded_deadline_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>FormulaContractEndDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RefundedDeadlineDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Deposit</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Today_Refunded_Deadline_Date</name>
        <label>Today &gt; Refunded Deadline Date</label>
        <locationX>248</locationX>
        <locationY>1037</locationY>
        <defaultConnector>
            <targetReference>today_is_Contract_end_date_and_Refunded_deadline_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Today_Refunded_Deadline_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ContractEndDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Past_Due</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ContractEndDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Contract__r.Contract_End_Date__c} - 1</expression>
    </formulas>
    <formulas>
        <name>FormulaContactEndDate28Days</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Contract__r.Contract_End_Date__c} + 28</expression>
    </formulas>
    <formulas>
        <name>FormulaContractEndDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Contract__r.Contract_End_Date__c} - 1</expression>
    </formulas>
    <formulas>
        <name>FormulaContractEndDate14Days</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Contract__r.Contract_End_Date__c} + 14</expression>
    </formulas>
    <formulas>
        <name>FormulaContractEndDate15Days</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Contract__r.Contract_End_Date__c} + 15</expression>
    </formulas>
    <formulas>
        <name>FormulaContractEndDate1Month</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.Contract__r.Contract_End_Date__c}, 1)</expression>
    </formulas>
    <formulas>
        <name>FormulaContractEndDate2Months</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.Contract__r.Contract_End_Date__c},2)</expression>
    </formulas>
    <formulas>
        <name>FormulaContractEndDate30Days</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Contract__r.Contract_End_Date__c} + 30</expression>
    </formulas>
    <formulas>
        <name>FormulaContractEndDate56Days</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Contract__r.Contract_End_Date__c} + 56</expression>
    </formulas>
    <formulas>
        <name>FormulaIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Deposit Status Change Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deposit Status Change Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Deposit_Type_Invoice</name>
        <label>Deposit Type Invoice</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Received_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deposit</stringValue>
            </value>
        </filters>
        <filters>
            <field>Deposit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New_Record</targetReference>
        </connector>
        <object>Deposit__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
