Sandbox/10-04-2025/force-app/main/default/flows/Engagement_checklist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>ContactId_is_NOT_Blank</name>
        <label>ContactId is NOT Blank</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>HasRSVPAnEvent</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Account_Record.of_RSVPs__c} &gt; 0, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>userContactId</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <interviewLabel>Engagement checklist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Engagement checklist</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Account_Record</name>
        <label>Account Record</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checklist_Screen1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactRecord.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ContactRecord</name>
        <label>ContactRecord</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Checklist_Screen1</name>
        <label>Checklist_Screen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayTextMostExperience</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;To get the most out of your onboarding experience, we recommend you:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Checklist1</name>
            <extensionName>c:checklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ischecked</name>
                <value>
                    <elementReference>Account_Record.Has_Downloaded_An_App__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>checkboxLabel</name>
                <value>
                    <stringValue>Download the Connect by Common app &lt;a href=&quot;https://itunes.apple.com/us/app/connect-by-common/id1427772300&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;  (for iOS only)</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Checklist2</name>
            <extensionName>c:checklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ischecked</name>
                <value>
                    <elementReference>HasRSVPAnEvent</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>checkboxLabel</name>
                <value>
                    <stringValue>RSVP for an event</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Checklist3</name>
            <extensionName>c:checklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ischecked</name>
                <value>
                    <elementReference>Account_Record.Has_Created_An_Event__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>checkboxLabel</name>
                <value>
                    <stringValue>Create an event</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ContactId_is_NOT_Blank</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
</Flow>
