Sandbox/10-04-2025/force-app/main/default/flows/FirstReminder_Roomie_Mass_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_email_0_0_0</name>
        <label>send email</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>update_contract</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Account.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>support@habyt.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>[Richiesta Intervento, Scaduta] Portale della Community di Habyt e Sistema di Pagamento Digitale</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>check_for_Account_email</name>
        <label>check for Account email</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>send_email_0_0_0</targetReference>
            </connector>
            <label>has email</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FirstReminder Roomie Mass Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FirstReminder Roomie Mass Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_contract</name>
        <label>update contract</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FifthReminder_Roomie_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>FifthReminder_Roomie_Email__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_for_Account_email</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 11 AND (5 OR 6 OR 7 OR 8 OR 9 OR 10)</filterLogic>
        <filters>
            <field>Stripe_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a081i00002dmSaDAAU</stringValue>
            </value>
        </filters>
        <filters>
            <field>StripeCustomerId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeDeveloperNameAuto__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Roomie_Email_Send__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Signed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Changed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Voided</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateValue>2022-07-01</dateValue>
            </value>
        </filters>
        <object>Contract</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2022-06-27</startDate>
            <startTime>17:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>emailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear Community,&amp;nbsp;&lt;/p&gt;&lt;p&gt;As you haven’t entered your payment details on the Habyt Community portal, &lt;strong&gt;&lt;u&gt;we&apos;d like to remind you that the deadline to do so is now overdue.&lt;/u&gt;&lt;/strong&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;We kindly ask you to &lt;strong&gt;urgently&lt;/strong&gt; re-enter your payment details using the following link &lt;strong&gt;at the end of the day. &lt;/strong&gt;Make sure to use the same email address you used to sign up with Roomie.&lt;/p&gt;&lt;p&gt;Habyt Community Portal: &lt;a href=&quot;http://habyt.com/login&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;habyt.com/login&lt;/a&gt;&lt;/p&gt;&lt;p&gt;There will be no additional charges to your account and your rental fees will remain the same. For the security of your information, you can always visit our &lt;a href=&quot;https://www.habyt.com/privacy-policy&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Privacy Policy&lt;/a&gt; page.&lt;/p&gt;&lt;p&gt;Let us know if you have any questions by submitting them through the portal &lt;a href=&quot;http://habyt.com/login&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;habyt.com/login&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;All the best&lt;/p&gt;&lt;p&gt;Your Habyt team&lt;/p&gt;&lt;p&gt;____________________________________________&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Gentili Inquilini,&lt;/p&gt;&lt;p&gt;Vi contattiamo perché non avete ancora inserito i vostri dati di pagamento nel portale della Community di Habyt e &lt;strong&gt;&lt;u&gt;vi ricordiamo che il termine per farlo è scaduto.&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Vi chiediamo gentilmente di reinserire con urgenza i vostri dati di pagamento utilizzando il seguente link entro fine giornata. Assicuratevi di utilizzare lo stesso indirizzo email che avete usato per contattare Roomie.&lt;/p&gt;&lt;p&gt;Portale della Community di Habyt: &lt;a href=&quot;http://habyt.com/login&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;habyt.com/login&lt;/a&gt;.&amp;nbsp;&lt;/p&gt;&lt;p&gt;Non ci saranno costi aggiuntivi e il canone di affitto continuerà a essere lo stesso. Per sapere di più sulla sicurezza delle vostre informazioni, consultate pure la nostra pagina sulla &lt;a href=&quot;https://www.habyt.com/privacy-policy&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Privacy Policy&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;Per maggiori dettagli o eventuali dubbi, controllate l&apos;e-mail inviata precedentemente o inviateci un messaggio tramite la pagina di supporto &lt;a href=&quot;https://www.habyt.com/login&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;habyt.com/login&lt;/a&gt;.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Cordiali saluti,&amp;nbsp;&lt;/p&gt;&lt;p&gt;Il Team di Habyt&lt;/p&gt;</text>
    </textTemplates>
</Flow>
