Sandbox/10-04-2025/force-app/main/default/flows/homefully_survey_for_2_days_after_contract_start_date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_80e89dbb_c020_45dc_a284_eb704ddc78eb</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_63e8aa2d_b878_4b96_afeb_b0beb97e148e</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_db7550b3_20c1_45b9_901a_d625b4cd03b5</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_658c65e6_4105_4341_9d4d_c7f999252ab7</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Homefully Survey for 2 days after contract start date</interviewLabel>
    <label>Homefully Survey for 2 days after contract start date</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_homefully_survey_for_2_days_af_f3681319_dc9f_4de2_bb44_a72adec92e65</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailSender</name>
        <value>
            <stringValue>noreply@homefully.de &lt;noreply@homefully.de&gt;</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailTemplate</name>
        <value>
            <stringValue>Embed_a_Survey_Link</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_InvitationSharingRole</name>
        <value>
            <stringValue>InvitationRecordCreator</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_63e8aa2d_b878_4b96_afeb_b0beb97e148e</name>
        <label>Page 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_db7550b3_20c1_45b9_901a_d625b4cd03b5</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_4f14cfa3_7dbf_4fab_95a5_201fd07b4b54_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_4f14cfa3_7dbf_4fab_95a5_201fd07b4b54</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;Google Sans&amp;quot;, Roboto, Helvetica, Arial, sans-serif;&quot;&gt;2a) How h&lt;/span&gt;&lt;b style=&quot;font-size: 16px; font-family: &amp;quot;Google Sans&amp;quot;, Roboto, Helvetica, Arial, sans-serif;&quot;&gt;&lt;/b&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;Google Sans&amp;quot;, Roboto, Helvetica, Arial, sans-serif;&quot;&gt;appy were you with the condition of your room?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_24b13c67_9fc6_446b_8242_649b71fed238</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Google Sans&amp;quot;, Roboto, Helvetica, Arial, sans-serif; font-size: 16px;&quot;&gt;2b) Any Issues? (If a ticket has been&lt;/span&gt;&lt;b style=&quot;font-family: &amp;quot;Google Sans&amp;quot;, Roboto, Helvetica, Arial, sans-serif; font-size: 16px;&quot;&gt;&lt;/b&gt;&lt;span style=&quot;font-family: &amp;quot;Google Sans&amp;quot;, Roboto, Helvetica, Arial, sans-serif; font-size: 16px;&quot;&gt; raised please state the reference number).&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_658c65e6_4105_4341_9d4d_c7f999252ab7</name>
        <label>Page 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_5730c1c9_d5c5_4760_bd88_bbd80a73df4b_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_5730c1c9_d5c5_4760_bd88_bbd80a73df4b</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;Google Sans&amp;quot;, Roboto, Helvetica, Arial, sans-serif;&quot;&gt;4a) On a scale of 1-5 how ha&lt;/span&gt;&lt;b style=&quot;font-size: 16px; font-family: &amp;quot;Google Sans&amp;quot;, Roboto, Helvetica, Arial, sans-serif;&quot;&gt;&lt;/b&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;Google Sans&amp;quot;, Roboto, Helvetica, Arial, sans-serif;&quot;&gt;ppy are you about your move in experience?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_acc62e7a_dfaa_45c4_91c8_57bddb2da19c</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Review us on google please!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: &amp;quot;Google Sans&amp;quot;, Roboto, Helvetica, Arial, sans-serif;&quot;&gt; &lt;/b&gt;&lt;a href=&quot;https://www.google.com/url?q=https://g.page/r/CfDhVwN9MdPAEAg/review&amp;amp;sa=D&amp;amp;source=editors&amp;amp;ust=1636644446508000&amp;amp;usg=AOvVaw1_ZPAqj0qr-KlgikM0DTWA&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; font-family: &amp;quot;Google Sans&amp;quot;, Roboto, Helvetica, Arial, sans-serif;&quot;&gt;&lt;b&gt;https://g.page/r/CfDhVwN9MdPAEAg/review&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>CSAT</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_5730c1c9_d5c5_4760_bd88_bbd80a73df4b</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>4.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6c86256a_14b2_4647_a294_e434721421d3</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Google Sans&amp;quot;, Roboto, Helvetica, Arial, sans-serif; font-size: 16px;&quot;&gt;4b) Were there any problems encored or have any comments you would like to add to help make the process more better?&lt;/span&gt;&lt;b style=&quot;font-family: &amp;quot;Google Sans&amp;quot;, Roboto, Helvetica, Arial, sans-serif; font-size: 16px;&quot;&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_80e89dbb_c020_45dc_a284_eb704ddc78eb</name>
        <label>Page 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_63e8aa2d_b878_4b96_afeb_b0beb97e148e</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_5afeb2c4_8f2b_4fe1_9d9a_ba638a64e9b9_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_5afeb2c4_8f2b_4fe1_9d9a_ba638a64e9b9</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Google Sans&amp;quot;, Roboto, Helvetica, Arial, sans-serif; font-size: 16px;&quot;&gt;1a) How happy were&lt;/span&gt;&lt;b style=&quot;font-family: &amp;quot;Google Sans&amp;quot;, Roboto, Helvetica, Arial, sans-serif; font-size: 16px;&quot;&gt;&lt;/b&gt;&lt;span style=&quot;font-family: &amp;quot;Google Sans&amp;quot;, Roboto, Helvetica, Arial, sans-serif; font-size: 16px;&quot;&gt; you with the communication from the &lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Erasmo&apos;s Room&lt;/span&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;Google Sans&amp;quot;, Roboto, Helvetica, Arial, sans-serif;&quot;&gt; team?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_200390bb_a340_404f_b28b_9cbd0b68ee66</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Google Sans&amp;quot;, Roboto, Helvetica, Arial, sans-serif; font-size: 16px;&quot;&gt;1b) Additional comments?&lt;/span&gt;&lt;b style=&quot;font-family: &amp;quot;Google Sans&amp;quot;, Roboto, Helvetica, Arial, sans-serif; font-size: 16px;&quot;&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_db7550b3_20c1_45b9_901a_d625b4cd03b5</name>
        <label>Page 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_658c65e6_4105_4341_9d4d_c7f999252ab7</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_951e87a4_6313_482e_98b5_6b5edfd99692_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_951e87a4_6313_482e_98b5_6b5edfd99692</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;Google Sans&amp;quot;, Roboto, Helvetica, Arial, sans-serif;&quot;&gt;3a) How happy were you with the condition of the common spaces?&lt;/span&gt;&lt;b style=&quot;font-size: 16px; font-family: &amp;quot;Google Sans&amp;quot;, Roboto, Helvetica, Arial, sans-serif;&quot;&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_df7f4ef3_afbd_47b7_9524_32e0c3d580fb</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;Google Sans&amp;quot;, Roboto, Helvetica, Arial, sans-serif;&quot;&gt;3b) Any Issues? (If a ticket has been r&lt;/span&gt;&lt;b style=&quot;font-size: 16px; font-family: &amp;quot;Google Sans&amp;quot;, Roboto, Helvetica, Arial, sans-serif;&quot;&gt;&lt;/b&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;Google Sans&amp;quot;, Roboto, Helvetica, Arial, sans-serif;&quot;&gt;aised please state the reference number).&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_80e89dbb_c020_45dc_a284_eb704ddc78eb</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: arial, sans-serif; font-size: 16px;&quot;&gt;We want to&amp;nbsp;thank you&amp;nbsp;for all&amp;nbsp;your feedback, and promise to keep up or even improve quality.&lt;/span&gt;&lt;b style=&quot;font-family: arial, sans-serif; font-size: 16px;&quot;&gt;&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;img src=&quot;https://habyt--c.documentforce.com/file-asset-public/homefully_logo?oid=00Dbh000000k2zi&amp;amp;v=1&quot; alt=&quot;homefully_logo&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;How was your Homefully move in?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Welcome to our community! We&apos;re glad to have you with us, and we hope your move in has gone smoothly. Please take a few minutes to share your feedback on your experience so that we can continue to improve our service and address any needs you may have. Thank you!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_4f14cfa3_7dbf_4fab_95a5_201fd07b4b54_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_5730c1c9_d5c5_4760_bd88_bbd80a73df4b_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_5afeb2c4_8f2b_4fe1_9d9a_ba638a64e9b9_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_951e87a4_6313_482e_98b5_6b5edfd99692_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
