Sandbox/10-04-2025/force-app/main/default/flows/Interpersonal_Dispute_Case_Screenflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>KnownCulprit</name>
        <choiceText>Known Culprit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Known Culprit</stringValue>
        </value>
    </choices>
    <choices>
        <name>UnknownCulprit</name>
        <choiceText>Unknown Culprit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown Culprit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>is_lease_violation_notice_true</name>
        <label>is lease violation notice true</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>create_a_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Steps_Taken</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Lease Violation Notice sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Date_lease_violation_input</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_notice_to_cure_true</name>
        <label>Is notice to cure true</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>is_lease_violation_notice_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Steps_Taken</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Notice to Cure Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Date_notice_to_cure_input</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>IssueTypeChoices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_Complaint__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StepsTakenChoiceSet</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Dispute_Steps_Taken__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CulpritBoolean</name>
        <dataType>Boolean</dataType>
        <expression>IF ( {!Select_if_the_culprit_is_known_or_not} ==  {!KnownCulprit}, TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>Interpersonal Dispute Case Screenflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Interpersonal Dispute Case Screenflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_a_case</name>
        <label>create a case</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Update_case</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accuser_s__c</field>
            <value>
                <elementReference>Accuser.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Account.PersonContactId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Culprit__c</field>
            <value>
                <elementReference>Culprit.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Lease_Violation_Notice_Sent__c</field>
            <value>
                <elementReference>Date_Lease_Violation_Notice_Sent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Notice_to_Cure_Sent__c</field>
            <value>
                <elementReference>Date_Notice_to_Cure_Sent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dispute_Steps_Taken__c</field>
            <value>
                <elementReference>Steps_Taken</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home__c</field>
            <value>
                <elementReference>HomeLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_this_a_dispute__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Sc000000pZDRIA2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Type_of_Complaint</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary_of_Complaint__c</field>
            <value>
                <elementReference>Summary_of_Complaint</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Third_Parties__c</field>
            <value>
                <elementReference>Third_Party_Non_members_involved</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Complaint__c</field>
            <value>
                <elementReference>Type_of_Complaint</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dispute_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_case</name>
        <label>Update case</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>EndPage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Accuser_s__c</field>
            <value>
                <elementReference>Accuser.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Culprit__c</field>
            <value>
                <elementReference>Culprit.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Lease_Violation_Notice_Sent__c</field>
            <value>
                <elementReference>Date_Lease_Violation_Notice_Sent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Notice_to_Cure_Sent__c</field>
            <value>
                <elementReference>Date_Notice_to_Cure_Sent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dispute_Steps_Taken__c</field>
            <value>
                <elementReference>Steps_Taken</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_this_a_dispute__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Sc000000pZDRIA2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Type_of_Complaint</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary_of_Complaint__c</field>
            <value>
                <elementReference>Summary_of_Complaint</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Third_Parties__c</field>
            <value>
                <elementReference>Third_Party_Non_members_involved</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Complaint__c</field>
            <value>
                <elementReference>Type_of_Complaint</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Accuser_Culprit</name>
        <label>Accuser/Culprit</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_notice_to_cure_true</targetReference>
        </connector>
        <fields>
            <name>Accuser</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Accuser_s__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Accuser</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Culprit</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Culprit__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Culprit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <elementReference>CulpritBoolean</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Third_Party_Non_members_involved</name>
            <fieldText>Witnesses (including non-members) or additional Accusers/Culprits</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Steps_Taken</name>
            <choiceReferences>StepsTakenChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Steps Taken</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Date_lease_violation_input</name>
        <label>Date lease violation input</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create_a_case</targetReference>
        </connector>
        <fields>
            <name>Date_Lease_Violation_Notice_Sent</name>
            <dataType>Date</dataType>
            <fieldText>Date Lease Violation Notice Sent</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Date_notice_to_cure_input</name>
        <label>Date notice to cure input</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>is_lease_violation_notice_true</targetReference>
        </connector>
        <fields>
            <name>Date_Notice_to_Cure_Sent</name>
            <dataType>Date</dataType>
            <fieldText>Date Notice to Cure Sent</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dispute_case</name>
        <label>Dispute case</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Accuser_Culprit</targetReference>
        </connector>
        <fields>
            <name>pleaseFillOutText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(42, 42, 42); font-family: &amp;quot;Open Sans&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;Please fill out the following fields to log this interpersonal dispute&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Type_of_Complaint</name>
            <choiceReferences>IssueTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Complaint (Hold Ctrl to select more than one)</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Summary_of_Complaint</name>
            <fieldText>Summary of Complaint</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_if_the_culprit_is_known_or_not</name>
            <choiceReferences>KnownCulprit</choiceReferences>
            <choiceReferences>UnknownCulprit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select if the culprit is known or not.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HomeLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Home__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Home</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <elementReference>True</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EndPage</name>
        <label>EndPage</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TyForLoggingDispute</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Thank you for logging this dispute&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
