Sandbox/10-04-2025/force-app/main/default/flows/JBSystemFlow_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj1ae350251beb31c4a7558f42f5a70227_FireJBTrigger</name>
        <label>SalesforceObj1ae350251beb31c4a7558f42f5a70227_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;AccountId&quot;,
  &quot;relationshipName&quot;: &quot;Account&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Account&quot;,
  &quot;fieldName&quot;: &quot;PersonContactId&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj1ae350251beb31c4a7558f42f5a70227</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>534009301</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;City__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;City_Lookup__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:City_Lookup__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;StageName&quot;,&quot;Phone_number__c&quot;,&quot;Stage_Status__c&quot;,&quot;Home_Committed_Calendly_URL__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Owner:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj342de9a51b76658e12b207786275e27d_FireJBTrigger</name>
        <label>SalesforceObj342de9a51b76658e12b207786275e27d_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj4cf11ae10bd83fe58607a0172699a168</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj4cf11ae10bd83fe58607a0172699a168</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;AccountId&quot;,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj342de9a51b76658e12b207786275e27d</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>534009301</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;,&quot;PersonMobilePhone&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;StageName&quot;,&quot;Stage_Status__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Leasing_Administrator__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Leasing_Administrator__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Property__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Home_Committed__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Home_Committed__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Marketing_Name__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj4cf11ae10bd83fe58607a0172699a168_FireJBTrigger</name>
        <label>SalesforceObj4cf11ae10bd83fe58607a0172699a168_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja01556588d142136fb367aee71823318</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja01556588d142136fb367aee71823318</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;AccountId&quot;,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj4cf11ae10bd83fe58607a0172699a168</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>534009301</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;,&quot;PersonMobilePhone&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;StageName&quot;,&quot;Stage_Status__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Property__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Home_Committed__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Home_Committed__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Marketing_Name__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Leasing_Administrator__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Leasing_Administrator__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj4d250ae174037a3dafb8d8664d2faff3_FireJBTrigger</name>
        <label>SalesforceObj4d250ae174037a3dafb8d8664d2faff3_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj342de9a51b76658e12b207786275e27d</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj342de9a51b76658e12b207786275e27d</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;AccountId&quot;,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj4d250ae174037a3dafb8d8664d2faff3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>534009301</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;,&quot;PersonMobilePhone&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;StageName&quot;,&quot;Stage_Status__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Property__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Home_Committed__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Home_Committed__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Marketing_Name__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Leasing_Administrator__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Leasing_Administrator__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj64a25196d3738ea8e1bb72cb3ff29f8c_FireJBTrigger</name>
        <label>SalesforceObj64a25196d3738ea8e1bb72cb3ff29f8c_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1ae350251beb31c4a7558f42f5a70227</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1ae350251beb31c4a7558f42f5a70227</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;AccountId&quot;,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj64a25196d3738ea8e1bb72cb3ff29f8c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>534009301</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;,&quot;PersonMobilePhone&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Apartment__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;ApartmentRef__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:ApartmentRef__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Product_type__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Property__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Home_Committed__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Home_Committed__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Marketing_Name__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Leasing_Administrator__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Leasing_Administrator__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;StageName&quot;,&quot;Stage_Status__c&quot;,&quot;Onboarding_Link__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj6ca185665ed6e2bb8fd64bfc169da70b_FireJBTrigger</name>
        <label>SalesforceObj6ca185665ed6e2bb8fd64bfc169da70b_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjf1f2f8a7dda062a5b5d1fddacf5799d8</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjf1f2f8a7dda062a5b5d1fddacf5799d8</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;AccountId&quot;,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj6ca185665ed6e2bb8fd64bfc169da70b</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>534009301</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Phone_number__c&quot;,&quot;Home_Committed_Calendly_URL__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Owner:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;LastName&quot;,&quot;FirstName&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj880a69070fd63a3ce995832daa9db1cb_FireJBTrigger</name>
        <label>SalesforceObj880a69070fd63a3ce995832daa9db1cb_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6ca185665ed6e2bb8fd64bfc169da70b</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6ca185665ed6e2bb8fd64bfc169da70b</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;AccountId&quot;,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj880a69070fd63a3ce995832daa9db1cb</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>534009301</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;StageName&quot;,&quot;Phone_number__c&quot;,&quot;Stage_Status__c&quot;,&quot;Home_Committed_Calendly_URL__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;City__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;City_Lookup__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:City_Lookup__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Owner:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObja01556588d142136fb367aee71823318_FireJBTrigger</name>
        <label>SalesforceObja01556588d142136fb367aee71823318_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj64a25196d3738ea8e1bb72cb3ff29f8c</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj64a25196d3738ea8e1bb72cb3ff29f8c</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;AccountId&quot;,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObja01556588d142136fb367aee71823318</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>534009301</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;,&quot;PersonMobilePhone&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;StageName&quot;,&quot;Stage_Status__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Leasing_Administrator__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Leasing_Administrator__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjf1f2f8a7dda062a5b5d1fddacf5799d8_FireJBTrigger</name>
        <label>SalesforceObjf1f2f8a7dda062a5b5d1fddacf5799d8_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjfd204f2fc36485dd2f7249f6905daa1d</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjfd204f2fc36485dd2f7249f6905daa1d</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;AccountId&quot;,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjf1f2f8a7dda062a5b5d1fddacf5799d8</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>534009301</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;City__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;City_Lookup__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:City_Lookup__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Property__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Home_Committed__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Home_Committed__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Marketing_Name__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Leasing_Administrator__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Leasing_Administrator__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;StageName&quot;,&quot;Phone_number__c&quot;,&quot;Stage_Status__c&quot;,&quot;Home_Committed_Calendly_URL__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Owner:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjfd204f2fc36485dd2f7249f6905daa1d_FireJBTrigger</name>
        <label>SalesforceObjfd204f2fc36485dd2f7249f6905daa1d_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj4d250ae174037a3dafb8d8664d2faff3</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj4d250ae174037a3dafb8d8664d2faff3</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;AccountId&quot;,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjfd204f2fc36485dd2f7249f6905daa1d</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>534009301</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;,&quot;PersonMobilePhone&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;StageName&quot;,&quot;Stage_Status__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Property__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Home_Committed__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Home_Committed__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Marketing_Name__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Leasing_Administrator__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Leasing_Administrator__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj1ae350251beb31c4a7558f42f5a70227</name>
        <label>JB_Decision_Null_Check_SalesforceObj1ae350251beb31c4a7558f42f5a70227</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj1ae350251beb31c4a7558f42f5a70227_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj1ae350251beb31c4a7558f42f5a70227_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj1ae350251beb31c4a7558f42f5a70227_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj1ae350251beb31c4a7558f42f5a70227_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj1ae350251beb31c4a7558f42f5a70227_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj342de9a51b76658e12b207786275e27d</name>
        <label>JB_Decision_Null_Check_SalesforceObj342de9a51b76658e12b207786275e27d</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj4cf11ae10bd83fe58607a0172699a168</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj342de9a51b76658e12b207786275e27d_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj4cf11ae10bd83fe58607a0172699a168</targetReference>
            </connector>
            <label>JB_SalesforceObj342de9a51b76658e12b207786275e27d_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj342de9a51b76658e12b207786275e27d_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj342de9a51b76658e12b207786275e27d_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj342de9a51b76658e12b207786275e27d_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj4cf11ae10bd83fe58607a0172699a168</name>
        <label>JB_Decision_Null_Check_SalesforceObj4cf11ae10bd83fe58607a0172699a168</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja01556588d142136fb367aee71823318</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj4cf11ae10bd83fe58607a0172699a168_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObja01556588d142136fb367aee71823318</targetReference>
            </connector>
            <label>JB_SalesforceObj4cf11ae10bd83fe58607a0172699a168_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj4cf11ae10bd83fe58607a0172699a168_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj4cf11ae10bd83fe58607a0172699a168_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj4cf11ae10bd83fe58607a0172699a168_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj4d250ae174037a3dafb8d8664d2faff3</name>
        <label>JB_Decision_Null_Check_SalesforceObj4d250ae174037a3dafb8d8664d2faff3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj342de9a51b76658e12b207786275e27d</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj4d250ae174037a3dafb8d8664d2faff3_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj342de9a51b76658e12b207786275e27d</targetReference>
            </connector>
            <label>JB_SalesforceObj4d250ae174037a3dafb8d8664d2faff3_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj4d250ae174037a3dafb8d8664d2faff3_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj4d250ae174037a3dafb8d8664d2faff3_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj4d250ae174037a3dafb8d8664d2faff3_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj64a25196d3738ea8e1bb72cb3ff29f8c</name>
        <label>JB_Decision_Null_Check_SalesforceObj64a25196d3738ea8e1bb72cb3ff29f8c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1ae350251beb31c4a7558f42f5a70227</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj64a25196d3738ea8e1bb72cb3ff29f8c_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj1ae350251beb31c4a7558f42f5a70227</targetReference>
            </connector>
            <label>JB_SalesforceObj64a25196d3738ea8e1bb72cb3ff29f8c_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj64a25196d3738ea8e1bb72cb3ff29f8c_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj64a25196d3738ea8e1bb72cb3ff29f8c_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj64a25196d3738ea8e1bb72cb3ff29f8c_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj6ca185665ed6e2bb8fd64bfc169da70b</name>
        <label>JB_Decision_Null_Check_SalesforceObj6ca185665ed6e2bb8fd64bfc169da70b</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjf1f2f8a7dda062a5b5d1fddacf5799d8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj6ca185665ed6e2bb8fd64bfc169da70b_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjf1f2f8a7dda062a5b5d1fddacf5799d8</targetReference>
            </connector>
            <label>JB_SalesforceObj6ca185665ed6e2bb8fd64bfc169da70b_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj6ca185665ed6e2bb8fd64bfc169da70b_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj6ca185665ed6e2bb8fd64bfc169da70b_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj6ca185665ed6e2bb8fd64bfc169da70b_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj880a69070fd63a3ce995832daa9db1cb</name>
        <label>JB_Decision_Null_Check_SalesforceObj880a69070fd63a3ce995832daa9db1cb</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6ca185665ed6e2bb8fd64bfc169da70b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj880a69070fd63a3ce995832daa9db1cb_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj6ca185665ed6e2bb8fd64bfc169da70b</targetReference>
            </connector>
            <label>JB_SalesforceObj880a69070fd63a3ce995832daa9db1cb_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj880a69070fd63a3ce995832daa9db1cb_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj880a69070fd63a3ce995832daa9db1cb_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj880a69070fd63a3ce995832daa9db1cb_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObja01556588d142136fb367aee71823318</name>
        <label>JB_Decision_Null_Check_SalesforceObja01556588d142136fb367aee71823318</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj64a25196d3738ea8e1bb72cb3ff29f8c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObja01556588d142136fb367aee71823318_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj64a25196d3738ea8e1bb72cb3ff29f8c</targetReference>
            </connector>
            <label>JB_SalesforceObja01556588d142136fb367aee71823318_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObja01556588d142136fb367aee71823318_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja01556588d142136fb367aee71823318_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObja01556588d142136fb367aee71823318_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjf1f2f8a7dda062a5b5d1fddacf5799d8</name>
        <label>JB_Decision_Null_Check_SalesforceObjf1f2f8a7dda062a5b5d1fddacf5799d8</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjfd204f2fc36485dd2f7249f6905daa1d</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjf1f2f8a7dda062a5b5d1fddacf5799d8_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjfd204f2fc36485dd2f7249f6905daa1d</targetReference>
            </connector>
            <label>JB_SalesforceObjf1f2f8a7dda062a5b5d1fddacf5799d8_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjf1f2f8a7dda062a5b5d1fddacf5799d8_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjf1f2f8a7dda062a5b5d1fddacf5799d8_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjf1f2f8a7dda062a5b5d1fddacf5799d8_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjfd204f2fc36485dd2f7249f6905daa1d</name>
        <label>JB_Decision_Null_Check_SalesforceObjfd204f2fc36485dd2f7249f6905daa1d</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj4d250ae174037a3dafb8d8664d2faff3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjfd204f2fc36485dd2f7249f6905daa1d_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj4d250ae174037a3dafb8d8664d2faff3</targetReference>
            </connector>
            <label>JB_SalesforceObjfd204f2fc36485dd2f7249f6905daa1d_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjfd204f2fc36485dd2f7249f6905daa1d_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjfd204f2fc36485dd2f7249f6905daa1d_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjfd204f2fc36485dd2f7249f6905daa1d_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj1ae350251beb31c4a7558f42f5a70227_Decision</name>
        <label>JB_SalesforceObj1ae350251beb31c4a7558f42f5a70227_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj1ae350251beb31c4a7558f42f5a70227</name>
            <conditionLogic>( ( (1 AND 2)  AND  (3 AND 4) )  AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.City_Lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Stage_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unresponsive - Touch 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity_Owner_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>API Habyt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj1ae350251beb31c4a7558f42f5a70227_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj1ae350251beb31c4a7558f42f5a70227</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj1ae350251beb31c4a7558f42f5a70227_State_change_Decision</name>
        <label>JB_SalesforceObj1ae350251beb31c4a7558f42f5a70227_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj1ae350251beb31c4a7558f42f5a70227</name>
            <conditionLogic>NOT  ( ( (1 AND 2)  AND  (3 AND 4) )  AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.City_Lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Stage_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unresponsive - Touch 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Opportunity_Owner_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>API Habyt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj1ae350251beb31c4a7558f42f5a70227_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj1ae350251beb31c4a7558f42f5a70227</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj342de9a51b76658e12b207786275e27d_Decision</name>
        <label>JB_SalesforceObj342de9a51b76658e12b207786275e27d_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj4cf11ae10bd83fe58607a0172699a168</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj342de9a51b76658e12b207786275e27d</name>
            <conditionLogic>(1 AND  (2 AND 3) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Stage_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Screening Denied</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.BrandRef__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0P1i00000AGSF1EAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj342de9a51b76658e12b207786275e27d_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj342de9a51b76658e12b207786275e27d</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj342de9a51b76658e12b207786275e27d_State_change_Decision</name>
        <label>JB_SalesforceObj342de9a51b76658e12b207786275e27d_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj4cf11ae10bd83fe58607a0172699a168</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj342de9a51b76658e12b207786275e27d</name>
            <conditionLogic>NOT  (1 AND  (2 AND 3) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Stage_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Screening Denied</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.BrandRef__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0P1i00000AGSF1EAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj342de9a51b76658e12b207786275e27d_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj342de9a51b76658e12b207786275e27d</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj4cf11ae10bd83fe58607a0172699a168_Decision</name>
        <label>JB_SalesforceObj4cf11ae10bd83fe58607a0172699a168_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja01556588d142136fb367aee71823318</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj4cf11ae10bd83fe58607a0172699a168</name>
            <conditionLogic>(1 AND  (2 AND 3) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Stage_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lease Partially Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.BrandRef__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0P1i00000AGSF1EAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj4cf11ae10bd83fe58607a0172699a168_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj4cf11ae10bd83fe58607a0172699a168</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj4cf11ae10bd83fe58607a0172699a168_State_change_Decision</name>
        <label>JB_SalesforceObj4cf11ae10bd83fe58607a0172699a168_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja01556588d142136fb367aee71823318</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj4cf11ae10bd83fe58607a0172699a168</name>
            <conditionLogic>NOT  (1 AND  (2 AND 3) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Stage_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lease Partially Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.BrandRef__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0P1i00000AGSF1EAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj4cf11ae10bd83fe58607a0172699a168_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj4cf11ae10bd83fe58607a0172699a168</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj4d250ae174037a3dafb8d8664d2faff3_Decision</name>
        <label>JB_SalesforceObj4d250ae174037a3dafb8d8664d2faff3_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj342de9a51b76658e12b207786275e27d</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj4d250ae174037a3dafb8d8664d2faff3</name>
            <conditionLogic>(1 AND  (2 AND 3) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Stage_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Screening Conditionally Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.BrandRef__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0P1i00000AGSF1EAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj4d250ae174037a3dafb8d8664d2faff3_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj4d250ae174037a3dafb8d8664d2faff3</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj4d250ae174037a3dafb8d8664d2faff3_State_change_Decision</name>
        <label>JB_SalesforceObj4d250ae174037a3dafb8d8664d2faff3_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj342de9a51b76658e12b207786275e27d</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj4d250ae174037a3dafb8d8664d2faff3</name>
            <conditionLogic>NOT  (1 AND  (2 AND 3) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Stage_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Screening Conditionally Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.BrandRef__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0P1i00000AGSF1EAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj4d250ae174037a3dafb8d8664d2faff3_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj4d250ae174037a3dafb8d8664d2faff3</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj64a25196d3738ea8e1bb72cb3ff29f8c_Decision</name>
        <label>JB_SalesforceObj64a25196d3738ea8e1bb72cb3ff29f8c_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1ae350251beb31c4a7558f42f5a70227</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj64a25196d3738ea8e1bb72cb3ff29f8c</name>
            <conditionLogic>( (1 AND 2)  AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Stage_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding Link Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.BrandRef__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0P1i00000AGSF1EAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj64a25196d3738ea8e1bb72cb3ff29f8c_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj64a25196d3738ea8e1bb72cb3ff29f8c</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj64a25196d3738ea8e1bb72cb3ff29f8c_State_change_Decision</name>
        <label>JB_SalesforceObj64a25196d3738ea8e1bb72cb3ff29f8c_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1ae350251beb31c4a7558f42f5a70227</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj64a25196d3738ea8e1bb72cb3ff29f8c</name>
            <conditionLogic>NOT  ( (1 AND 2)  AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Stage_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding Link Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.BrandRef__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0P1i00000AGSF1EAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj64a25196d3738ea8e1bb72cb3ff29f8c_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj64a25196d3738ea8e1bb72cb3ff29f8c</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj6ca185665ed6e2bb8fd64bfc169da70b_Decision</name>
        <label>JB_SalesforceObj6ca185665ed6e2bb8fd64bfc169da70b_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjf1f2f8a7dda062a5b5d1fddacf5799d8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj6ca185665ed6e2bb8fd64bfc169da70b</name>
            <conditionLogic>( ( (1 AND  ( (2 AND 3)  AND 4) )  AND 5)  AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Stage_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unresponsive - Touch 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_First_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity_Owner_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>API Habyt</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Email_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>kyle.petersson@common.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj6ca185665ed6e2bb8fd64bfc169da70b_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj6ca185665ed6e2bb8fd64bfc169da70b</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj6ca185665ed6e2bb8fd64bfc169da70b_State_change_Decision</name>
        <label>JB_SalesforceObj6ca185665ed6e2bb8fd64bfc169da70b_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjf1f2f8a7dda062a5b5d1fddacf5799d8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj6ca185665ed6e2bb8fd64bfc169da70b</name>
            <conditionLogic>NOT  ( ( (1 AND  ( (2 AND 3)  AND 4) )  AND 5)  AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Stage_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unresponsive - Touch 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Account_First_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Opportunity_Owner_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>API Habyt</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Email_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>kyle.petersson@common.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj6ca185665ed6e2bb8fd64bfc169da70b_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj6ca185665ed6e2bb8fd64bfc169da70b</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj880a69070fd63a3ce995832daa9db1cb_Decision</name>
        <label>JB_SalesforceObj880a69070fd63a3ce995832daa9db1cb_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6ca185665ed6e2bb8fd64bfc169da70b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj880a69070fd63a3ce995832daa9db1cb</name>
            <conditionLogic>( ( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)  AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.City__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Stage_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unable to Speak</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity_Owner_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>API Habyt</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Email_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>kyle.petersson@common.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj880a69070fd63a3ce995832daa9db1cb_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj880a69070fd63a3ce995832daa9db1cb</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj880a69070fd63a3ce995832daa9db1cb_State_change_Decision</name>
        <label>JB_SalesforceObj880a69070fd63a3ce995832daa9db1cb_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6ca185665ed6e2bb8fd64bfc169da70b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj880a69070fd63a3ce995832daa9db1cb</name>
            <conditionLogic>NOT  ( ( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)  AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.City__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Stage_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unable to Speak</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Opportunity_Owner_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>API Habyt</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Email_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>kyle.petersson@common.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj880a69070fd63a3ce995832daa9db1cb_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj880a69070fd63a3ce995832daa9db1cb</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObja01556588d142136fb367aee71823318_Decision</name>
        <label>JB_SalesforceObja01556588d142136fb367aee71823318_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj64a25196d3738ea8e1bb72cb3ff29f8c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObja01556588d142136fb367aee71823318</name>
            <conditionLogic>(1 AND  (2 AND 3) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Stage_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lease Completed - Awaiting Countersignature</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.BrandRef__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0P1i00000AGSF1EAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObja01556588d142136fb367aee71823318_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObja01556588d142136fb367aee71823318</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObja01556588d142136fb367aee71823318_State_change_Decision</name>
        <label>JB_SalesforceObja01556588d142136fb367aee71823318_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj64a25196d3738ea8e1bb72cb3ff29f8c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObja01556588d142136fb367aee71823318</name>
            <conditionLogic>NOT  (1 AND  (2 AND 3) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Stage_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lease Completed - Awaiting Countersignature</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.BrandRef__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0P1i00000AGSF1EAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja01556588d142136fb367aee71823318_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObja01556588d142136fb367aee71823318</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjf1f2f8a7dda062a5b5d1fddacf5799d8_Decision</name>
        <label>JB_SalesforceObjf1f2f8a7dda062a5b5d1fddacf5799d8_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjfd204f2fc36485dd2f7249f6905daa1d</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjf1f2f8a7dda062a5b5d1fddacf5799d8</name>
            <conditionLogic>( ( ( (1 AND 2)  AND 3)  AND  (4 AND 5) )  AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Home_Committed__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.City_Lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Stage_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unresponsive - Touch 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity_Owner_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>API Habyt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjf1f2f8a7dda062a5b5d1fddacf5799d8_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjf1f2f8a7dda062a5b5d1fddacf5799d8</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjf1f2f8a7dda062a5b5d1fddacf5799d8_State_change_Decision</name>
        <label>JB_SalesforceObjf1f2f8a7dda062a5b5d1fddacf5799d8_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjfd204f2fc36485dd2f7249f6905daa1d</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjf1f2f8a7dda062a5b5d1fddacf5799d8</name>
            <conditionLogic>NOT  ( ( ( (1 AND 2)  AND 3)  AND  (4 AND 5) )  AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Home_Committed__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.City_Lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Stage_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unresponsive - Touch 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Opportunity_Owner_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>API Habyt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjf1f2f8a7dda062a5b5d1fddacf5799d8_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjf1f2f8a7dda062a5b5d1fddacf5799d8</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjfd204f2fc36485dd2f7249f6905daa1d_Decision</name>
        <label>JB_SalesforceObjfd204f2fc36485dd2f7249f6905daa1d_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj4d250ae174037a3dafb8d8664d2faff3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjfd204f2fc36485dd2f7249f6905daa1d</name>
            <conditionLogic>(1 AND  (2 AND 3) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Stage_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Screening in Progress - Awaiting GTR Docs</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.BrandRef__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0P1i00000AGSF1EAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjfd204f2fc36485dd2f7249f6905daa1d_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjfd204f2fc36485dd2f7249f6905daa1d</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjfd204f2fc36485dd2f7249f6905daa1d_State_change_Decision</name>
        <label>JB_SalesforceObjfd204f2fc36485dd2f7249f6905daa1d_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj4d250ae174037a3dafb8d8664d2faff3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjfd204f2fc36485dd2f7249f6905daa1d</name>
            <conditionLogic>NOT  (1 AND  (2 AND 3) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Stage_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Screening in Progress - Awaiting GTR Docs</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.BrandRef__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0P1i00000AGSF1EAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjfd204f2fc36485dd2f7249f6905daa1d_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjfd204f2fc36485dd2f7249f6905daa1d</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Opportunity</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj880a69070fd63a3ce995832daa9db1cb</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
