Sandbox/10-04-2025/force-app/main/default/flows/Move_In_Check_In_Task_for_Transfers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>ConstantTaskDesc</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Complete this task by the Due Date</stringValue>
        </value>
    </constants>
    <constants>
        <name>ConstantTaskSubject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Move-In Check-In (Transfer)</stringValue>
        </value>
    </constants>
    <decisions>
        <name>ExistingTaskFound</name>
        <label>ExistingTaskFound</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Task_Move_In_Check_In_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ExistingTaskFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingTaskLookup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteExistingTask</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Move_In_Check_In_for_Transfer</name>
        <label>Move-In Check-In for Transfer</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Move_In_Check_In_for_Transfer</name>
            <conditionLogic>1 AND 2 and (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>var_Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Member</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Record.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Common_Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Common_Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Record.BrandRef__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Common</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExistingTaskLookup</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>From Common - Flow_Automated_Check_In_Tasks_for_CSM_Team</description>
    <environments>Default</environments>
    <formulas>
        <name>FormulaDueDate</name>
        <dataType>Date</dataType>
        <expression>{!var_Record.Start_Date_of_Occupancy__c} + 2</expression>
    </formulas>
    <formulas>
        <name>FormulaOwnerId</name>
        <dataType>String</dataType>
        <expression>IF(
AND(NOT(ISNULL({!var_Record.Home_Committed__c})), NOT(ISNULL({!var_Record.Home_Committed__r.Onboarding_and_Experience_Manager__c}))),
{!var_Record.Home_Committed__r.Onboarding_and_Experience_Manager__c},
{!$User.Id}
)</expression>
    </formulas>
    <interviewLabel>Move-In Check-In Task for Transfers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Move-In Check-In Task for Transfers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Check_In_Task</name>
        <label>Check In Task</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>var_Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FormulaDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>ConstantTaskDesc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home__c</field>
            <value>
                <elementReference>var_Record.Home_Committed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Task_Record_Type__c</field>
            <value>
                <elementReference>var_Record.RecordType.DeveloperName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0051i000004i3ikAAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_CSM_Subject__c</field>
            <value>
                <elementReference>ConstantTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Task_Move_In_Check_In_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room__c</field>
            <value>
                <elementReference>var_Record.Room_Selected__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ConstantTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Move-In Check-In</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>var_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>DeleteExistingTask</name>
        <label>DeleteExistingTask</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <inputReference>ExistingTaskLookup</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>From Flow - Automated Check-In Tasks for CSM Team flow</description>
        <name>ExistingTaskLookup</name>
        <label>ExistingTaskLookup</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExistingTaskFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Move-In Check-In</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Task_Move_In_Check_In_RT</name>
        <label>Task - Move_In_Check_In RT</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_In_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Move_In_Check_In</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Move_In_Check_In_for_Transfer</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>var_PriorRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>var_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
