Sandbox/10-04-2025/force-app/main/default/flows/Populate_Onboarding_Link_on_the_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Suite_Occupancy_Type_Coliving</name>
        <label>Suite Occupancy Type = Coliving</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApartmentRef__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApartmentRef__r.Product_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Co-living</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Onboarding_Link</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>OnboardingLinkFormula</name>
        <dataType>String</dataType>
        <expression>&quot;https://leasing.common.com/coliving/&quot;&amp;SUBSTITUTE({!$Record.Lease_Id__c}, &quot;e&quot;, &quot;&quot;)&amp;&quot;/&quot;&amp;SUBSTITUTE({!$Record.Lease_Interval_Id__c}, &quot;e&quot;, &quot;&quot;)&amp;&quot;/&quot;&amp;SUBSTITUTE({!$Record.Customer_Id__c}, &quot;e&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Populate Onboarding Link on the Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate Onboarding Link on the Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Onboarding_Link</name>
        <label>Update Onboarding Link</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Onboarding_Link__c</field>
            <value>
                <elementReference>OnboardingLinkFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Suite_Occupancy_Type_Coliving</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>OBL_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OBL_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Awaiting Agreement Generation</stringValue>
            </value>
        </filters>
        <filters>
            <field>ApartmentRef__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lease_Id__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lease_Interval_Id__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Customer_Id__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OBL_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
