Sandbox/10-04-2025/force-app/main/default/flows/Room_Closed_Checkbox_Daily_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add_room_to_list</name>
        <label>add room to list</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>UpdateableRooms</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_rooms</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_rooms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_room_to_list_0</name>
        <label>add room to list</label>
        <locationX>264</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>UpdateableRooms</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_rooms_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_rooms_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_room_closed_to_false</name>
        <label>set room closed to false</label>
        <locationX>264</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_rooms_2.Room_Closed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_room_to_list_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_room_closed_to_true</name>
        <label>set room closed to true</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_rooms.Room_Closed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_room_to_list</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Room Closed Checkbox Daily Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Room Closed Checkbox Daily Flow</label>
    <loops>
        <name>Loop_through_rooms</name>
        <label>Loop through rooms</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Rooms</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_room_closed_to_true</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Closed_rooms_that_need_opening</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_rooms_2</name>
        <label>Loop through rooms 2</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_Closed_rooms_that_need_opening</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_room_closed_to_false</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_get_rooms</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Closed_rooms_that_need_opening</name>
        <label>Get Closed rooms that need opening</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_rooms_2</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) and 4</filterLogic>
        <filters>
            <field>Leasable_Unit_Open_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Leasable_Unit_Close_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Leasable_Unit_Close_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Room_Closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Room__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Room_Closed__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rooms</name>
        <label>Get Rooms</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_rooms</targetReference>
        </connector>
        <filterLogic>(1 OR 2) and 3</filterLogic>
        <filters>
            <field>Leasable_Unit_Open_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Leasable_Unit_Close_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Room_Closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Room__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Room_Closed__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_get_rooms</name>
        <label>update get rooms</label>
        <locationX>176</locationX>
        <locationY>1166</locationY>
        <inputReference>UpdateableRooms</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Rooms</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>UpdateableRooms</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Room__c</objectType>
    </variables>
</Flow>
