Sandbox/10-04-2025/force-app/main/default/flows/RTF07_RoomInventoryListItemPopulation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Form_a_List_Item</name>
        <label>Form a List Item</label>
        <locationX>693</locationX>
        <locationY>317</locationY>
        <assignmentItems>
            <assignToReference>vListItem.Room__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vListItem.InventoryItemRef__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>List_Item_Generation.InventoryItemRef__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Inventory_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Inventory_Items</name>
        <label>Store Inventory Items</label>
        <locationX>831</locationX>
        <locationY>319</locationY>
        <assignmentItems>
            <assignToReference>vListItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vListItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>List_Item_Generation</targetReference>
        </connector>
    </assignments>
    <interviewLabel>RTF07_RoomInventoryListItemPopulation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF07_RoomInventoryListItemPopulation</label>
    <loops>
        <name>List_Item_Generation</name>
        <label>List Item Generation</label>
        <locationX>824</locationX>
        <locationY>136</locationY>
        <collectionReference>Get_Template_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Form_a_List_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Inventory_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Inventory_List</name>
        <label>Create Inventory List</label>
        <locationX>995</locationX>
        <locationY>136</locationY>
        <inputReference>vListItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Template_Items</name>
        <label>Get Template Items</label>
        <locationX>614</locationX>
        <locationY>135</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>List_Item_Generation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InventoryTemplateRef__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InventoryTemplateRef__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Template_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Default_Template</name>
        <label>Set Default Template</label>
        <locationX>480</locationX>
        <locationY>136</locationY>
        <connector>
            <targetReference>Get_Template_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>InventoryTemplateRef__c</field>
            <value>
                <elementReference>$Record.Property__r.BrandRef__r.DefaultRoomTemplateRef__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Set_Default_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InventoryTemplateRef__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>InventoryTemplateRef__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Room__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>vListItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inventory_List_Item__c</objectType>
    </variables>
    <variables>
        <name>vListItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inventory_List_Item__c</objectType>
    </variables>
</Flow>
