Sandbox/10-04-2025/force-app/main/default/flows/RTF05_ContractCommunityLink.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BOOK_ER_3_Link_to_Membership_and_Rental_Contract_and_payment_portal</name>
        <label>[BOOK] ER#3 Link to Membership and Rental Contract and payment portal</label>
        <locationX>842</locationX>
        <locationY>947</locationY>
        <actionName>Contract.BOOK_ER_3_Link_to_Membership_and_Rental_Contract_and_payment_portal</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Contract_Checkbox</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.BOOK_ER_3_Link_to_Membership_and_Rental_Contract_and_payment_portal</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>BOOK_H_3_Link_to_Membership_and_Rental_Contract_and_payment_portal</name>
        <label>[BOOK] H#3 Link to Membership and Rental Contract and payment portal</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <actionName>Contract.BOOK_H_3_Link_to_Membership_and_Rental_Contract_and_payment_portal</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Contract_Checkbox</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.BOOK_H_3_Link_to_Membership_and_Rental_Contract_and_payment_portal</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>BOOK_HF_3_Link_to_Membership_and_Rental_Contract_and_payment_portal</name>
        <label>[BOOK] HF#3 Link to Membership and Rental Contract and payment portal</label>
        <locationX>1106</locationX>
        <locationY>947</locationY>
        <actionName>Contract.BOOK_HF_3_Link_to_Membership_and_Rental_Contract_and_payment_portal</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Contract_Checkbox</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.BOOK_HF_3_Link_to_Membership_and_Rental_Contract_and_payment_portal</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>BOOK_ML_3_Link_to_Membership_and_Rental_Contract_and_payment_portal</name>
        <label>[BOOK] ML#3 Link to Membership and Rental Contract and payment portal</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <actionName>Contract.BOOK_ML_3_Link_to_Membership_and_Rental_Contract_and_payment_portal</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Contract_Checkbox</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.BOOK_ML_3_Link_to_Membership_and_Rental_Contract_and_payment_portal</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>BOOK_Q_3_Link_to_Membership_and_Rental_Contract_and_payment_portal</name>
        <label>[BOOK] Q#3 Link to Membership and Rental Contract and payment portal</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <actionName>Contract.BOOK_Q_3_Link_to_Membership_and_Rental_Contract_and_payment_portal</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Contract_Checkbox</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.BOOK_Q_3_Link_to_Membership_and_Rental_Contract_and_payment_portal</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Bypass_Flow</name>
        <label>Bypass Flow</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Bypass</name>
            <conditionLogic>1 OR 2 OR 3 OR 11 OR 12 OR 13 OR 14 OR (4 AND (((5 AND 6) OR 7) OR  ((8 AND 9) OR 10)))</conditionLogic>
            <conditions>
                <leftValueReference>$User.IsBypassFlows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Italy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Netherlands</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Property__r.ConditionRef__r.MaximumStayUnitPick__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Months</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Property__r.ConditionRef__r.MaximumStayNumber__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Property__r.ConditionRef__r.MaximumStayNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Property__r.ConditionRef__r.MaximumStayUnitPick__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Days</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Property__r.ConditionRef__r.MaximumStayNumber__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>90.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Property__r.ConditionRef__r.MaximumStayNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portugal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hong Kong</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Singapore</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Austria</stringValue>
                </rightValue>
            </conditions>
            <label>Is Bypass</label>
        </rules>
    </decisions>
    <decisions>
        <description>Need to have the Contact on the Contract in a lookup field in order to send the Email alter to the right person and in order to render merge fields.</description>
        <name>Has_Contact_on_Contract</name>
        <label>Has Contact on Contract?</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Stage_Changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Lookup_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactRef__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Contract</targetReference>
            </connector>
            <label>Contact Lookup Empty?</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluates what Stage is reached for each Brand</description>
        <name>Stage_Changes</name>
        <label>Stage Changes</label>
        <locationX>710</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Contract_Habyt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Room__r.Property__r.BrandRef__r.APINameBrand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Habyt</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Community_URL__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Community_URL__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Room__r.Property__r.Country__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Italy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BOOK_H_3_Link_to_Membership_and_Rental_Contract_and_payment_portal</targetReference>
            </connector>
            <label>Send Contract Habyt?</label>
        </rules>
        <rules>
            <name>Send_Contract_Quarters</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Room__r.Property__r.BrandRef__r.APINameBrand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarters</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Community_URL__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Community_URL__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Room__r.Property__r.Country__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Netherlands</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BOOK_Q_3_Link_to_Membership_and_Rental_Contract_and_payment_portal</targetReference>
            </connector>
            <label>Send Contract Quarters?</label>
        </rules>
        <rules>
            <name>Send_Contract_ML</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Room__r.Property__r.BrandRef__r.APINameBrand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MediciLiving</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Community_URL__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Community_URL__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>BOOK_ML_3_Link_to_Membership_and_Rental_Contract_and_payment_portal</targetReference>
            </connector>
            <label>Send Contract ML?</label>
        </rules>
        <rules>
            <name>Terminated_ER</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Room__r.Property__r.BrandRef__r.APINameBrand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ErasmosRoom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Community_URL__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Community_URL__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>BOOK_ER_3_Link_to_Membership_and_Rental_Contract_and_payment_portal</targetReference>
            </connector>
            <label>Send Contract ER?</label>
        </rules>
        <rules>
            <name>Send_Contract_Homefully</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Room__r.Property__r.BrandRef__r.APINameBrand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Homefully</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Community_URL__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Community_URL__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>BOOK_HF_3_Link_to_Membership_and_Rental_Contract_and_payment_portal</targetReference>
            </connector>
            <label>Send Contract Homefully?</label>
        </rules>
    </decisions>
    <description>Sends Community Onboarding Email.</description>
    <environments>Default</environments>
    <interviewLabel>RTF05_ContractCommunityLink {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF05_ContractCommunityLink</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>That started the flow.</description>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Contact_on_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>With Person Account</description>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Stage_Changes</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactRef__c</field>
            <value>
                <elementReference>$Record.Account.PersonContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Checkbox IsSignedEmailSendTrig__c to TRUE.</description>
        <name>Update_Contract_Checkbox</name>
        <label>Update Contract Checkbox</label>
        <locationX>710</locationX>
        <locationY>1139</locationY>
        <inputAssignments>
            <field>IsCommunityLinkEmailSendTrig__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeDeveloperNameAuto__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rent</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsCommunityLinkEmailSendTrig__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0121i000000YGYZAA4</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
