Sandbox/10-04-2025/force-app/main/default/flows/SCF07_Generate_Contract_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Contract_Item_Values</name>
        <label>Set Contract Item Values</label>
        <locationX>1098</locationX>
        <locationY>374</locationY>
        <assignmentItems>
            <assignToReference>RecVar_ContractItem.ContractRef__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_ContractItem.PriceTrig__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_ContractItem.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Product_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_one_off_product</name>
        <label>Set one off product</label>
        <locationX>1306</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>RecVar_ContractItem.ProductRef__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_One_Off_Item.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_ContractItem.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Contract.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contract_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Recurrence_Month</name>
        <label>Set Recurrence Month</label>
        <locationX>750</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>RecVar_ContractItem.NumberOfMonths__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_months</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contract_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Recurring_Item</name>
        <label>Set Recurring Item</label>
        <locationX>862</locationX>
        <locationY>668</locationY>
        <assignmentItems>
            <assignToReference>RecVar_ContractItem.ProductRef__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Recurring_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_ContractItem.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Contract.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Month_for_recurrence_set</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_OneOff</name>
        <choiceText>One-Off Item</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One Off</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Recurring</name>
        <choiceText>Recurring Item</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Recurring</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Item_Type_Check</name>
        <label>Item Type Check</label>
        <locationX>1092</locationX>
        <locationY>541</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_One_Off_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ItemType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_OneOff</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_One_Off_Item</targetReference>
            </connector>
            <label>Is One Off Item</label>
        </rules>
        <rules>
            <name>Is_Recurring_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ItemType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Recurring</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Recurring_Product</targetReference>
            </connector>
            <label>Is Recurring Item</label>
        </rules>
    </decisions>
    <decisions>
        <name>Month_for_recurrence_set</name>
        <label>Month for recurrence set</label>
        <locationX>679</locationX>
        <locationY>763</locationY>
        <defaultConnector>
            <targetReference>Create_Contract_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_months_for_recurrence</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Recurrence_Month</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SCF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCF07 - Generate Contract Items</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contract_Item</name>
        <label>Create Contract Item</label>
        <locationX>1094</locationX>
        <locationY>836</locationY>
        <inputReference>RecVar_ContractItem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Contract</name>
        <label>get Contract</label>
        <locationX>1054</locationX>
        <locationY>226</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Item_Creation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_One_Off_Item</name>
        <label>Get One Off Item</label>
        <locationX>1304</locationX>
        <locationY>557</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_one_off_product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FrequencyPick__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>One Off</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Record_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Record_Type</name>
        <label>Get Product Record Type</label>
        <locationX>1225</locationX>
        <locationY>435</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Item_Type_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product2</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AdditionalItem</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recurring_Product</name>
        <label>Get Recurring Product</label>
        <locationX>862</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Recurring_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FrequencyPick__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recurring</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Record_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Item_Creation_Screen</name>
        <label>Item Creation Screen</label>
        <locationX>1171</locationX>
        <locationY>274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Contract_Item_Values</targetReference>
        </connector>
        <fields>
            <name>ProceedInfo</name>
            <fieldText>&lt;p&gt;If you proceed you will generate invoice items that will be added to the next invoice or invoices for the tenants subscription.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Discounts can be added by setting the Amount to negative values.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ItemType</name>
            <choiceReferences>Choice_OneOff</choiceReferences>
            <choiceReferences>Choice_Recurring</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choice_OneOff</defaultSelectedChoiceReference>
            <fieldText>Item Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>RecVar_ContractItem.Description_Internal__c</objectFieldReference>
        </fields>
        <fields>
            <name>Set_months_for_recurrence</name>
            <dataType>Boolean</dataType>
            <fieldText>Set months for recurrence</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ItemType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Recurring</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Number_of_months</name>
            <dataType>Number</dataType>
            <fieldText>Number of months</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Set_months_for_recurrence</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1017</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_Contract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecVar_ContractItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractItem__c</objectType>
    </variables>
</Flow>
