Sandbox/10-04-2025/force-app/main/default/flows/SCF01_VoidContract_updated_V1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_new_values_to_Variable</name>
        <label>Assign new values to Variable</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_Contract.EverSign_Doc_Hash__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract.IsVoidContractTrig__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Voided</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract.EverSign_Doc_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Voided</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Community_Link</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks if the Contract is in Status &quot;Draft&quot;?</description>
        <name>Draft</name>
        <label>Draft?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Draft1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.EverSign_Doc_Hash__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.RecordTypeDeveloperNameAuto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.IsVoidContractTrig__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Void_Interface_UI</targetReference>
            </connector>
            <label>Draft?</label>
        </rules>
    </decisions>
    <description>updated version of SCF01_VoidContract with Void Reasons</description>
    <dynamicChoiceSets>
        <name>voidingPicklistValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_voiding__c</picklistField>
        <picklistObject>Contract</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>SCF01_VoidContract  ( updated V1 ) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCF01_VoidContract  ( updated V1 )</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get the contract that started the Flow.</description>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Draft</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Community Link</description>
        <name>Update_Community_Link</name>
        <label>Update Community Link</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
        <inputReference>Get_Contract</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_the_Reason_of_voided</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Alternative Send</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Reason of voided</description>
        <name>Update_the_Reason_of_voided</name>
        <label>Update the Reason of voided</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason_for_voiding__c</field>
            <value>
                <elementReference>Reason_for_voiding</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <screens>
        <name>Void_Interface_UI</name>
        <label>Void Interface UI</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_new_values_to_Variable</targetReference>
        </connector>
        <fields>
            <name>Reason_for_voiding</name>
            <choiceReferences>voidingPicklistValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for voiding</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
