Sandbox/10-04-2025/force-app/main/default/flows/SCF_Contract_Generate_Monthly_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Additional_Amount</name>
        <label>Add Additional Amount</label>
        <locationX>1020</locationX>
        <locationY>1039</locationY>
        <assignmentItems>
            <assignToReference>Var_AdditionalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Additional_Items.PriceTrig__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Additional_Item_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Additional_Contract_Item</name>
        <label>Add Additional Contract Item</label>
        <locationX>1159</locationX>
        <locationY>1234</locationY>
        <assignmentItems>
            <assignToReference>ColVar_ContractItemsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecVar_AdditionalItemToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Additional_Invoice_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Additional_Invoice_Item</name>
        <label>Add Additional Invoice Item</label>
        <locationX>1200</locationX>
        <locationY>1074</locationY>
        <assignmentItems>
            <assignToReference>ColVar_AdditionalInvoiceItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecVar_RecurringInvoiceItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Additional_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Recurring_Contract_Item</name>
        <label>Add Recurring Contract Item</label>
        <locationX>1627</locationX>
        <locationY>616</locationY>
        <assignmentItems>
            <assignToReference>ColVar_ContractItemsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecVar_RecurringContractItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contract_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Rent_Invoice_Item</name>
        <label>Add Rent Invoice Item</label>
        <locationX>1563</locationX>
        <locationY>742</locationY>
        <assignmentItems>
            <assignToReference>ColVar_RecurringInvoiceItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecVar_RecurringInvoiceItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Recurring_Invoice_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Insert_Collection</name>
        <label>Add to Insert Collection</label>
        <locationX>1943</locationX>
        <locationY>1006</locationY>
        <assignmentItems>
            <assignToReference>ColVar_RecurringInvoiceItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Additional_Invoice_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Additional_Invoice_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Additional_Invoice_Item</name>
        <label>Set Additional Invoice Item</label>
        <locationX>1314</locationX>
        <locationY>1215</locationY>
        <assignmentItems>
            <assignToReference>RecVar_RecurringInvoiceItem.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Additional_Items.PriceTrig__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_RecurringInvoiceItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_RecurringInvoiceItem.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Additional_Items.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_RecurringInvoiceItem.PeriodStart__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_RecurringInvoiceItem.PeriodEnd__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentMonthEnd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Additional_Invoice_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Additional_Item_to_Update</name>
        <label>Set Additional Item to Update</label>
        <locationX>1023</locationX>
        <locationY>1179</locationY>
        <assignmentItems>
            <assignToReference>RecVar_AdditionalItemToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Additional_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_AdditionalItemToUpdate.TimesRedeemed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimeRedeemedAuto</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Additional_Contract_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Invoice_on_Addtional_Items</name>
        <label>Set Invoice on Addtional Items</label>
        <locationX>1865</locationX>
        <locationY>1108</locationY>
        <assignmentItems>
            <assignToReference>Loop_Additional_Invoice_Items.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecVar_RecurringInvoice.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Insert_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_One_Off_Invoice_Item_Values</name>
        <label>Set One Off Invoice Item Values</label>
        <locationX>821</locationX>
        <locationY>881</locationY>
        <assignmentItems>
            <assignToReference>RecVar_OneOffInvoiceItem.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecVar_OneOffInvoice.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_OneOffInvoiceItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_OneOffInvoiceItem.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contract_Items.PriceTrig__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_OneOffInvoiceItem.PeriodStart__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_OneOffInvoiceItem.PeriodEnd__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_OneOffInvoiceItem.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_One_Off_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_One_Off_Invoice_Values</name>
        <label>Set One Off Invoice Values</label>
        <locationX>954</locationX>
        <locationY>726</locationY>
        <assignmentItems>
            <assignToReference>RecVar_OneOffInvoice.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_OneOffInvoice.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_OneOffInvoice.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_OneOffInvoice.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_OneOffInvoice.Amount_Due__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contract_Items.PriceTrig__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_OneOffInvoice.Invoice_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_One_Off_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Recurring_Contract_Item</name>
        <label>Set Recurring Contract Item</label>
        <locationX>1374</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>RecVar_RecurringContractItem.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contract_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_RecurringContractItem.LatestManualInvoiceGenerationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Recurring_Contract_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Recurring_Invoice_Item_Values</name>
        <label>Set Recurring Invoice Item Values</label>
        <locationX>1746</locationX>
        <locationY>742</locationY>
        <assignmentItems>
            <assignToReference>RecVar_RecurringInvoiceItem.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecVar_RecurringInvoice.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_RecurringInvoiceItem.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contract_Items.PriceTrig__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_RecurringInvoiceItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_RecurringInvoiceItem.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_RecurringInvoiceItem.PeriodStart__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_RecurringInvoiceItem.PeriodEnd__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentMonthEnd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Rent_Invoice_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Recurring_Invoice_Values</name>
        <label>Set Recurring Invoice Values</label>
        <locationX>1416</locationX>
        <locationY>1024</locationY>
        <assignmentItems>
            <assignToReference>RecVar_RecurringInvoice.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_RecurringInvoice.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_RecurringInvoice.Invoice_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_RecurringInvoice.Amount_Due__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecurrringItemPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_RecurringInvoice.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecVar_RecurringInvoice.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Recurring_Invoice</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Additional_Item</name>
        <label>Check Additional Item</label>
        <locationX>1079</locationX>
        <locationY>934</locationY>
        <defaultConnector>
            <targetReference>Loop_Additional_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Relevant_Additional_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsRelevantAdditionalItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Additional_Amount</targetReference>
            </connector>
            <label>Is Relevant Additional Item</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_Item_Type</name>
        <label>Contract Item Type</label>
        <locationX>1090</locationX>
        <locationY>599</locationY>
        <defaultConnector>
            <targetReference>Loop_Contract_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>One_Off_without_First_Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Contract_Items.ProductRef__r.FrequencyPick__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One Off</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Contract_Items.LatestManualInvoiceGenerationDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Contract_Items.ProductRef__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_One_Off_Invoice_Values</targetReference>
            </connector>
            <label>One-Off without First Invoice</label>
        </rules>
        <rules>
            <name>Recurring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Contract_Items.ProductRef__r.FrequencyPick__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recurring</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNoInvoiceThisMonth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Contract_Items.ProductRef__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Additional_Items</targetReference>
            </connector>
            <label>Recurring</label>
        </rules>
    </decisions>
    <formulas>
        <name>CurrentMonthEnd</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!CurrentMonthStart},1)-1</expression>
    </formulas>
    <formulas>
        <name>CurrentMonthStart</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}),MONTH({!$Flow.CurrentDate}),1)</expression>
    </formulas>
    <formulas>
        <name>InvoiceDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISPICKVAL({!Loop_Contract_Items.ProductRef__r.FrequencyPick__c}, &quot;One Off&quot;), {!$Record.StartDate}, IF(
YEAR({!$Record.StartDate}) = YEAR(TODAY()) &amp;&amp; MONTH({!$Record.StartDate}) = MONTH(TODAY()), {!$Record.StartDate}, {!CurrentMonthStart}
))</expression>
    </formulas>
    <formulas>
        <name>InvoiceName</name>
        <dataType>String</dataType>
        <expression>{!$Record.ContractNumber} + &quot; &quot; + {!Loop_Contract_Items.ProductRef__r.Name} + &quot; &quot; + TEXT({!InvoiceDate})</expression>
    </formulas>
    <formulas>
        <name>IsAdditionalItem</name>
        <dataType>Boolean</dataType>
        <expression>{!Loop_Additional_Items.ProductRef__r.RecordType.DeveloperName} = &quot;AdditionalItem&quot;</expression>
    </formulas>
    <formulas>
        <name>IsNoInvoiceThisMonth</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!Loop_Contract_Items.LatestManualInvoiceGenerationDate__c}) || (YEAR({!Loop_Contract_Items.LatestManualInvoiceGenerationDate__c}) &lt; YEAR({!$Flow.CurrentDate})) || (YEAR({!Loop_Contract_Items.LatestManualInvoiceGenerationDate__c}) = YEAR({!$Flow.CurrentDate}) &amp;&amp; MONTH({!Loop_Contract_Items.LatestManualInvoiceGenerationDate__c}) &lt; MONTH({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>IsOpenOneOffItem</name>
        <dataType>Boolean</dataType>
        <expression>(ISPICKVAL({!Loop_Additional_Items.ProductRef__r.FrequencyPick__c}, &quot;One Off&quot;) &amp;&amp; 
(ISBLANK({!Loop_Additional_Items.TimesRedeemed__c}) || {!Loop_Additional_Items.TimesRedeemed__c} = 0))</expression>
    </formulas>
    <formulas>
        <name>IsOpenRecurringItem</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!Loop_Additional_Items.ProductRef__r.FrequencyPick__c}, &quot;Recurring&quot;) &amp;&amp; 
(
(ISBLANK({!Loop_Additional_Items.TimesRedeemed__c}) || ISBLANK({!Loop_Additional_Items.NumberOfMonths__c})) 
||
({!Loop_Additional_Items.TimesRedeemed__c} &lt; {!Loop_Additional_Items.NumberOfMonths__c})
)</expression>
    </formulas>
    <formulas>
        <name>IsRelevantAdditionalItem</name>
        <dataType>Boolean</dataType>
        <expression>{!IsAdditionalItem} &amp;&amp; ({!IsOpenOneOffItem} || {!IsOpenRecurringItem})</expression>
    </formulas>
    <formulas>
        <name>RecurrringItemPrice</name>
        <dataType>Currency</dataType>
        <expression>IF(MONTH(TODAY()) = MONTH({!$Record.StartDate}), {!Loop_Contract_Items.PriceTrig__c} * (ADDMONTHS({!CurrentMonthStart},1)-{!$Record.StartDate})/(ADDMONTHS({!CurrentMonthStart},1) - {!CurrentMonthStart}), {!Loop_Contract_Items.PriceTrig__c}) + {!Var_AdditionalAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TimeRedeemedAuto</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Loop_Additional_Items.TimesRedeemed__c}), 1, {!Loop_Additional_Items.TimesRedeemed__c} + 1)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>SCF - Contract Generate Monthly Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCF - Contract Generate Monthly Invoice</label>
    <loops>
        <name>Loop_Additional_Invoice_Items</name>
        <label>Loop Additional Invoice Items</label>
        <locationX>1691</locationX>
        <locationY>1023</locationY>
        <collectionReference>ColVar_AdditionalInvoiceItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Invoice_on_Addtional_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Recurring_Invoice_Item_Values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Additional_Items</name>
        <label>Loop Additional Items</label>
        <locationX>1103</locationX>
        <locationY>751</locationY>
        <collectionReference>Get_Contract_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Additional_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Recurring_Invoice_Values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Contract_Items</name>
        <label>Loop Contract Items</label>
        <locationX>1095</locationX>
        <locationY>435</locationY>
        <collectionReference>Get_Contract_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contract_Item_Type</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_One_Off_Invoice</name>
        <label>Create One Off Invoice</label>
        <locationX>956</locationX>
        <locationY>882</locationY>
        <connector>
            <targetReference>Set_One_Off_Invoice_Item_Values</targetReference>
        </connector>
        <inputReference>RecVar_OneOffInvoice</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_One_Off_Item</name>
        <label>Create One Off Item</label>
        <locationX>819</locationX>
        <locationY>733</locationY>
        <connector>
            <targetReference>Update_Contract_Item</targetReference>
        </connector>
        <inputReference>RecVar_OneOffInvoiceItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Recurring_Invoice</name>
        <label>Create Recurring Invoice</label>
        <locationX>1538</locationX>
        <locationY>1024</locationY>
        <connector>
            <targetReference>Loop_Additional_Invoice_Items</targetReference>
        </connector>
        <inputReference>RecVar_RecurringInvoice</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Recurring_Invoice_Item</name>
        <label>Create Recurring Invoice Item</label>
        <locationX>1352</locationX>
        <locationY>735</locationY>
        <connector>
            <targetReference>Set_Recurring_Contract_Item</targetReference>
        </connector>
        <inputReference>ColVar_RecurringInvoiceItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contract_Items</name>
        <label>Get Contract Items</label>
        <locationX>1096</locationX>
        <locationY>281</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Contract_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractRef__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PriceTrig__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContractItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract_Item</name>
        <label>Update Contract Item</label>
        <locationX>818</locationX>
        <locationY>440</locationY>
        <connector>
            <targetReference>Loop_Contract_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Contract_Items.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LatestManualInvoiceGenerationDate__c</field>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </inputAssignments>
        <object>ContractItem__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract_Items</name>
        <label>Update Contract Items</label>
        <locationX>1376</locationX>
        <locationY>436</locationY>
        <connector>
            <targetReference>Loop_Contract_Items</targetReference>
        </connector>
        <inputReference>ColVar_ContractItemsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Contract_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsGenerateMonthlyInvoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contract</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-05-19</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ColVar_AdditionalInvoiceItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvoiceItem__c</objectType>
    </variables>
    <variables>
        <name>ColVar_ContractItemsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractItem__c</objectType>
    </variables>
    <variables>
        <name>ColVar_RecurringInvoiceItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvoiceItem__c</objectType>
    </variables>
    <variables>
        <name>RecVar_AdditionalItemToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractItem__c</objectType>
    </variables>
    <variables>
        <name>RecVar_OneOffInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>RecVar_OneOffInvoiceItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvoiceItem__c</objectType>
    </variables>
    <variables>
        <name>RecVar_RecurringContractItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractItem__c</objectType>
    </variables>
    <variables>
        <name>RecVar_RecurringInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>RecVar_RecurringInvoiceItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvoiceItem__c</objectType>
    </variables>
    <variables>
        <name>Var_AdditionalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
