Sandbox/10-04-2025/force-app/main/default/flows/STF02_ContractStartDateInventoryReviewNotification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BOOK_ER_8_Inventory_review</name>
        <label>[BOOK] ER#8 Inventory review</label>
        <locationX>345</locationX>
        <locationY>50</locationY>
        <actionName>Contract.BOOK_ER_8_Inventory_review</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.BOOK_ER_8_Inventory_review</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>BOOK_H_8_Inventory_review</name>
        <label>[BOOK] H#8 Inventory review</label>
        <locationX>553</locationX>
        <locationY>266</locationY>
        <actionName>Contract.BOOK_H_8_Inventory_review</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.BOOK_H_8_Inventory_review</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>BOOK_HF_8_Inventory_review</name>
        <label>[BOOK] HF#8 Inventory review</label>
        <locationX>515</locationX>
        <locationY>75</locationY>
        <actionName>Contract.BOOK_HF_8_Inventory_review</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.BOOK_HF_8_Inventory_review</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>BOOK_ML_8_Inventory_review</name>
        <label>[BOOK] ML#8 Inventory review</label>
        <locationX>346</locationX>
        <locationY>488</locationY>
        <actionName>Contract.BOOK_ML_8_Inventory_review</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.BOOK_ML_8_Inventory_review</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>BOOK_Q_8_Inventory_review</name>
        <label>[BOOK] Q#8 Inventory review</label>
        <locationX>514</locationX>
        <locationY>447</locationY>
        <actionName>Contract.BOOK_Q_8_Inventory_review</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.BOOK_Q_8_Inventory_review</nameSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Brand_selection</name>
        <label>Brand selection</label>
        <locationX>392</locationX>
        <locationY>270</locationY>
        <defaultConnector>
            <targetReference>BOOK_H_8_Inventory_review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Habyt</defaultConnectorLabel>
        <rules>
            <name>Homefully</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BrandAuto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Homefully</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BOOK_HF_8_Inventory_review</targetReference>
            </connector>
            <label>Homefully</label>
        </rules>
        <rules>
            <name>Medici_Living</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BrandAuto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medici Living</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BOOK_ML_8_Inventory_review</targetReference>
            </connector>
            <label>Medici Living</label>
        </rules>
        <rules>
            <name>Erasmo_s_Room</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BrandAuto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Erasmo&apos;s Room</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BOOK_ER_8_Inventory_review</targetReference>
            </connector>
            <label>Erasmo&apos;s Room</label>
        </rules>
        <rules>
            <name>Quarters</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BrandAuto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarters</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BOOK_Q_8_Inventory_review</targetReference>
            </connector>
            <label>Quarters</label>
        </rules>
    </decisions>
    <interviewLabel>STF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>STF02_ContractStartDateInventoryReviewNotification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>35</locationX>
        <locationY>193</locationY>
        <connector>
            <targetReference>Brand_selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStartDateAuto__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeDeveloperNameAuto__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>MembershipFee</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-10-25</startDate>
            <startTime>07:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
