Sandbox/10-04-2025/force-app/main/default/flows/Task_Record_Triggered_Create_MC_Email_Activity_with_Raw_HTML.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_HTML_from_Marketing_Cloud_Email_View_URL</name>
        <label>Get HTML from Marketing Cloud Email View URL</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <actionName>MC_EmailURLHTML_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_MC_Email_Activity_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailURLs</name>
            <value>
                <elementReference>$Record.View_Email_URL__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MC_EmailURLHTML_Invocable</nameSegment>
        <outputParameters>
            <assignToReference>HTMLBody</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>[Task] [Record Triggered] Set Email HTML Body Using MC View URL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Task] [Record Triggered] Create MC Email Activity with Raw HTML</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_MC_Email_Activity_Record</name>
        <label>Create MC Email Activity Record</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <assignRecordIdToReference>mcActivityRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_MC_Email_Activity_Lookup_on_the_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>MC_Email_Raw_HTML__c</field>
            <value>
                <elementReference>HTMLBody</elementReference>
            </value>
        </inputAssignments>
        <object>MC_Email_Activity__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_MC_Email_Activity_Lookup_on_the_Task</name>
        <label>Update MC Email Activity Lookup on the Task</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>MC_Email_Activity__c</field>
            <value>
                <elementReference>mcActivityRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>View_Email_URL__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_HTML_from_Marketing_Cloud_Email_View_URL</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>HTMLBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mcActivityRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
