Sandbox/10-04-2025/force-app/main/default/flows/Update_Occupancy_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Home_Committed_Status_is_Home_Closed</name>
        <label>Home Committed Status is Home Closed</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Inactive_Occupancy_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Home_Committed__r.Common_Property_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home Closed</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Occupancy Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Occupancy Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Active_Occupancy_Status</name>
        <label>Active Occupancy Status</label>
        <locationX>308</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Moving_In_Occupancy_Status</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Occupancy_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Start_Date_of_Occupancy__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date_of_Occupancy__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date_of_Occupancy__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Occupancy_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Inactive_Occupancy_Status</name>
        <label>Inactive Occupancy Status</label>
        <locationX>308</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Active_Occupancy_Status</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>End_Date_of_Occupancy__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Occupancy_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Moving In</stringValue>
            </value>
        </filters>
        <filters>
            <field>Occupancy_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current month-to-month</stringValue>
            </value>
        </filters>
        <filters>
            <field>Occupancy_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Occupancy_Status__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Moving_In_Occupancy_Status</name>
        <label>Moving In Occupancy Status</label>
        <locationX>308</locationX>
        <locationY>576</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Occupancy_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Moving In</stringValue>
            </value>
        </filters>
        <filters>
            <field>Start_Date_of_Occupancy__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Occupancy_Status__c</field>
            <value>
                <stringValue>Moving In</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Home_Committed_Status_is_Home_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Member</stringValue>
            </value>
        </filters>
        <filters>
            <field>Occupancy_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ghosted - No Longer Paying</stringValue>
            </value>
        </filters>
        <filters>
            <field>Occupancy_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ghosted or Evicted - Do Not Email</stringValue>
            </value>
        </filters>
        <filters>
            <field>Start_Date_of_Occupancy__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-10-28</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
