Sandbox/10-04-2025/force-app/main/default/flows/Update_Home_Manager_on_Suites_when_HomeManager_updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Apmt_Assignment</name>
        <label>Apmt Assignment</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Apmt_Loop.Home_Manager_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Record.Home_Manager_User__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Apmt_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Apmt_Assignment</name>
        <label>Apmt List Assignment</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>var_ApartmentList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Apmt_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Apmt_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Apartments_not_NULL</name>
        <label>Apartments not NULL</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Apartments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apmt_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Home_Manager_updated</name>
        <label>Home Manager updated</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Home_Manager_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Record.Home_Manager_User__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>var_PriorRecord.Home_Manager_User__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Record.Home_Manager_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apartments</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>From Common</description>
    <environments>Default</environments>
    <interviewLabel>Update Home Manager on Suites when HomeManager updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Home Manager on Suites when HomeManager updated</label>
    <loops>
        <name>Apmt_Loop</name>
        <label>Apmt Loop</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>Apartments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Apmt_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Apmt</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Apartments</name>
        <label>Apartments</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Apartments_not_NULL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PropertyRef__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Apartment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Apmt</name>
        <label>Update Apmt</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <inputReference>var_ApartmentList</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Home_Manager_updated</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_ApartmentList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apartment__c</objectType>
    </variables>
    <variables>
        <name>var_PriorRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Property__c</objectType>
    </variables>
    <variables>
        <name>var_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Property__c</objectType>
    </variables>
</Flow>
