Production/10-04-2025/force-app/main/default/flows/Account_OpportunityTrigger_Scheduled_Flow_6pm.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Active_Assignment</name>
        <label>Active Assignment</label>
        <locationX>270</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>$Record.Occupancy_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Member_AND_Occupancy_Status_is_Active_OR_Current_month_to_month</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Blank_Assignment</name>
        <label>Blank Assignment</label>
        <locationX>1590</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>$Record.Occupancy_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Member_AND_Occupancy_Status_is_Active_OR_Current_month_to_month</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_month_to_month_Assignment</name>
        <label>Current month-to-month Assignment</label>
        <locationX>534</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>$Record.Occupancy_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Current month-to-month</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Member_AND_Occupancy_Status_is_Active_OR_Current_month_to_month</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ghosted_No_Longer_Paying_Assignment</name>
        <label>Ghosted - No Longer Paying Assignment</label>
        <locationX>798</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>$Record.Occupancy_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ghosted - No Longer Paying</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Member_AND_Occupancy_Status_is_Active_OR_Current_month_to_month</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Holdover_Tenant_Assignment</name>
        <label>Holdover Tenant Assignment</label>
        <locationX>1326</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>$Record.Occupancy_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Holdover Tenant</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Member_AND_Occupancy_Status_is_Active_OR_Current_month_to_month</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inactive_Assignment</name>
        <label>Inactive Assignment</label>
        <locationX>1062</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>$Record.Occupancy_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Member_AND_Occupancy_Status_is_Active_OR_Current_month_to_month</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Most_Recent_Active_Opp_Assignment</name>
        <label>Most Recent Active Opp Assignment</label>
        <locationX>50</locationX>
        <locationY>2568</locationY>
        <assignmentItems>
            <assignToReference>$Record.Most_Recent_Active_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Most_Recent_Active_Opp.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_for_Most_Recent_Active_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Most_Recent_Active_Opp_Null_Assignment</name>
        <label>Most Recent Active Opp Null Assignment</label>
        <locationX>314</locationX>
        <locationY>2568</locationY>
        <assignmentItems>
            <assignToReference>$Record.Most_Recent_Active_Opportunity__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_for_Most_Recent_Active_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Most_Recent_Opp_Stage_to_Member</name>
        <label>Set Most Recent Opp Stage to Member</label>
        <locationX>798</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>$Record.Most_Recent_Opportunity_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Member</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Apartment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_Any_Opp_Stage</name>
        <label>Set to Any Opp Stage</label>
        <locationX>1062</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>$Record.Most_Recent_Opportunity_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Child_Opp_Loop.StageName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Apartment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>var_HasESA_Assignment</name>
        <label>var_HasESA Assignment</label>
        <locationX>721</locationX>
        <locationY>1500</locationY>
        <assignmentItems>
            <assignToReference>var_HasESA</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Child_Opp_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>For OpportunityHandler - UpdateSuiteBasedOnRelatedOpportunity</description>
        <name>Apartment_List_not_NULL</name>
        <label>Apartment List not NULL</label>
        <locationX>182</locationX>
        <locationY>2052</locationY>
        <defaultConnector>
            <targetReference>Most_Recent_Active_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Apartment_List_not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ApartmentList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Apartments</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>From OpportunityHandler - UpdateOccupancyStatusOnAccount</description>
        <name>Check_Opp_Occupancy_Status</name>
        <label>Check Opp Occupancy Status</label>
        <locationX>930</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Blank_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Child_Opp_Loop.Occupancy_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Assignment</targetReference>
            </connector>
            <label>Active</label>
        </rules>
        <rules>
            <name>Current_month_to_month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Child_Opp_Loop.Occupancy_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current month-to-month</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_month_to_month_Assignment</targetReference>
            </connector>
            <label>Current month-to-month</label>
        </rules>
        <rules>
            <name>Ghosted_No_Longer_Paying</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Child_Opp_Loop.Occupancy_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ghosted - No Longer Paying</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ghosted_No_Longer_Paying_Assignment</targetReference>
            </connector>
            <label>Ghosted - No Longer Paying</label>
        </rules>
        <rules>
            <name>Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Child_Opp_Loop.Occupancy_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inactive_Assignment</targetReference>
            </connector>
            <label>Inactive</label>
        </rules>
        <rules>
            <name>Holdover_Tenant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Child_Opp_Loop.Occupancy_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Holdover Tenant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Holdover_Tenant_Assignment</targetReference>
            </connector>
            <label>Holdover Tenant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Apartment</name>
        <label>Has Apartment?</label>
        <locationX>930</locationX>
        <locationY>1176</locationY>
        <defaultConnector>
            <targetReference>Child_Opp_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Apartment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Child_Opp_Loop.ApartmentRef__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Duplicate_Apartment_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Child_Opps</name>
        <label>Has Child Opps?</label>
        <locationX>380</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Child_Opps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Child_Opps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Child_Opp_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>For OpportunityHandler - UpdateSuiteBasedOnRelatedOpportunity</description>
        <name>Has_ESA</name>
        <label>Has ESA?</label>
        <locationX>853</locationX>
        <locationY>1392</locationY>
        <defaultConnector>
            <targetReference>Child_Opp_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_ESA</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Child_Opp_Loop.Has_ESA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Child_Opp_Loop.Occupancy_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Child_Opp_Loop.Occupancy_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current month-to-month</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Child_Opp_Loop.Occupancy_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Moving In</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>var_HasESA_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Most_Recent_Active_Opp</name>
        <label>Has Most Recent Active Opp</label>
        <locationX>182</locationX>
        <locationY>2460</locationY>
        <defaultConnector>
            <targetReference>Most_Recent_Active_Opp_Null_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Most_Recent_Active_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Most_Recent_Active_Opp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Most_Recent_Active_Opp_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>For OpportunityHandler - UpdateSuiteBasedOnRelatedOpportunity</description>
        <name>Is_Duplicate_Apartment_ID</name>
        <label>Is Duplicate Apartment ID?</label>
        <locationX>699</locationX>
        <locationY>1284</locationY>
        <defaultConnector>
            <targetReference>Has_ESA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Duplicate_Apartment_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ApartmentIdCheckerList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Child_Opp_Loop.ApartmentRef__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Child_Opp_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>From OpportunityHandler - UpdateStagetoParentAccount</description>
        <name>Is_Member_AND_Occupancy_Status_is_Active_OR_Current_month_to_month</name>
        <label>Is Member AND Occupancy Status is Active OR Current month-to-month</label>
        <locationX>930</locationX>
        <locationY>876</locationY>
        <defaultConnector>
            <targetReference>Set_to_Any_Opp_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Member_AND_Occupancy_Status_is_Active_OR_Current_month_to_month</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Child_Opp_Loop.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Member</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Child_Opp_Loop.Occupancy_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Child_Opp_Loop.Occupancy_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current month-to-month</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Most_Recent_Opp_Stage_to_Member</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account (OpportunityTrigger) Scheduled Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account (OpportunityTrigger) Scheduled Flow (6pm)</label>
    <loops>
        <name>Child_Opp_Loop</name>
        <label>Child Opp Loop</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <collectionReference>Child_Opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Opp_Occupancy_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Child_Opps</name>
        <label>Child Opps</label>
        <locationX>380</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Child_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Common</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>From OpportunityHandler - UpdateMostRecentActiveOpponAccount</description>
        <name>Most_Recent_Active_Opp</name>
        <label>Most Recent Active Opp</label>
        <locationX>182</locationX>
        <locationY>2352</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Most_Recent_Active_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Occupancy_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Occupancy_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current month-to-month</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>182</locationX>
        <locationY>1944</locationY>
        <connector>
            <targetReference>Apartment_List_not_NULL</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_for_Most_Recent_Active_Opp</name>
        <label>Update Account for Most Recent Active Opp</label>
        <locationX>182</locationX>
        <locationY>2760</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Apartments</name>
        <label>Update Apartments</label>
        <locationX>50</locationX>
        <locationY>2160</locationY>
        <connector>
            <targetReference>Most_Recent_Active_Opp</targetReference>
        </connector>
        <inputReference>var_ApartmentList</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Child_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Developer_Name__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Common</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-11-15</startDate>
            <startTime>18:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>var_Apartment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apartment__c</objectType>
    </variables>
    <variables>
        <name>var_ApartmentIdCheckerList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ApartmentList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apartment__c</objectType>
    </variables>
    <variables>
        <name>var_HasESA</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
