Production/10-04-2025/force-app/main/default/flows/CIS_Community_Check_In_Email_Scheduled_Batch_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>If_Records_Found</name>
        <label>If Records Found</label>
        <locationX>432</locationX>
        <locationY>130</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CIS_Community_Check_In_Email_Sub_Flow</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>This flow is scheduled to get member opportunity which moved in before 15 days and passing record to sub flow for sending community check in email based on suite type.</description>
    <environments>Default</environments>
    <interviewLabel>CIS - Community Check In Email Scheduled Batch Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CIS - Community Check In Email Scheduled Batch Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>51</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>If_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Occupancy_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0126A000000Af6M</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Member</stringValue>
            </value>
        </filters>
        <filters>
            <field>days_till_move_in__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>-15.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>of_RSVPs__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>common</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-09-29</startDate>
            <startTime>19:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>CIS_Community_Check_In_Email_Sub_Flow</name>
        <label>CIS - Community Check In Email Sub Flow</label>
        <locationX>633</locationX>
        <locationY>129</locationY>
        <flowName>CIS_Community_Check_In_Email_Sub_Flow</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
