Production/10-04-2025/force-app/main/default/flows/CIS_Move_Out_Email_Master_Sub_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_To_Chatter_No_Template</name>
        <label>Post To Chatter - No Template</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Loop_Over_list</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>{!Record.Name} met the criteria for move out email but the email was not sent because template Id not found on the city {!Record.City_Lookup__r.Name}. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>0F93u000000AlqNCAS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Group</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Updateable_Opportunity_List</name>
        <label>Add to Updateable Opportunity List</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>UpdateableOpportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SGEventsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SGEvent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PlatformEvent_value</name>
        <label>Assign PlatformEvent value</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>SGEvent.From_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fromEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SGEvent.From_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fromName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SGEvent.Opportunity_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.Previous_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SGEvent.SendGrid_Template_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SGTemplateID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SGEvent.To_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SGEvent.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.Account_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SGEvent.End_Date_of_Occupancy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.Previous_Opportunity__r.End_Date_of_Occupancy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SGEvent.Common_Signoff__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SignoffFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SGEvent.City_Move_Out_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.City_Lookup__r.City_Move_Out_Information__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SGEvent.Home_Move_Out_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.Home_Committed__r.Home_Move_Out_Information__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Move_Out_Sent_Checkbox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_Move_Out_Sent_Checkbox</name>
        <label>Check Move Out Sent Checkbox</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Record.Sent_Move_Out_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Updateable_Opportunity_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Opportunities_Found</name>
        <label>If Opportunities Found</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunities_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Renewal_Opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_list</targetReference>
            </connector>
            <label>Opportunities Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the members brand and checks if the applicable sendgrid id exists on the city record. Either an exit survey sendgrid template or a no survey template must exist or the outcome will be false.</description>
        <name>Move_Out_SendGrid_ID_found</name>
        <label>Move Out SendGrid ID found?</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Post_To_Chatter_No_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Move_Out_Email_ID_Found</name>
            <conditionLogic>1 AND ( (2 AND 3) OR (4 AND 5) OR  (6 AND 7) )</conditionLogic>
            <conditions>
                <leftValueReference>Record.Previous_Opportunity__r.City__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.City_Lookup__r.Move_Out_Email_Exit_Survey__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>common</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>noah</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.City_Lookup__r.Noah_Move_Out_Email_Exit_Survey__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>kin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.City_Lookup__r.Kin_Move_Out_Email_Exit_Survey__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PlatformEvent_value</targetReference>
            </connector>
            <label>Move Out Email ID Found?</label>
        </rules>
    </decisions>
    <description>Updated to not send the move out email for ALTA since it is sent by FSR.</description>
    <environments>Default</environments>
    <formulas>
        <name>fromEmail</name>
        <dataType>String</dataType>
        <expression>CASE({!Record.Brand__c},
&apos;common&apos;, &apos;members@common.com&apos;,
&apos;noah&apos;, &apos;residents@noahapartments.com&apos;,
&apos;kin&apos;, &apos;members@milyliving.com&apos;,
&apos;members@common.com&apos;)</expression>
    </formulas>
    <formulas>
        <name>fromName</name>
        <dataType>String</dataType>
        <expression>CASE({!Record.Brand__c},
&apos;common&apos;, &apos;Common Member Services&apos;,
&apos;noah&apos;, &apos;Noah Resident Services&apos;,
&apos;kin&apos;, &apos;Mily Resident Services&apos;,
&apos;Common Member Services&apos;)</expression>
    </formulas>
    <formulas>
        <name>SFOLAXCriteria</name>
        <dataType>Boolean</dataType>
        <expression>OR( {!Record.City_Name__c} == &quot;San Francisco&quot;, {!Record.City_Name__c} == &quot;Los Angeles&quot;)</expression>
    </formulas>
    <formulas>
        <name>SGTemplateID</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!Record.Brand__c}),
&apos;common&apos;, {!Record.City_Lookup__r.Move_Out_Email_Exit_Survey__c},
&apos;noah&apos;, {!Record.City_Lookup__r.Noah_Move_Out_Email_Exit_Survey__c},
&apos;kin&apos;,  {!Record.City_Lookup__r.Kin_Move_Out_Email_Exit_Survey__c},
 null)</expression>
    </formulas>
    <formulas>
        <name>SignoffFormula</name>
        <dataType>String</dataType>
        <expression>case(TEXT({!Record.Brand__c}),
&apos;common&apos;, &apos;Common Living&apos;,
&apos;kin&apos;, &apos;Mily Living&apos;,
&apos;noah&apos;, &apos;Noah Apartments&apos;,
&apos;Common Living&apos;
)</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>TodayMinus21</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 21</expression>
    </formulas>
    <formulas>
        <name>TodayPlus21Days</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 21</expression>
    </formulas>
    <interviewLabel>CIS - Move Out Email Master Sub Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CIS - Move Out Email Query</label>
    <loops>
        <name>Loop_Over_list</name>
        <label>Loop Over list</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNextValueToReference>Record</assignNextValueToReference>
        <collectionReference>Get_Renewal_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Move_Out_SendGrid_ID_found</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Publish_SendGrid_Events</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Publish_SendGrid_Events</name>
        <label>Publish SendGrid Events</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Update_Checkboxes</targetReference>
        </connector>
        <inputReference>SGEventsList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Renewal_Opportunities</name>
        <label>Get Renewal Opportunities</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Opportunities_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Early_Termination_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ghosted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Early_Termination_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Eviction</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Previous_Occupancy_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Previous_Occupancy_End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </filters>
        <filters>
            <field>Previous_Occupancy_End_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>TodayPlus21Days</elementReference>
            </value>
        </filters>
        <filters>
            <field>Previous_Opportunity_City_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Previous_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Common_Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sent_Move_Out_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>Home_Committed_Name_Formula__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ALTA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Checkboxes</name>
        <label>Update Checkboxes</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <inputReference>UpdateableOpportunities</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Renewal_Opportunities</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>SGEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SendGrid_Email__e</objectType>
    </variables>
    <variables>
        <name>SGEventsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SendGrid_Email__e</objectType>
    </variables>
    <variables>
        <name>UpdateableOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
