Production/10-04-2025/force-app/main/default/flows/Contract_Start_Date_Opp_Scheduled_Flow_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>X3rd_Party_Contract_End_Date_Reminder_1_Email</name>
        <label>3rd Party Contract End Date Reminder 1 Email</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@habyt.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.ContactRef__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>X3rd_Party_Contract_End_Date_Reminder_1_Contract_Template.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>X3rd_Party_Contract_End_Date_Reminder_2_Email</name>
        <label>3rd Party Contract End Date Reminder 2 Email</label>
        <locationX>314</locationX>
        <locationY>576</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@habyt.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.ContactRef__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>X3rd_Party_Contract_End_Date_Reminder_2_Contract_Template.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Contract_Start_Date_Check</name>
        <label>Contract Start Date Check</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>After_1_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FormulaContractStartDateAdd1Day</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X3rd_Party_Contract_End_Date_Reminder_1_Contract_Template</targetReference>
            </connector>
            <label>After 1 Day</label>
        </rules>
        <rules>
            <name>After_1_month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FormulaContractStartDateAdd1Month</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X3rd_Party_Contract_End_Date_Reminder_2_Contract_Template</targetReference>
            </connector>
            <label>After 1 month</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Contract_Opportunity_Fields</name>
        <label>Verify Contract Opportunity Fields</label>
        <locationX>578</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_Opportunity_Criteria_Pass</name>
            <conditionLogic>1 AND (2 OR 3) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Lead_Family2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Lead_Channel2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gold partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Lead_Channel2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Silver partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121i0000009OznAAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Start_Date_Check</targetReference>
            </connector>
            <label>Contract Opportunity Criteria Pass</label>
        </rules>
    </decisions>
    <description>Jan 10 - Prev ver is 7;  Add email log feature on sent emails</description>
    <environments>Default</environments>
    <formulas>
        <name>FormulaContractStartDateAdd1Day</name>
        <dataType>Date</dataType>
        <expression>{!$Record.StartDate} + 1</expression>
    </formulas>
    <formulas>
        <name>FormulaContractStartDateAdd1Month</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.StartDate},1)</expression>
    </formulas>
    <interviewLabel>Contract Start Date Opp Scheduled Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Start Date Opp Scheduled Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>X3rd_Party_Contract_End_Date_Reminder_1_Contract_Template</name>
        <label>3rd Party Contract - End Date Reminder 1 - Contract Template</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X3rd_Party_Contract_End_Date_Reminder_1_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>X3rd_Party_Contract_End_Date_Reminder_1_Contract</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>X3rd_Party_Contract_End_Date_Reminder_2_Contract_Template</name>
        <label>3rd Party Contract - End Date Reminder 2 - Contract Template</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X3rd_Party_Contract_End_Date_Reminder_2_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>X3rd_Party_Contract_End_Date_Reminder_2_Contract</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verify_Contract_Opportunity_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contract</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-08-06</startDate>
            <startTime>12:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
