Production/10-04-2025/force-app/main/default/flows/Copy_Account_Name_to_Child_Opps_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Opp_List_Assignment</name>
        <label>Opp List Assignment</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>var_OppList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opp_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opp_Name_Assignment</name>
        <label>Opp Name Assignment</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Opp_Loop.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaAccName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_List_Assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Name_is_Changed</name>
        <label>Account Name is Changed?</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_Name_is_Changed</name>
            <conditionLogic>(1 AND 2) OR (3 AND (4 OR 5))</conditionLogic>
            <conditions>
                <leftValueReference>var_Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>var_PriorRecord.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Record.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Record.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Record.FirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>var_PriorRecord.FirstName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Record.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>var_PriorRecord.LastName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunities</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opps_not_NULL</name>
        <label>Opps not NULL</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Opps_not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Copies account name to its common initial child opp records when it gets updated</description>
    <environments>Default</environments>
    <formulas>
        <name>FormulaAccName</name>
        <dataType>String</dataType>
        <expression>IF({!var_Record.IsPersonAccount},TRIM({!var_Record.FirstName}&amp;&apos; &apos;&amp;{!var_Record.LastName}),{!var_Record.Name})</expression>
    </formulas>
    <interviewLabel>Copy Account Name to Child Opps Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy Account Name to Child Opps Flow</label>
    <loops>
        <name>Opp_Loop</name>
        <label>Opp Loop</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Opp_Name_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Opportunities</name>
        <label>Opportunities</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opps_not_NULL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Common_Initial</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opps</name>
        <label>Update Opps</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <inputReference>var_OppList</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_Name_is_Changed</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AccOppName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OppList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>var_PriorRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
