Production/10-04-2025/force-app/main/default/flows/couple_churn_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_Move_Out_tasks_for_Opportunities</name>
        <label>Create Move Out tasks for Opportunities</label>
        <locationX>688</locationX>
        <locationY>3482</locationY>
        <actionName>CreateMoveOutTasksforOpp_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Screen_5B_2</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>Opportunities</name>
            <value>
                <elementReference>updatedCouples</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateMoveOutTasksforOpp_Invocable</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_couple_opps</name>
        <label>Add couple opps</label>
        <locationX>1040</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>SelectedCoupleOpps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_opps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_original_opp</name>
        <label>add original opp</label>
        <locationX>688</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>SelectedCoupleOpps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Churn_Opp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>are_there_couple_opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Previous_Opp_to_List</name>
        <label>Add Previous Opp to List</label>
        <locationX>930</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>updatedCouples</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>previousOpp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Term_Agreement_Early_Term_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_updated_couples</name>
        <label>add to updated couples</label>
        <locationX>270</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>updatedCouples</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_through_opps_and_assign_values</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_opps_and_assign_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_updated_couples2</name>
        <label>add to updated couples2</label>
        <locationX>1062</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>updatedCouples</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Term_Agreement_Early_Term_Opps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Previous_Opp_is_NOT_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_updated_couples3</name>
        <label>add to updated couples3</label>
        <locationX>1370</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>updatedCouples</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>early_term_selected_couple_opps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>early_term_selected_couple_opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_end_date_on_previous_opp</name>
        <label>set end date on previous opp</label>
        <locationX>930</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>previousOpp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Term_Agreement_Early_Term_Opps.Previous_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>previousOpp.End_Date_of_Occupancy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Member_NEW_End_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Previous_Opp_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_fields_on_eviction_ghosted_opps</name>
        <label>set fields on eviction/ghosted opps</label>
        <locationX>1370</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>early_term_selected_couple_opps.Early_Termination__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>early_term_selected_couple_opps.Early_Termination_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_Type_of_Early_Termination_Is_This</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>early_term_selected_couple_opps.Notice_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notice_Date_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>early_term_selected_couple_opps.Churn_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>churn_Reason_eviction_or_ghost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>early_term_selected_couple_opps.Churn_Explanation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>churn_Explanation_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>early_term_selected_couple_opps.Churn_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Did Not Offer Renewal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>early_term_selected_couple_opps.Early_Termination__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>early_term_selected_couple_opps.End_Date_Updated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>early_term_selected_couple_opps.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityStage2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>early_term_selected_couple_opps.Stage_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityStageStatus2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_updated_couples3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_fields_on_term_agreement_opps</name>
        <label>set fields on term agreement opps</label>
        <locationX>1062</locationX>
        <locationY>2498</locationY>
        <assignmentItems>
            <assignToReference>Term_Agreement_Early_Term_Opps.Churn_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChurnCategoryEarlyTermDependent.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Term_Agreement_Early_Term_Opps.Churn_Explanation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>churn_Explanation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Term_Agreement_Early_Term_Opps.Churn_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChurnCategoryEarlyTermDependent.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Term_Agreement_Early_Term_Opps.Notice_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>When_did_the_member_sign_their_termination_agreement_or_when_did_the_replacement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Term_Agreement_Early_Term_Opps.End_Date_Updated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Term_Agreement_Early_Term_Opps.room_paid_until__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>When_is_the_member_financially_responsible_until</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Term_Agreement_Early_Term_Opps.Churned_Member_Experience__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Churned_Member_Experience_Early_term</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Term_Agreement_Early_Term_Opps.Early_Termination__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Term_Agreement_Early_Term_Opps.Early_Termination_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_Type_of_Early_Termination_Is_This</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Term_Agreement_Early_Term_Opps.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityStage3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Term_Agreement_Early_Term_Opps.Stage_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityStageStatus3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_updated_couples2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_variables_on_current_item</name>
        <label>set variables on current item</label>
        <locationX>270</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>loop_through_opps_and_assign_values.Churn_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChurnCategoryDependentPicklist.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_through_opps_and_assign_values.Churn_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChurnCategoryDependentPicklist.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_through_opps_and_assign_values.Notice_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>When_did_this_member_give_notice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_through_opps_and_assign_values.Churn_Explanation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Churn_Explanation_3A</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_through_opps_and_assign_values.Churned_Member_Experience__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Churned_Member_Experience</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_through_opps_and_assign_values.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityStage1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_through_opps_and_assign_values.Stage_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityStageStatus1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_updated_couples</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>are_there_couple_opps</name>
        <label>are there couple opps</label>
        <locationX>688</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Select_couples</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>no_couple_opps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_couple_opps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EarlyTerm</targetReference>
            </connector>
            <label>no couple opps</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_checkbox_contains_couple</name>
        <label>if checkbox contains couple</label>
        <locationX>1172</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Loop_through_opps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>opp_was_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Couples</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_opps.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_couple_opps</targetReference>
            </connector>
            <label>opp was selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_churn_Reason_did_not_offer_renewal</name>
        <label>is churn Reason did not offer renewal</label>
        <locationX>842</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>X5B1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>did_not_offer_renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChurnCategoryEarlyTermDependent.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Did Not Offer Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_new_end_Date_before_Today</targetReference>
            </connector>
            <label>did not offer renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_new_end_Date_before_Today</name>
        <label>is new end Date before Today?</label>
        <locationX>842</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>Term_Agreement_Early_Term_Opps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_end_date_before_today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Member_NEW_End_Date</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_5B_1</targetReference>
            </connector>
            <label>New end date before today</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_this_a_term_agreement_or_member_sublet</name>
        <label>is this a term agreement or member sublet?</label>
        <locationX>1194</locationX>
        <locationY>1574</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>term_agreement_or_member_sublet</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>What_Type_of_Early_Termination_Is_This</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Termination Agreement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>What_Type_of_Early_Termination_Is_This</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sublet</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_4B_1</targetReference>
            </connector>
            <label>term agreement or member sublet</label>
        </rules>
        <rules>
            <name>Early_Termination_Type_Eviction_or_Ghost</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>What_Type_of_Early_Termination_Is_This</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ghosted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>What_Type_of_Early_Termination_Is_This</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Eviction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_4B2</targetReference>
            </connector>
            <label>Early Termination Type = Eviction or Ghost</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_this_early_term</name>
        <label>is this early term</label>
        <locationX>688</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Early_term_churn</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Early_Term</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Early_Termination</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Normal_Churn</targetReference>
            </connector>
            <label>Is Not Early Term</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Opp_is_NOT_Blank</name>
        <label>Previous Opp is NOT Blank</label>
        <locationX>1062</locationX>
        <locationY>2714</locationY>
        <defaultConnector>
            <targetReference>Term_Agreement_Early_Term_Opps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes23</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Term_Agreement_Early_Term_Opps.Previous_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_end_date_on_previous_opp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>was_renewal_offered</name>
        <label>was renewal offered?</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>loop_through_opps_and_assign_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>renewal_offered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChurnCategoryDependentPicklist.topValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Did Not Offer Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Normal_Churn_Renewal_Offered</targetReference>
            </connector>
            <label>renewal offered</label>
        </rules>
    </decisions>
    <description>Updated some verbiage on screens.</description>
    <dynamicChoiceSets>
        <name>ChurnCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Churn_Category__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChurnedmemberExperience</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Churned_Member_Experience__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChurnReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Churn_Reason__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChurnReasonGhostEviction</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Churn_Reason_Ghost__c</picklistField>
        <picklistObject>Pickilst_Object__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CouplesChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>End_Date_of_Occupancy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Churn_Opp.End_Date_of_Occupancy__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Common_Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Room_Selected__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Churn_Opp.Room_Selected__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date_of_Occupancy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Churn_Opp.Start_Date_of_Occupancy__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>earlyTermChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Early_Termination_Type__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>YesNoPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Transfer_Upon_Renewal__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>YesOrNoPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Yes_Or_No__c</picklistField>
        <picklistObject>Pickilst_Object__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>OpportunityStage1</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!loop_through_opps_and_assign_values.StageName}) = &quot;Member&quot;, &quot;Member&quot;, &quot;Closed Lost&quot;)</expression>
    </formulas>
    <formulas>
        <name>OpportunityStage2</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!early_term_selected_couple_opps.StageName}) = &quot;Member&quot;, &quot;Member&quot;, &quot;Closed Lost&quot;)</expression>
    </formulas>
    <formulas>
        <name>OpportunityStage3</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!Term_Agreement_Early_Term_Opps.StageName}) = &quot;Member&quot;, &quot;Member&quot;, &quot;Closed Lost&quot;)</expression>
    </formulas>
    <formulas>
        <name>OpportunityStageStatus1</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!loop_through_opps_and_assign_values.StageName}) = &quot;Member&quot;, &quot;Moving Out - Churned&quot;, TEXT({!loop_through_opps_and_assign_values.Stage_Status__c}))</expression>
    </formulas>
    <formulas>
        <name>OpportunityStageStatus2</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!early_term_selected_couple_opps.StageName}) = &quot;Member&quot;, &quot;Moving Out - Churned&quot;, TEXT({!early_term_selected_couple_opps.Stage_Status__c}))</expression>
    </formulas>
    <formulas>
        <name>OpportunityStageStatus3</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!Term_Agreement_Early_Term_Opps.StageName}) = &quot;Member&quot;, &quot;Moving Out - Churned&quot;, TEXT({!Term_Agreement_Early_Term_Opps.Stage_Status__c}))</expression>
    </formulas>
    <interviewLabel>couple churn flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Churn Flow</label>
    <loops>
        <name>early_term_selected_couple_opps</name>
        <label>eviction Ghost selected couple opps</label>
        <locationX>1282</locationX>
        <locationY>1790</locationY>
        <collectionReference>SelectedCoupleOpps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_fields_on_eviction_ghosted_opps</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_selected_couple_opps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_opps</name>
        <label>Loop through opps</label>
        <locationX>952</locationX>
        <locationY>674</locationY>
        <collectionReference>get_couple_opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>if_checkbox_contains_couple</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>EarlyTerm</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_through_opps_and_assign_values</name>
        <label>loop through opps and assign values</label>
        <locationX>182</locationX>
        <locationY>1874</locationY>
        <collectionReference>SelectedCoupleOpps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_variables_on_current_item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_selected_couple_opps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Term_Agreement_Early_Term_Opps</name>
        <label>Term Agreement Early Term Opps</label>
        <locationX>842</locationX>
        <locationY>2390</locationY>
        <collectionReference>SelectedCoupleOpps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_fields_on_term_agreement_opps</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_selected_couple_opps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Churn_Opp</name>
        <label>Get Churn Opp</label>
        <locationX>688</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_couple_opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_couple_opps</name>
        <label>get couple opps</label>
        <locationX>688</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>add_original_opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>End_Date_of_Occupancy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Churn_Opp.End_Date_of_Occupancy__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Common_Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Room_Selected__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Churn_Opp.Room_Selected__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date_of_Occupancy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Churn_Opp.Start_Date_of_Occupancy__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_selected_couple_opps</name>
        <label>update selected couple opps</label>
        <locationX>688</locationX>
        <locationY>3374</locationY>
        <connector>
            <targetReference>Create_Move_Out_tasks_for_Opportunities</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>updatedCouples</inputReference>
    </recordUpdates>
    <screens>
        <name>Early_term_churn</name>
        <label>Screen 3b</label>
        <locationX>1194</locationX>
        <locationY>1466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>is_this_a_term_agreement_or_member_sublet</targetReference>
        </connector>
        <fields>
            <name>What_Type_of_Early_Termination_Is_This</name>
            <choiceReferences>earlyTermChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What type of early termination is this?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EarlyTerm</name>
        <label>Screen 2</label>
        <locationX>688</locationX>
        <locationY>1250</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>is_this_early_term</targetReference>
        </connector>
        <fields>
            <name>IsItEarlyTerm</name>
            <fieldText>&lt;p&gt;Check the following box if this is an early termination. This includes termination agreements, sublets, ghosts and evictions.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Early_Termination</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Early Termination</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1810</locationX>
        <locationY>3482</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(247, 8, 8); font-size: 14px;&quot;&gt;Error&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;: {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Normal_Churn</name>
        <label>Screen 3A</label>
        <locationX>182</locationX>
        <locationY>1466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>was_renewal_offered</targetReference>
        </connector>
        <fields>
            <name>When_did_this_member_give_notice</name>
            <dataType>Date</dataType>
            <fieldText>When did this member give notice?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ChurnCategoryDependentPicklist</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Churn_Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Churn_Reason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>Get_Churn_Opp.Churn_Category__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>Get_Churn_Opp.Churn_Reason__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Churn_Explanation_3A</name>
            <fieldText>Please enter a free-text explanation for the reason for churn. Keep this concise and easy for others to understand.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Normal_Churn_Renewal_Offered</name>
        <label>4A, Normal Churn, Renewal Offered</label>
        <locationX>50</locationX>
        <locationY>1682</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loop_through_opps_and_assign_values</targetReference>
        </connector>
        <fields>
            <name>Churned_Member_Experience</name>
            <choiceReferences>ChurnedmemberExperience</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How would the member rate their overall satisfaction with their experience at Common?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_4B2</name>
        <label>Screen 4B2</label>
        <locationX>1282</locationX>
        <locationY>1682</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>early_term_selected_couple_opps</targetReference>
        </connector>
        <fields>
            <name>Notice_Date_0</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Churn_Opp.Notice_Date__c</elementReference>
            </defaultValue>
            <fieldText>When did the legal team confirm we can remove access for this person and start turnover work? Please note this must match the Notice Date in Beacon. Standard move out tasks will be due the day after this date.**</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>churn_Reason_eviction_or_ghost</name>
            <choiceReferences>ChurnReasonGhostEviction</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Was this an issue of Lease Violations or Delinquent Payments?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>churn_Explanation_0</name>
            <defaultValue>
                <stringValue>{!Get_Churn_Opp.Churn_Explanation__c}</stringValue>
            </defaultValue>
            <fieldText>Please add further details relevant to this member churning - this should be kept brief.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_4B_1</name>
        <label>Screen 4B-1</label>
        <locationX>842</locationX>
        <locationY>1682</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>is_churn_Reason_did_not_offer_renewal</targetReference>
        </connector>
        <fields>
            <name>When_did_the_member_sign_their_termination_agreement_or_when_did_the_replacement</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Churn_Opp.Notice_Date__c</elementReference>
            </defaultValue>
            <fieldText>When did the member sign their termination agreement or when did the replacement member sign their new lease? Please note this must match the Notice Date in Beacon.**</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Member_NEW_End_Date</name>
            <dataType>Date</dataType>
            <fieldText>What is the member’s new end date? Standard move out tasks will be due the day after this date. **</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>When_is_the_member_financially_responsible_until</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Churn_Opp.room_paid_until__c</elementReference>
            </defaultValue>
            <fieldText>When is the member financially responsible until? (e.g. if the member signed a termination agreement to end their lease on 8/31/20 with a one month fee, they are financially responsible until 9/30/20)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ChurnCategoryEarlyTermDependent</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Churn_Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Churn_Reason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>Get_Churn_Opp.Churn_Category__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>Get_Churn_Opp.Churn_Reason__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>churn_Explanation</name>
            <defaultValue>
                <stringValue>{!Get_Churn_Opp.Churn_Explanation__c}</stringValue>
            </defaultValue>
            <fieldText>Please enter further details about the member&apos;s reason for churn - this should be kept brief.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_5B_1</name>
        <label>Screen 5B-1</label>
        <locationX>710</locationX>
        <locationY>2198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Term_Agreement_Early_Term_Opps</targetReference>
        </connector>
        <fields>
            <name>DisplayCreateTasks</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;As a reminder, you must manually create move out tasks for this member and all of their co-occupants because the end dates have already passed. Once the tasks are created, remember to check off the &quot;Member Move Out Tasks Created&quot; checkbox as well.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Instructions can be found &lt;/span&gt;&lt;a href=&quot;https://docs.google.com/document/d/1TUBVWwofHIX6_ApraT2VRy_nIuBcdV19fdYVyvMT_UA/edit&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;here&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please click next to finish this flow.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_5B_2</name>
        <label>Screen 5B-2 - Success!</label>
        <locationX>688</locationX>
        <locationY>3590</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;p&gt;You&apos;ve completed this flow - all members will be moved to Closed Lost once you click &quot;Finish.&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_couples</name>
        <label>Screen 1</label>
        <locationX>952</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_through_opps</targetReference>
        </connector>
        <fields>
            <name>Check_Couples</name>
            <choiceReferences>CouplesChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are the following members also churning? Please check off all that apply. If the member has a co-leaseholder that is not shown here, please ensure the start date, end date, home, suite, and room are the same on all renewal opportunities.</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>X5B1</name>
        <label>5B1</label>
        <locationX>930</locationX>
        <locationY>1898</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>is_new_end_Date_before_Today</targetReference>
        </connector>
        <fields>
            <name>Churned_Member_Experience_Early_term</name>
            <choiceReferences>ChurnedmemberExperience</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How would the member rate their overall satisfaction with their experience at Common?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>562</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Churn_Opp</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>previousOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedCoupleOpps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>updatedCouples</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
