Production/10-04-2025/force-app/main/default/flows/CSS_Move_Out_Emails_3_30PM_Scheduled_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_To_Chatter_No_Template</name>
        <label>Post To Chatter - No Template</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>0F93u000000AlqNCAS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Group</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_PlatformEvent_value</name>
        <label>Assign PlatformEvent value</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>SGEvent.From_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fromEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SGEvent.From_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fromName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SGEvent.Opportunity_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Previous_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SGEvent.SendGrid_Template_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SGTemplateID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SGEvent.To_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SGEvent.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SGEvent.End_Date_of_Occupancy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Previous_Opportunity__r.End_Date_of_Occupancy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SGEvent.Common_Signoff__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SignoffFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SGEvent.City_Move_Out_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.City_Lookup__r.City_Move_Out_Information__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SGEvent.Home_Move_Out_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Home_Committed__r.Home_Move_Out_Information__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Publish_SendGrid_Events</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks the members brand and checks if the applicable sendgrid id exists on the city record. Either an exit survey sendgrid template or a no survey template must exist or the outcome will be false.</description>
        <name>Move_Out_SendGrid_ID_found</name>
        <label>Move Out SendGrid ID found?</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Post_To_Chatter_No_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Move_Out_Email_ID_Found</name>
            <conditionLogic>1 AND ( (2 AND 3) OR (4 AND 5) OR  (6 AND 7) )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Previous_Opportunity__r.City__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.City_Lookup__r.Move_Out_Email_Exit_Survey__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>common</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>noah</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.City_Lookup__r.Noah_Move_Out_Email_Exit_Survey__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>kin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.City_Lookup__r.Kin_Move_Out_Email_Exit_Survey__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PlatformEvent_value</targetReference>
            </connector>
            <label>Move Out Email ID Found?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Occupancy_End_Date_is_in_NEXT_21_days</name>
        <label>Previous Occupancy End Date is in NEXT 21 days?</label>
        <locationX>380</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Previous_Occupancy_End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Previous_Occupancy_End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TodayPlus21Days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Move_Out_SendGrid_ID_found</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fromEmail</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Brand__c},
&apos;common&apos;, &apos;members@common.com&apos;,
&apos;noah&apos;, &apos;residents@noahapartments.com&apos;,
&apos;kin&apos;, &apos;members@milyliving.com&apos;,
&apos;members@common.com&apos;)</expression>
    </formulas>
    <formulas>
        <name>fromName</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Brand__c},
&apos;common&apos;, &apos;Common Member Services&apos;,
&apos;noah&apos;, &apos;Noah Resident Services&apos;,
&apos;kin&apos;, &apos;Mily Resident Services&apos;,
&apos;Common Member Services&apos;)</expression>
    </formulas>
    <formulas>
        <name>SFOLAXCriteria</name>
        <dataType>Boolean</dataType>
        <expression>OR( {!$Record.City_Name__c} == &quot;San Francisco&quot;, {!$Record.City_Name__c} == &quot;Los Angeles&quot;)</expression>
    </formulas>
    <formulas>
        <name>SGTemplateID</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!$Record.Brand__c}),
&apos;common&apos;, {!$Record.City_Lookup__r.Move_Out_Email_Exit_Survey__c},
&apos;noah&apos;, {!$Record.City_Lookup__r.Noah_Move_Out_Email_Exit_Survey__c},
&apos;kin&apos;,  {!$Record.City_Lookup__r.Kin_Move_Out_Email_Exit_Survey__c},
 null)</expression>
    </formulas>
    <formulas>
        <name>SignoffFormula</name>
        <dataType>String</dataType>
        <expression>case(TEXT({!$Record.Brand__c}),
&apos;common&apos;, &apos;Common Living&apos;,
&apos;kin&apos;, &apos;Mily Living&apos;,
&apos;noah&apos;, &apos;Noah Apartments&apos;,
&apos;Common Living&apos;
)</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>TodayPlus21Days</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 21</expression>
    </formulas>
    <interviewLabel>CSS - Move Out Emails - 3:30PM Scheduled Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSS - Move Out Emails - 3:30PM Scheduled Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Publish_SendGrid_Events</name>
        <label>Publish SendGrid Events</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <connector>
            <targetReference>Update_Move_Out_Sent_Checkbox</targetReference>
        </connector>
        <inputReference>SGEvent</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Move_Out_Sent_Checkbox</name>
        <label>Update Move Out Sent Checkbox</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <inputAssignments>
            <field>Sent_Move_Out_Email__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Previous_Occupancy_End_Date_is_in_NEXT_21_days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Early_Termination_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ghosted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Early_Termination_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Eviction</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Previous_Occupancy_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Previous_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Previous_Opportunity_City_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121i000000YGVfAAO</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>Home_Committed_Name_Formula__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ALTA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sent_Move_Out_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-07-19</startDate>
            <startTime>21:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>ChatterMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Name} met the criteria for move-out email but the email was not sent because the template Id was not found on the city {!$Record.City_Lookup__r.Name}.</text>
    </textTemplates>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SGEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SendGrid_Email__e</objectType>
    </variables>
</Flow>
