Production/10-04-2025/force-app/main/default/flows/CSS_Pending_Case_Autoclose.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Auto_Closing_Case</name>
        <label>Send Email Auto Closing Case</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Add_Email_Message</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.ContactEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>FromEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>RE: {!$Record.Subject}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody2</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Email_Message</name>
        <label>Email Message</label>
        <locationX>336</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Update_Work_Order_to_Cancelled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CSS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MILY - Events and Community</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MILY - Lease and Billing Inquiries</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MILY - Property Issue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NOAH - Lease and Billing Inquiries</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NOAH - Property Issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Contact_Email_is_not_Blank</targetReference>
            </connector>
            <label>Send Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Account_s_Most_Recent_Brand_is_Blank</name>
        <label>If Account&apos;s Most Recent Brand is Blank</label>
        <locationX>501</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.BrandRef__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Message</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Contact_Email_is_not_Blank</name>
        <label>If Contact Email is not Blank</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Update_Work_Order_to_Cancelled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Blank</defaultConnectorLabel>
        <rules>
            <name>Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Auto_Closing_Case</targetReference>
            </connector>
            <label>Not Blank</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EmailBody2</name>
        <dataType>String</dataType>
        <expression>&apos;Hi &apos; + {!$Record.Account_First_Name__c} + &apos;,&apos; + BR() + BR() +  &apos;Your Case has been closed as we have not heard back from you. If your issue has not been resolved, please reply to this email in order to reopen your Case.&apos; +  br() + BR() +  &apos;Best,&apos; + br() + &apos;Member Support&apos; + br() + BR() + &apos;Case ID: &apos; + {!ThreadID}</expression>
    </formulas>
    <formulas>
        <name>FromEmail</name>
        <dataType>String</dataType>
        <expression>if({!$Record.Opportunity__r.BrandRef__r.Name} = &apos;Noah&apos;, &apos;residents@noahapartments.com&apos;, 
if({!$Record.Opportunity__r.BrandRef__r.Name} = &apos;Mily&apos;, &apos;members@milyliving.com&apos;, 
if({!$Record.Opportunity__r.BrandRef__r.Name} = &apos;Common&apos;, &apos;members@common.com&apos;, 
null
)
)
)</expression>
    </formulas>
    <formulas>
        <name>ThreadID</name>
        <dataType>String</dataType>
        <expression>{!$Record.Thread_ID__c}</expression>
    </formulas>
    <interviewLabel>CSS - Pending Case Auto-Solve {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSS - Pending Case Auto-Solve</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Email_Message</name>
        <label>Add Email Message</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <connector>
            <targetReference>Update_Work_Order_to_Cancelled</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>members@common.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>RE: {!$Record.Subject}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <elementReference>EmailBody2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.ContactEmail</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>close_case</name>
        <label>solve case</label>
        <locationX>336</locationX>
        <locationY>1068</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Solved</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Order_to_Cancelled</name>
        <label>Update Work Order to Cancelled</label>
        <locationX>336</locationX>
        <locationY>960</locationY>
        <connector>
            <targetReference>close_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>375</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Account_s_Most_Recent_Brand_is_Blank</targetReference>
        </connector>
        <filterLogic>(1 OR 4 OR 5 OR 7 OR 8) AND 2 AND 3 AND 6</filterLogic>
        <filters>
            <field>Case_Record_Type_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>CSS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Days_Since_last_status_change__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Record_Type_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>MILY</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Record_Type_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>NOAH</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Case_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CIS - Leasing Admin Template</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CIS - Inside Sales</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-08-31</startDate>
            <startTime>22:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
