Production/10-04-2025/force-app/main/default/flows/Jet_and_Save_Relocate_to_Asia_with_us.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_Email</name>
        <label>send Email</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <actionName>Contract.Jet_and_Save_Relocate_to_Asia_with_us</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>update_contract</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.Jet_and_Save_Relocate_to_Asia_with_us</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>check_contact_email</name>
        <label>check contact email</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_contact_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactRef__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>send_Email</targetReference>
            </connector>
            <label>has contact email</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Jet and Save - Relocate to Asia with us! {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Jet and Save - Relocate to Asia with us!</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_contract</name>
        <label>update contract</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MoveOut_Asia_email__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>MoveOut_Asia_email__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_contact_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Move_out_date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateValue>2022-08-05</dateValue>
            </value>
        </filters>
        <filters>
            <field>Move_out_date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <dateValue>2022-10-15</dateValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeDeveloperNameAuto__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2022-08-09</startDate>
            <startTime>11:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
