Production/10-04-2025/force-app/main/default/flows/Member_Move_Out_Tasks_Eviction_Ghosted_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Onsite_Move_Out_Task</name>
        <label>Add Onsite Move Out Task</label>
        <locationX>264</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>TasksToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EdgeMoveOutTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sourcefit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Record_to_Opportunity_List</name>
        <label>Add Record to Opportunity List</label>
        <locationX>396</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>OpportunityUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_All_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_sourcefit_to_task_list</name>
        <label>add sourcefit to task list</label>
        <locationX>264</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>TasksToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SourceFitMoveOutTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Member_Move_Out_Checkbox_Checked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_tasks_to_insert_task_list</name>
        <label>Add tasks to insert task list</label>
        <locationX>264</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>TasksToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LeasingSpecialistMoveOutTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Onsite</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Insert_Tasks_List</name>
        <label>Add To Insert Tasks List</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>TasksToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PropertyServicesMoveOutTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PostMoveOut</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Insert_Tasks_List_0</name>
        <label>Add To Insert Tasks List</label>
        <locationX>264</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>TasksToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PostMoveOutInspectionTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LSMoveOut</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fields_to_Edge_Stella_Move_Out_Task</name>
        <label>Assign Fields to Onsite Move Out Task</label>
        <locationX>264</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>EdgeMoveOutTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0121i000000YGXlAAO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EdgeMoveOutTask.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EdgeMoveOutTask.Home__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Home_Committed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EdgeMoveOutTask.Suite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.ApartmentRef__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EdgeMoveOutTask.Room__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Room_Selected__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EdgeMoveOutTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OnsiteMoveOutTaskOwner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EdgeMoveOutTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Onsite Move Out Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EdgeMoveOutTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Notice_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EdgeMoveOutTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EdgeMoveOutTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EdgeMoveOutTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Previous_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EdgeMoveOutTask.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Previous_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Onsite_Move_Out_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fields_to_Leasing_Specialist_Move_Out_Task</name>
        <label>Assign Fields to Leasing Specialist Move Out Task</label>
        <locationX>264</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>LeasingSpecialistMoveOutTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0121i000000YGXjAAO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeasingSpecialistMoveOutTask.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeasingSpecialistMoveOutTask.Home__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Home_Committed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeasingSpecialistMoveOutTask.Suite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.ApartmentRef__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeasingSpecialistMoveOutTask.Room__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Room_Selected__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeasingSpecialistMoveOutTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LSMoveOutTaskOwner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeasingSpecialistMoveOutTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Leasing Specialist Move Out Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeasingSpecialistMoveOutTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Notice_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeasingSpecialistMoveOutTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeasingSpecialistMoveOutTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeasingSpecialistMoveOutTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Previous_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeasingSpecialistMoveOutTask.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Previous_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_tasks_to_insert_task_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fields_to_post_move_out_inspection</name>
        <label>Assign Fields to post move out inspection</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>PostMoveOutInspectionTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0121i000000YGXwAAO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PostMoveOutInspectionTask.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PostMoveOutInspectionTask.Home__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Home_Committed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PostMoveOutInspectionTask.Suite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.ApartmentRef__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PostMoveOutInspectionTask.Room__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Room_Selected__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PostMoveOutInspectionTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PostMoveOutInspectionOwner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PostMoveOutInspectionTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Post-Move-Out Inspection</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PostMoveOutInspectionTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoticeDatePlus1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PostMoveOutInspectionTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PostMoveOutInspectionTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PostMoveOutInspectionTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Previous_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PostMoveOutInspectionTask.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Previous_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Insert_Tasks_List_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fields_to_Property_Services_Task</name>
        <label>Assign Fields to Property Services Task</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>PropertyServicesMoveOutTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0123u000000BUyT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PropertyServicesMoveOutTask.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PropertyServicesMoveOutTask.Home__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Home_Committed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PropertyServicesMoveOutTask.Suite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.ApartmentRef__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PropertyServicesMoveOutTask.Room__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Room_Selected__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PropertyServicesMoveOutTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>propertyServicesTaskOwner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PropertyServicesMoveOutTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Property Services Move Out</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PropertyServicesMoveOutTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoticeDatePlus1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PropertyServicesMoveOutTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PropertyServicesMoveOutTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PropertyServicesMoveOutTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Previous_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PropertyServicesMoveOutTask.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Previous_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Insert_Tasks_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fields_to_sourcefit_task</name>
        <label>Assign Fields to sourcefit task</label>
        <locationX>264</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>SourceFitMoveOutTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0123u000000BUyY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SourceFitMoveOutTask.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SourceFitMoveOutTask.Home__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Home_Committed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SourceFitMoveOutTask.Suite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.ApartmentRef__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SourceFitMoveOutTask.Room__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Room_Selected__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SourceFitMoveOutTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MemberServicesID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SourceFitMoveOutTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Source Fit Move Out</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SourceFitMoveOutTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoticeDatePlus1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SourceFitMoveOutTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SourceFitMoveOutTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SourceFitMoveOutTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Previous_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SourceFitMoveOutTask.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Previous_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_sourcefit_to_task_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Member_Move_Out_Checkbox_Checked</name>
        <label>Set Member Move Out Checkbox Checked</label>
        <locationX>396</locationX>
        <locationY>2282</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.Member_Move_Out_Task_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Record_to_Opportunity_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>LSMoveOut</name>
        <label>Leasing Specialist Move Out Task</label>
        <locationX>396</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Onsite</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Home_Committed__r.Leasing_Specialist_Move_out_Task__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fields_to_Leasing_Specialist_Move_Out_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Onsite</name>
        <label>Onsite Move Out Task</label>
        <locationX>396</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>Sourcefit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Home_Committed__r.Onsite_Move_out_Task__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fields_to_Edge_Stella_Move_Out_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PostMoveOut</name>
        <label>Post Move Out Inspection Task</label>
        <locationX>396</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>LSMoveOut</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Home_Committed__r.Post_Move_Out_Inspection_Task__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fields_to_post_move_out_inspection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PSMoveOUtTask</name>
        <label>Property Services Move Out Task</label>
        <locationX>396</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>PostMoveOut</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Home_Committed__r.Property_Services_Move_out_Task__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fields_to_Property_Services_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sourcefit</name>
        <label>Sourcefit task</label>
        <locationX>396</locationX>
        <locationY>1874</locationY>
        <defaultConnector>
            <targetReference>Set_Member_Move_Out_Checkbox_Checked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>sourcefit2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Home_Committed__r.Sourcefit_Move_out_Task__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fields_to_sourcefit_task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updated to include CM option for post move-out inspection</description>
    <environments>Default</environments>
    <formulas>
        <name>LSMoveOutTaskOwner</name>
        <dataType>String</dataType>
        <expression>IF( TEXT({!Opportunity.Home_Committed__r.Leasing_Specialist_Move_out_Task_Owner__c}) == &apos;Leasing Specialist&apos;,
{!Opportunity.Home_Committed__r.Leasing_Specialist__c},
IF( TEXT({!Opportunity.Home_Committed__r.Leasing_Specialist_Move_out_Task_Owner__c}) == &apos;Community Manager&apos;,
{!Opportunity.Home_Committed__r.Community_Manager__c},

{!Opportunity.Home_Committed__r.Resident_Services_Coordinator__c} ))</expression>
    </formulas>
    <formulas>
        <name>NoticeDatePlus1</name>
        <dataType>Date</dataType>
        <expression>{!Opportunity.Notice_Date__c} + 1</expression>
    </formulas>
    <formulas>
        <name>NoticeDatePlus3</name>
        <dataType>Date</dataType>
        <expression>{!Opportunity.Notice_Date__c} + 3</expression>
    </formulas>
    <formulas>
        <name>OnsiteMoveOutTaskOwner</name>
        <dataType>String</dataType>
        <expression>IF(TEXT( {!Opportunity.Home_Committed__r.Onsite_Move_out_Task_Owner__c}) == &apos;Maintenance Tech&apos;,
{!Opportunity.Home_Committed__r.Maintenance_Tech__c},

{!Opportunity.Home_Committed__r.Area_Manager__c}
)</expression>
    </formulas>
    <formulas>
        <name>opportunityCity</name>
        <dataType>String</dataType>
        <expression>{!Opportunity.Home_Committed__r.City_object__r.Name}</expression>
    </formulas>
    <formulas>
        <name>PostMoveOutInspectionOwner</name>
        <dataType>String</dataType>
        <expression>IF(TEXT( {!Opportunity.Home_Committed__r.Post_Move_Out_Inspection_Task_Owner__c}) == &apos;Porter&apos;,
{!Opportunity.Home_Committed__r.Porter__c},
IF(TEXT( {!Opportunity.Home_Committed__r.Post_Move_Out_Inspection_Task_Owner__c}) == &apos;Community Manager&apos;,
{!Opportunity.Home_Committed__r.Community_Manager__c},

{!Opportunity.Home_Committed__r.Maintenance_Tech__c}
))</expression>
    </formulas>
    <formulas>
        <name>propertyServicesTaskOwner</name>
        <dataType>String</dataType>
        <expression>IF( TEXT({!Opportunity.Home_Committed__r.Property_Services_Move_out_Task_Owner__c}) == &apos;Porter&apos;,
{!Opportunity.Home_Committed__r.Porter__c},

{!Opportunity.Home_Committed__r.Maintenance_Tech__c}
)</expression>
    </formulas>
    <formulas>
        <name>TodayPlusSeven</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+7</expression>
    </formulas>
    <interviewLabel>Member Move Out Tasks Eviction/Ghosted Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Member Move Out Tasks Eviction/Ghosted Subflow</label>
    <loops>
        <name>Loop_Through_All_Opportunities</name>
        <label>Loop Through All Opportunities</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNextValueToReference>Opportunity</assignNextValueToReference>
        <collectionReference>EarlyTermOpps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PSMoveOUtTask</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>insert_Tasks</name>
        <label>insert Tasks</label>
        <locationX>176</locationX>
        <locationY>2690</locationY>
        <inputReference>TasksToInsert</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Opportunities</name>
        <label>Update Opportunities</label>
        <locationX>176</locationX>
        <locationY>2582</locationY>
        <connector>
            <targetReference>insert_Tasks</targetReference>
        </connector>
        <inputReference>OpportunityUpdateList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Through_All_Opportunities</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CleanRoomTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>EarlyTermOpps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>EdgeMoveOutTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Home</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Property__c</objectType>
    </variables>
    <variables>
        <name>JacquesID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JacquesUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeasingSpecialistMoveOutTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>MemberServicesID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MemberUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>PostMoveOutInspectionTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>PropertyServicesMoveOutTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>RiID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SourceFitMoveOutTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>SystemsInspectionTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TasksToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
