Production/10-04-2025/force-app/main/default/flows/Number_of_Cases_per_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_Number_to_Account</name>
        <label>assign Number to Account</label>
        <locationX>138</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>get_account.Number_of_Cases__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>add1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_NoC</name>
        <label>check NoC</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_account.Number_of_Cases__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_related_cases</targetReference>
            </connector>
            <label>is 0</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>add1</name>
        <dataType>Number</dataType>
        <expression>{!get_account.Number_of_Cases__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Number of Cases per Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Number of Cases per Account</label>
    <loops>
        <name>go_through_cases</name>
        <label>go through cases</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <collectionReference>get_related_cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_Number_to_Account</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_account</name>
        <label>get account</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_NoC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Current_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_related_cases</name>
        <label>get related cases</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>go_through_cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Account</name>
        <label>update Account</label>
        <locationX>138</locationX>
        <locationY>876</locationY>
        <connector>
            <targetReference>go_through_cases</targetReference>
        </connector>
        <inputReference>get_account</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeDeveloperNameAuto__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>8001i000003O9MrAAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>8001i000003OBy4AAG</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>8001i000003O9MwAAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateValue>2023-02-28</dateValue>
            </value>
        </filters>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Netherlands</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-02-15</startDate>
            <startTime>15:10:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
