Production/10-04-2025/force-app/main/default/flows/Opportunity_Before_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Brand_Ref</name>
        <label>Assign Brand Ref</label>
        <locationX>589</locationX>
        <locationY>9263</locationY>
        <assignmentItems>
            <assignToReference>$Record.BrandRef__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Brand_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Formula_Fields_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Canada_Update_Region</name>
        <label>Canada - Update Region</label>
        <locationX>1018</locationX>
        <locationY>5303</locationY>
        <assignmentItems>
            <assignToReference>$Record.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canada</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Stage_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Central_Update_Region</name>
        <label>Central - Update Region</label>
        <locationX>490</locationX>
        <locationY>5303</locationY>
        <assignmentItems>
            <assignToReference>$Record.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Central</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Stage_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CIS_Member_Opp_Actions_Opp_Assignment</name>
        <label>CIS - Member Opp Actions Opp Assignment</label>
        <locationX>743</locationX>
        <locationY>6671</locationY>
        <assignmentItems>
            <assignToReference>$Record.City_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Member_timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Member</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type_is_Real_Estate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>City_Assignment</name>
        <label>City Assignment</label>
        <locationX>1436</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>$Record.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaCity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CIS_Stage_Changed_to_Closed_Lost</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>City_Assignment_Temp</name>
        <label>City Assignment</label>
        <locationX>875</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.City_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaCityObject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.City_Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaCityLookup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_New_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Move_In_Inspection_Notes</name>
        <label>Clear Move-In Inspection Notes</label>
        <locationX>1436</locationX>
        <locationY>3803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Move_In_Inspection_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Start_Date_Changed_Before_Move_in</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Picklist</name>
        <label>Clear Picklist</label>
        <locationX>1304</locationX>
        <locationY>3503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Initiate_Delinquent_Payment_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Renewal_is_changed_to_Transfer_Upon_renewal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Update_Timestamp</name>
        <label>Update Timestamp</label>
        <locationX>743</locationX>
        <locationY>7463</locationY>
        <assignmentItems>
            <assignToReference>$Record.MA_Executed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_TSA_Status_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>East_Coast_Update_Region</name>
        <label>East Coast - Update Region</label>
        <locationX>1282</locationX>
        <locationY>5303</locationY>
        <assignmentItems>
            <assignToReference>$Record.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>East Coast</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Stage_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Europe_Update_Region</name>
        <label>Europe - Update Region</label>
        <locationX>1546</locationX>
        <locationY>5303</locationY>
        <assignmentItems>
            <assignToReference>$Record.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Europe</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Stage_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lease_App_Assignment</name>
        <label>Lease App Assignment</label>
        <locationX>1414</locationX>
        <locationY>1235</locationY>
        <assignmentItems>
            <assignToReference>$Record.Conversion_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Lease_Application_timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Screening_Admin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TH_Skip_Update_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lease_Sent_Status_Assignment</name>
        <label>Lease Sent Status Assignment</label>
        <locationX>1436</locationX>
        <locationY>4403</locationY>
        <assignmentItems>
            <assignToReference>$Record.Stage_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lease Sent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Expected_Home_Open_Date_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opp_Formula_Fields_Assignment</name>
        <label>Opp Formula Fields Assignment</label>
        <locationX>875</locationX>
        <locationY>9539</locationY>
        <assignmentItems>
            <assignToReference>$Record.Previous_Occupancy_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Previous_Opportunity__r.End_Date_of_Occupancy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Previous_Opportunity_Home__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Previous_Opportunity__r.Home_Committed_Name_Formula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Home_On_boarding_Email_SendGrid_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Home_On_boarding_Email_SendGrid_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Previous_Occupancy_End_Date_TODAY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Previous_Occupancy_End_Date_TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Previous_Home_and_Current_Home_not_Same__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Previous_Home_and_Current_Home_not_Same</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Lease_Assignment_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Lease_Assignment_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Floor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Room_Selected__r.Floor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Home_Committed_Name_Formula__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Home_Committed__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Home_Marketing_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Home_Committed__r.Marketing_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Suite_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ApartmentRef__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Home_Welcome_Email_SendGrid_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaHomeWelcomeEmailSendGridID</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>prob_Deal_with_reach_Negotiation</name>
        <label>prob: Deal with reach Negotiation</label>
        <locationX>875</locationX>
        <locationY>8747</locationY>
        <assignmentItems>
            <assignToReference>$Record.Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.4</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Brand</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prob_N_A</name>
        <label>Prob: N/A</label>
        <locationX>611</locationX>
        <locationY>8747</locationY>
        <assignmentItems>
            <assignToReference>$Record.Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.25</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Brand</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Close_Lost_Timestamp</name>
        <label>Set Close Lost Timestamp</label>
        <locationX>1436</locationX>
        <locationY>5987</locationY>
        <assignmentItems>
            <assignToReference>$Record.Close_Lost_Timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Stage_Status_is_changed_to_Lease_Started</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Currency_to_USD</name>
        <label>Set Currency to USD</label>
        <locationX>50</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Converted_Lead_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_Create_Timestamp_value</name>
        <label>Set Lead Create Timestamp value</label>
        <locationX>50</locationX>
        <locationY>1235</locationY>
        <assignmentItems>
            <assignToReference>$Record.Lead_Created_Timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CIS_Member_Stage_Inc_Automatic_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lease_Started_Timestamp</name>
        <label>Set Lease Started Timestamp</label>
        <locationX>1436</locationX>
        <locationY>6287</locationY>
        <assignmentItems>
            <assignToReference>$Record.Lease_Started_Timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CIS_Member_Stage_Inc_Automatic_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_Prior_To_Lost_Clear_Next_Followup_Date</name>
        <label>Set Stage Prior To Lost/Clear Next Followup Date</label>
        <locationX>1436</locationX>
        <locationY>2219</locationY>
        <assignmentItems>
            <assignToReference>$Record.Next_Follow_Up_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Tour_Scheduled_from_Qualified</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_StageChange_Datetime</name>
        <label>Set StageChange Datetime</label>
        <locationX>1436</locationX>
        <locationY>5687</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Stage_Change_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Stage_is_Closed_Lost</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Stage_Status_Assignment</name>
        <label>Stage &amp; Stage Status Assignment</label>
        <locationX>1436</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Stage_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unresponsive - Touch 1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CIS_TypeApp_Form_Checked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TH_Skip_Assignment</name>
        <label>TH Skip Assignment</label>
        <locationX>1282</locationX>
        <locationY>1451</locationY>
        <assignmentItems>
            <assignToReference>$Record.Tour_Held_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CIS_Home_Committed_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TSA_Status_No_TSA</name>
        <label>TSA Status = No TSA</label>
        <locationX>743</locationX>
        <locationY>7763</locationY>
        <assignmentItems>
            <assignToReference>$Record.TSA_Status_Picklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No TSA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>City_Lookup_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Uncheck_Boxes_on_Opp</name>
        <label>Uncheck Boxes on Opp</label>
        <locationX>1436</locationX>
        <locationY>4103</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sent_Home_Access_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.eVault_Order_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CIS_Transfer_Link_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Months_to_GO</name>
        <label>Update Months to GO</label>
        <locationX>1436</locationX>
        <locationY>4703</locationY>
        <assignmentItems>
            <assignToReference>$Record.Months_to_Opening__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaMonthsToOpening</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partner_with_Leasable_Unit_more_than_100</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opp_Name</name>
        <label>Update Opp Name</label>
        <locationX>743</locationX>
        <locationY>8447</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaPersonAccName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prob_Real_State_Negotiations_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_to_Send_Follow_Up_Email</name>
        <label>Update Status to Send Follow Up Email</label>
        <locationX>1282</locationX>
        <locationY>3119</locationY>
        <assignmentItems>
            <assignToReference>$Record.Stage_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Follow Up Email</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Initiate_Delinquent_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Timestamp</name>
        <label>Update Timestamp</label>
        <locationX>743</locationX>
        <locationY>7163</locationY>
        <assignmentItems>
            <assignToReference>$Record.LOI_Countersigned_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_is_Lease_MGMT_Agreement_Executed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_to_Future_Tour_Assignment</name>
        <label>Update to Future Tour Assignment</label>
        <locationX>1282</locationX>
        <locationY>2627</locationY>
        <assignmentItems>
            <assignToReference>$Record.Stage_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Future Tour</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tour_Held</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>West_Coast_Update_Region</name>
        <label>West Coast - Update Region</label>
        <locationX>754</locationX>
        <locationY>5303</locationY>
        <assignmentItems>
            <assignToReference>$Record.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>West Coast</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Stage_Change</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bypass_FALSE</name>
        <label>Bypass = FALSE</label>
        <locationX>1518</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_BT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.IsBypassFlows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Brand</name>
        <label>Check Brand</label>
        <locationX>875</locationX>
        <locationY>8939</locationY>
        <defaultConnector>
            <targetReference>Opp_Formula_Fields_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Brand</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Brand_Record</targetReference>
            </connector>
            <label>Has Brand</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Converted</name>
        <label>Check if Converted</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>CIS_Member_Stage_Inc_Automatic_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>From_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Converted_Lead_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_Create_Timestamp_value</targetReference>
            </connector>
            <label>From Converted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Initiate_Delinquent_Payment</name>
        <label>Check Initiate Delinquent Payment</label>
        <locationX>1568</locationX>
        <locationY>3395</locationY>
        <defaultConnector>
            <targetReference>Renewal_is_changed_to_Transfer_Upon_renewal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>CIS_Initiate_Delinquent_Payment_Plaid_Other</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Common_Real_Estate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Initiate_Delinquent_Payment_Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Initiate_Delinquent_Payment_Case__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Initiate_Delinquent_Payment_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plaid Failure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Initiate_Delinquent_Payment_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Picklist</targetReference>
            </connector>
            <label>CIS - Initiate Delinquent Payment - Plaid/Other</label>
        </rules>
        <rules>
            <name>Noah_Initiate_Delinquent_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Common_Real_Estate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Initiate_Delinquent_Payment_Case__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Initiate_Delinquent_Payment_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noah Stripe Failure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Clear_Picklist</targetReference>
            </connector>
            <label>Noah - Initiate Delinquent Payment</label>
        </rules>
    </decisions>
    <decisions>
        <name>CIS_Home_Committed_Changed</name>
        <label>CIS  - Home Committed Changed</label>
        <locationX>1568</locationX>
        <locationY>1811</locationY>
        <defaultConnector>
            <targetReference>CIS_Stage_Changed_to_Closed_Lost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CIS_Home_Committed_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Common_Real_Estate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Occupancy_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Common_Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Common_Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Occupancy_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>City_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CIS_Member_Stage_Inc_Automatic_Member</name>
        <label>CIS - Member Stage (Inc. Automatic Member)</label>
        <locationX>875</locationX>
        <locationY>6563</locationY>
        <defaultConnector>
            <targetReference>Record_Type_is_Real_Estate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CIS_Member_Stage_Inc_Automatic_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Common_Real_Estate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Member</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CIS_Member_Opp_Actions_Opp_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CIS_Qualified_Opportunity_Without_Phone_Number</name>
        <label>CIS - Qualified Opportunity Without Phone Number</label>
        <locationX>1568</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>CIS_TypeApp_Form_Checked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CIS_Qualified_Opportunity_Without_Phone_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Common_Real_Estate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Converted_Lead__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Construction__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Stage_Stage_Status_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CIS_Stage_Changed_to_Closed_Lost</name>
        <label>CIS - Stage Changed to Closed Lost</label>
        <locationX>1568</locationX>
        <locationY>2111</locationY>
        <defaultConnector>
            <targetReference>Tour_Scheduled_from_Qualified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CIS_Stage_Changed_to_Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Common_Real_Estate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_Prior_To_Lost_Clear_Next_Followup_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CIS_Transfer_Link_Populated</name>
        <label>CIS - Transfer Link Populated</label>
        <locationX>1568</locationX>
        <locationY>4295</locationY>
        <defaultConnector>
            <targetReference>Expected_Home_Open_Date_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CIS_Transfer_Link_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Common_Real_Estate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Home_Committed__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Stella</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Home_Committed__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>The Edge</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.PersonEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.CIS_Transfer_Link_Populated_Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Common</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lease_Sent_Status_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CIS_TypeApp_Form_Checked</name>
        <label>CIS - TypeApp Form Checked</label>
        <locationX>1568</locationX>
        <locationY>1019</locationY>
        <defaultConnector>
            <targetReference>CIS_Home_Committed_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CIS_TypeApp_Form_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Common_Real_Estate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_Stage_Check</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>From &quot;Update City Name And Home Committed Name from Lookups&quot; PB</description>
        <name>City_Lookup_Check</name>
        <label>City Lookup Check</label>
        <locationX>875</locationX>
        <locationY>7955</locationY>
        <defaultConnector>
            <targetReference>Home_Lookup_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>City_Lookup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.City_Lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Home_Lookup_Check</targetReference>
            </connector>
            <label>City Lookup</label>
        </rules>
        <rules>
            <name>City_Lookup_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.City_Lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Home_Lookup_Check</targetReference>
            </connector>
            <label>City Lookup Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Stage_Status_is_not_Unconfirmed</name>
        <label>Stage Status is not Unconfirmed</label>
        <locationX>1414</locationX>
        <locationY>3011</locationY>
        <defaultConnector>
            <targetReference>Check_Initiate_Delinquent_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Unconfirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_Send_Follow_Up_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Expected_Home_Open_Date_Changed</name>
        <label>Expected Home Open Date Changed</label>
        <locationX>1568</locationX>
        <locationY>4595</locationY>
        <defaultConnector>
            <targetReference>Partner_with_Leasable_Unit_more_than_100</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Expected_Home_Open_Date_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Common_Real_Estate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expected_Home_Open_Date_new__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Months_to_GO</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Matching_Brand</name>
        <label>Has Matching Brand?</label>
        <locationX>721</locationX>
        <locationY>9155</locationY>
        <defaultConnector>
            <targetReference>Opp_Formula_Fields_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Matching_Brand</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Brand_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Brand_Ref</targetReference>
            </connector>
            <label>Found Matching Brand</label>
        </rules>
    </decisions>
    <decisions>
        <description>From &quot;Update City Name And Home Committed Name from Lookups&quot; PB</description>
        <name>Home_Lookup_Check</name>
        <label>Home Lookup Check</label>
        <locationX>875</locationX>
        <locationY>8147</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Naming</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Home_Lookup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Home_Committed__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Naming</targetReference>
            </connector>
            <label>Home Lookup</label>
        </rules>
        <rules>
            <name>Home_Lookup_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Home_Committed__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Naming</targetReference>
            </connector>
            <label>Home Lookup null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Common_RecordType</name>
        <label>If Common RecordType</label>
        <locationX>182</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Get_Converted_Lead_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_If_Common_RecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Common</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Currency_to_USD</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>From &quot;TSA_Status Continued&quot; PB</description>
        <name>If_TSA_Status_Empty</name>
        <label>If TSA Status = Empty</label>
        <locationX>875</locationX>
        <locationY>7655</locationY>
        <defaultConnector>
            <targetReference>City_Lookup_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_If_TSA_Status_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TSA_Status_Picklist__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Common_Real_Estate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TSA_Status_No_TSA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Record</name>
        <label>Is New Record?</label>
        <locationX>875</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>CIS_Qualified_Opportunity_Without_Phone_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FormulaIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Common_RecordType</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision nodes from &quot;CIS - Opp Stage Actions (Invocable)&quot; PB</description>
        <name>Opp_Stage_Check</name>
        <label>Opp Stage Check</label>
        <locationX>1238</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>CIS_Home_Committed_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CIS_Home_Committed_Changed</targetReference>
            </connector>
            <label>Qualified</label>
        </rules>
        <rules>
            <name>Tour_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tour Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Qualified_Timestamp_Update_Decision</targetReference>
            </connector>
            <label>Tour Scheduled</label>
        </rules>
        <rules>
            <name>Lease_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lease Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lease_App_Assignment</targetReference>
            </connector>
            <label>Lease Application</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Stage_is_Closed_Lost</name>
        <label>Opp Stage is Closed Lost</label>
        <locationX>1568</locationX>
        <locationY>5879</locationY>
        <defaultConnector>
            <targetReference>Opp_Stage_Status_is_changed_to_Lease_Started</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Opp_Stage_is_Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Close_Lost_Timestamp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Stage_Status_is_changed_to_Lease_Started</name>
        <label>Opp Stage Status is changed to Lease Started</label>
        <locationX>1568</locationX>
        <locationY>6179</locationY>
        <defaultConnector>
            <targetReference>CIS_Member_Stage_Inc_Automatic_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Opp_Stage_Status_is_changed_to_Lease_Started</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lease Started</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Common</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lease_Started_Timestamp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>From: Opportunity Naming WF</description>
        <name>Opportunity_Naming</name>
        <label>Opportunity Naming</label>
        <locationX>875</locationX>
        <locationY>8339</locationY>
        <defaultConnector>
            <targetReference>Prob_Real_State_Negotiations_Criteria</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Opportunity_Naming</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Common_Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Common_Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Common_MTM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>From &quot;Opportunity Stage Change&quot; WF</description>
        <name>Opportunity_Stage_Change</name>
        <label>Opportunity Stage Change</label>
        <locationX>1568</locationX>
        <locationY>5579</locationY>
        <defaultConnector>
            <targetReference>Opp_Stage_is_Closed_Lost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Opportunity_Stage_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_StageChange_Datetime</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_with_Leasable_Unit_more_than_100</name>
        <label>Partner with Leasable Unit more than 100</label>
        <locationX>1568</locationX>
        <locationY>4895</locationY>
        <defaultConnector>
            <targetReference>RE_opportunity_with_Market</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Partner_with_Leasable_Unit_more_than_100</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5 AND 6 AND (7 OR 8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Common_Real_Estate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expected_Home_Open_Date_new__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>FormulaDec312021</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Site_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner has hard contract for site</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Site_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner owns site</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NumberOfBeds__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expected_Home_Open_Date_new__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NumberOfBeds__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Site_status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expected_Home_Open_Date_new__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RE_opportunity_with_Market</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>From &quot;Prob: Real State Negotiations 2&quot; WF
From &quot;Prob: Real State Negotiations 3&quot; WF</description>
        <name>Prob_Real_State_Negotiations_Criteria</name>
        <label>Prob: Real State Negotiations Criteria</label>
        <locationX>875</locationX>
        <locationY>8639</locationY>
        <defaultConnector>
            <targetReference>Check_Brand</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Prob_Real_State_Negotiations_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Common_Real_Estate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N/A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prob_N_A</targetReference>
            </connector>
            <label>Prob: Real State Negotiations 2</label>
        </rules>
        <rules>
            <name>Prob_Real_State_Negotiations_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Common_Real_Estate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deal within reach</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>prob_Deal_with_reach_Negotiation</targetReference>
            </connector>
            <label>Prob: Real State Negotiations 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>RE_opportunity_with_Market</name>
        <label>RE opportunity with Market</label>
        <locationX>1568</locationX>
        <locationY>5087</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Stage_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RE_opportunity_with_Market</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Common_Real_Estate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Region_Check</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>From RET  updated leasable units tracking field when Oppty changes PB
Original Decision Node name: No criteria!</description>
        <name>Record_Type_is_Real_Estate</name>
        <label>Record Type is Real_Estate</label>
        <locationX>875</locationX>
        <locationY>6863</locationY>
        <defaultConnector>
            <targetReference>Stage_Name_is_LOI_Countersigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Record_Type_is_Real_Estate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Common_Real_Estate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Name_is_LOI_Countersigned</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>From: RET- Region Assignment (Invocable) PB</description>
        <name>Region_Check</name>
        <label>Region Check</label>
        <locationX>1150</locationX>
        <locationY>5195</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Stage_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Central</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14) AND 15 AND 16</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Austin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chicago</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Columbus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dallas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denver</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Detroit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fort Worth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Houston</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kansas City</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Minneapolis</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nashville</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Orleans</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>St. Louis</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>San Antonio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Common_Real_Estate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Central_Update_Region</targetReference>
            </connector>
            <label>Central</label>
        </rules>
        <rules>
            <name>West_Coast</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16) AND 17 AND 18</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Berkeley</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fremont</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Las Vegas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Long Beach</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Los Angeles / Orange County</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oakland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phoenix</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reno</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sacramento</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salt Lake City</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>San Diego</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>San Francisco Bay Area</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>San Jose</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Santa Clara County</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seattle / PNW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Common_Real_Estate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>West_Coast_Update_Region</targetReference>
            </connector>
            <label>West Coast</label>
        </rules>
        <rules>
            <name>Canada</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7) AND 8 AND 9</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Montreal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ottawa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saskatoon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Toronto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vancouver, BC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Calgary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edmonton</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Common_Real_Estate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Canada_Update_Region</targetReference>
            </connector>
            <label>Canada</label>
        </rules>
        <rules>
            <name>East_Coast</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15) AND 16 AND 17</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atlanta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atlantic City</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Baltimore</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Boston</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Charleston</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Charlotte</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Miami</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Jersey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Haven</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New York</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Philadelphia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pittsburgh</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tampa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arlington, VA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Montgomery County, MD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Real_ Estate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>East_Coast_Update_Region</targetReference>
            </connector>
            <label>East Coast</label>
        </rules>
        <rules>
            <name>Europe</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13) AND 14 AND 15</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amsterdam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Barcelona</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Berlin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brussels</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dublin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edinburgh</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Frankfurt</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Glasgow</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lisbon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>London</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Madrid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manchester</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paris</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Common_Real_Estate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Europe_Update_Region</targetReference>
            </connector>
            <label>Europe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Renewal_is_changed_to_Transfer_Upon_renewal</name>
        <label>Renewal is changed to Transfer Upon renewal</label>
        <locationX>1568</locationX>
        <locationY>3695</locationY>
        <defaultConnector>
            <targetReference>Start_Date_Changed_Before_Move_in</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Renewal_is_changed_to_Transfer_Upon_renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Common_Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Move_In_Inspection_Notes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Qualified_Timestamp_Update_Decision</name>
        <label>Set Qualified Timestamp Update Decision</label>
        <locationX>1018</locationX>
        <locationY>1235</locationY>
        <defaultConnector>
            <targetReference>CIS_Home_Committed_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Set_Qualified_Timestamp_Update_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Member</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CIS_Home_Committed_Changed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>From &quot;RET- MA Executed Timestamp Date&quot; PB
Original node name: Record type</description>
        <name>Stage_is_Lease_MGMT_Agreement_Executed</name>
        <label>Stage is  Lease / MGMT Agreement Executed</label>
        <locationX>875</locationX>
        <locationY>7355</locationY>
        <defaultConnector>
            <targetReference>If_TSA_Status_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Stage_is_Lease_MGMT_Agreement_Executed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lease / MGMT Agreement Executed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MA_Executed_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Timestamp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>From RET- LOI Countersigned Timestamp Date PB
Original node name: Record type</description>
        <name>Stage_Name_is_LOI_Countersigned</name>
        <label>Stage Name is  LOI Countersigned</label>
        <locationX>875</locationX>
        <locationY>7055</locationY>
        <defaultConnector>
            <targetReference>Stage_is_Lease_MGMT_Agreement_Executed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Stage_Name_is_LOI_Countersigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LOI Countersigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LOI_Countersigned_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Timestamp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Status_is_not_Unconfirmed</name>
        <label>Stage Status is not Unconfirmed</label>
        <locationX>1414</locationX>
        <locationY>2519</locationY>
        <defaultConnector>
            <targetReference>Tour_Held</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Stage_Status_is_not_Unconfirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Unconfirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Future_Tour_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_Date_Changed_Before_Move_in</name>
        <label>Start Date Changed Before Move in</label>
        <locationX>1568</locationX>
        <locationY>3995</locationY>
        <defaultConnector>
            <targetReference>CIS_Transfer_Link_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Start_Date_Changed_Before_Move_in</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4) AND 5 AND 6 AND 7 AND 8</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Member</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lease Application</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Common_Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Common_Initial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_Date_of_Occupancy__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_Date_of_Occupancy__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Home_Committed__r.Access_System__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Physical Key</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.eVault_Order_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_Boxes_on_Opp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>TH_Skip_Update_Decision</name>
        <label>TH Skip Update Decision</label>
        <locationX>1414</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>CIS_Home_Committed_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_TH_Skip_Update_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Common_Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Member</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tour_Held_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TH_Skip_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tour_Held</name>
        <label>Tour Held</label>
        <locationX>1568</locationX>
        <locationY>2903</locationY>
        <defaultConnector>
            <targetReference>Check_Initiate_Delinquent_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Tour_Held</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tour Held</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Common_Real_Estate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Common_Transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Stage_Status_is_not_Unconfirmed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tour_Scheduled_from_Qualified</name>
        <label>Tour Scheduled from Qualified</label>
        <locationX>1568</locationX>
        <locationY>2411</locationY>
        <defaultConnector>
            <targetReference>Tour_Held</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Tour_Scheduled_from_Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tour Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Common_Real_Estate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Status_is_not_Unconfirmed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Opportunity flow that runs during Before Insert/Update

Invocable PB functionalities applied:

- CIS - Opp Stage Actions (except Lease Application - Leasing Administrator not Blank node)

Update Apr 29 2024
- Added feature to populate Close Lost Timestamp datetime field in opp

Update May 22 2024
- Added feature to populate Lease Started Timestamp datetime</description>
    <environments>Default</environments>
    <formulas>
        <name>Formula_Home_On_boarding_Email_SendGrid_ID</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.ApartmentRef__r.Product_Type__c},
&quot;Co-Living&quot;, {!$Record.Home_Committed__r.On_boarding_Email_SendGrid_ID__c},
&quot;Private&quot;, {!$Record.Home_Committed__r.On_boarding_Email_SendGrid_ID_Tradition__c},
{!$Record.Home_Committed__r.On_boarding_Email_SendGrid_ID__c})</expression>
    </formulas>
    <formulas>
        <name>Formula_Lease_Assignment_Text</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Lease_Assignment__c}==True, &quot;Please also note that the room you are moving into was previously occupied by another tenant, which is why you will be asked to sign an assignment agreement. The original lease to which you are assigning will be sent in a separate email for your reference. You will only be financially responsible for rent payments during your occupancy term, as detailed in your membership agreement.&quot;, &quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>Formula_Previous_Home_and_Current_Home_not_Same</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISBLANK(  {!$Record.Previous_Opportunity__c})),
  {!$Record.Previous_Opportunity__r.Home_Committed__c} != {!$Record.Home_Committed__c},
 FALSE)</expression>
    </formulas>
    <formulas>
        <name>Formula_Previous_Occupancy_End_Date_TODAY</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Previous_Occupancy_End_Date__c} &gt;= TODAY(), 
TRUE, 
FALSE)</expression>
    </formulas>
    <formulas>
        <description>Original Formula: IF ( ISBLANK( [Opportunity].City__c), [Opportunity].Home_Committed__c.City1__c ,   [Opportunity].City__c)</description>
        <name>FormulaCity</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!$Record.City_Lookup__c}), {!$Record.Home_Committed__r.City_object__c}, {!$Record.City_Lookup__c})</expression>
    </formulas>
    <formulas>
        <name>FormulaCityLookup</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.City_Object__c}), {!$Record.City_Lookup__c}, {!$Record.City_Object__c})</expression>
    </formulas>
    <formulas>
        <name>FormulaCityObject</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.City_Lookup__c}), {!$Record.City_Object__c}, {!$Record.City_Lookup__c})</expression>
    </formulas>
    <formulas>
        <name>FormulaDec312021</name>
        <dataType>Date</dataType>
        <expression>DATE(2021, 12, 31)</expression>
    </formulas>
    <formulas>
        <name>FormulaHomeWelcomeEmailSendGridID</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.ApartmentRef__r.Product_Type__c},
&quot;Co-Living&quot;, {!$Record.Home_Committed__r.Welcome_Email_SendGrid_ID_Coliving__c},
&quot;Private&quot;, {!$Record.Home_Committed__r.Welcome_Email_SendGrid_ID_Traditional__c},
{!$Record.Home_Committed__r.Welcome_Email_SendGrid_ID_Coliving__c})</expression>
    </formulas>
    <formulas>
        <name>FormulaIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>FormulaMonthsToOpening</name>
        <dataType>Number</dataType>
        <expression>IF( 
OR( 
ISBLANK({!$Record.Expected_Home_Open_Date_new__c}) , 
( {!$Record.Expected_Home_Open_Date_new__c}  - Today()) &lt; 0
)
, 
null 
, 
IF( 
YEAR({!$Record.Expected_Home_Open_Date_new__c}) = YEAR(TODAY()), 
MONTH({!$Record.Expected_Home_Open_Date_new__c}) - MONTH(TODAY()), 
FLOOR(({!$Record.Expected_Home_Open_Date_new__c} - TODAY()) / 30.25) 
) 
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FormulaPersonAccName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.FirstName} &amp; &apos; &apos; &amp; {!$Record.Account.LastName}</expression>
    </formulas>
    <interviewLabel>Opportunity (Before Save) Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity (Before Save) Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Brand_Record</name>
        <label>Get Brand Record</label>
        <locationX>721</locationX>
        <locationY>9047</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Matching_Brand</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Brand__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Brand__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Converted_Lead_Details</name>
        <label>Get Converted Lead Details</label>
        <locationX>182</locationX>
        <locationY>1019</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Converted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConvertedOpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User</name>
        <label>User</label>
        <locationX>875</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>City_Assignment_Temp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Common Living</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1392</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_FALSE</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121i000000YGVLAA4</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121i000000YGVQAA4</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121i000000YGVVAA4</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121i000000YGVaAAO</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121i000000YGVfAAO</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121i000000YGVkAAO</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
