Production/10-04-2025/force-app/main/default/flows/Opportunities_created_from_Housing_Anywhere_should_void_draft_contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>set_draft_contract_fields_0</name>
        <label>set draft contract fields</label>
        <locationX>138</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>loop_Draft_Contracts.EverSign_Doc_Hash__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_Draft_Contracts.EverSign_Doc_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Voided</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_Draft_Contracts.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Voided</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_Draft_Contracts.IsVoidContractTrig__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_Draft_Contracts.Reason_for_voiding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner took priority</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_draft_contract_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>found_draft_contracts</name>
        <label>found draft contracts?</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>void_contracts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_draft_contracts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_Draft_Contracts</targetReference>
            </connector>
            <label>void contracts</label>
        </rules>
    </decisions>
    <decisions>
        <name>found_room</name>
        <label>found room?</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>void_all_draft_contracts_for_this_room</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_room</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_avaialbe_date_of_Room_0</targetReference>
            </connector>
            <label>void all draft contracts for this room</label>
        </rules>
    </decisions>
    <description>When an opportunity is created from Housing Anywhere, all draft contracts should be voided for that room</description>
    <environments>Default</environments>
    <interviewLabel>Opportunities created from Housing Anywhere should void draft contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunities created from Housing Anywhere should void draft contract</label>
    <loops>
        <name>loop_Draft_Contracts</name>
        <label>loop Draft Contracts</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <collectionReference>get_draft_contracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_draft_contract_fields_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Remove_avaialbe_date_of_Room</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_draft_contracts</name>
        <label>get draft contracts</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>found_draft_contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Room__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Room__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeDeveloperNameAuto__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rent</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_room</name>
        <label>get room</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>found_room</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Room__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Room__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Remove_avaialbe_date_of_Room</name>
        <label>Remove avaialbe date of Room</label>
        <locationX>50</locationX>
        <locationY>1379</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_room.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AvailableDateTrig__c</field>
        </inputAssignments>
        <object>Room__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_avaialbe_date_of_Room_0</name>
        <label>Remove avaialbe date of Room</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>get_draft_contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_room.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AvailableDateTrig__c</field>
        </inputAssignments>
        <object>Room__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_draft_contract_0</name>
        <label>update draft contract</label>
        <locationX>138</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>update_draft_contract_opp_0</targetReference>
        </connector>
        <inputReference>loop_Draft_Contracts</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_draft_contract_opp_0</name>
        <label>update draft contract opp</label>
        <locationX>138</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>loop_Draft_Contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_Draft_Contracts.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Alternative Send</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_room</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4) AND 5</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Housing Anywhere</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunitySourcePick__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Spotahome</stringValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Roomless</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunitySourcePick__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Uniplaces</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121i0000009OznAAE</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
