Production/10-04-2025/force-app/main/default/flows/RE_Create_Home_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>City_Found</name>
        <label>City Found?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_City_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CityRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Common_Real_Estate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recordtype</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Home_Is_Blank_On_Opportunity</name>
        <label>Home Is Blank On Opportunity</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Update_Home_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Home_Is_Blank_On_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecord.Home_Committed__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CityRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>From Common</description>
    <environments>Default</environments>
    <formulas>
        <name>AgreementType</name>
        <dataType>String</dataType>
        <expression>IF(
ISPICKVAL({!OpportunityRecord.Agreement_structure__c},  &apos;Management&apos;) ||
ISPICKVAL({!OpportunityRecord.Agreement_structure__c}, &apos;MGMT w/ guarantee&apos;),
&apos;Management Agreement&apos;,
&apos;Master Lease&apos;
)</expression>
    </formulas>
    <interviewLabel>RE - Create Home Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RE - Create Home Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Home</name>
        <label>Create Home</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_Home_on_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Agreement_Type__c</field>
            <value>
                <elementReference>AgreementType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BrandRef__c</field>
            <value>
                <elementReference>OpportunityRecord.BrandRef__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City_object__c</field>
            <value>
                <elementReference>CityRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Class_ID__c</field>
            <value>
                <elementReference>OpportunityRecord.Class_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>OpportunityRecord.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Open_Tasks_Generated__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OpportunityRecord.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NeighbourhoodRef__c</field>
            <value>
                <elementReference>OpportunityRecord.NeighbourhoodRef__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Recordtype.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Property__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>CityRecord</name>
        <label>CityRecord</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>City_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityRecord.Tag__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>City__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>OpportunityRecord</name>
        <label>OpportunityRecord</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Home_Is_Blank_On_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recordtype</name>
        <label>Recordtype</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Home</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Property__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Common_Living_Property</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Home_on_Opportunity</name>
        <label>Update Home on Opportunity</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Home_Committed__c</field>
            <value>
                <elementReference>Create_Home</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Home_Record</name>
        <label>Update Home Record</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityRecord.Home_Committed__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Home_Open_Tasks_Generated__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Real_Estate_Opp_Owner_Info__c</field>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <object>Property__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OpportunityRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
