Production/10-04-2025/force-app/main/default/flows/RTF_send_deposit_email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Deposit_Document_Email</name>
        <label>Send Deposit Document Email</label>
        <locationX>1116</locationX>
        <locationY>1128</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cb_saveAsActivity</name>
            <value>
                <stringValue>CB_TRUE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cb_saveAsTask</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cb_setTreatTargetObjectAsRecipient</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contentDocumentAttachments</name>
            <value>
                <elementReference>ColVar_ContentDocumentLinks</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plainTextBody</name>
            <value>
                <elementReference>Var_ToAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsTask</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>RecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>setTreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Deposit Summary</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Content_Document_Link_to_Collection</name>
        <label>Add Content Document Link to Collection</label>
        <locationX>1103</locationX>
        <locationY>646</locationY>
        <assignmentItems>
            <assignToReference>ColVar_ContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Content_Document_Link</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_To_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Deposit_Id</name>
        <label>Set Deposit Id</label>
        <locationX>1114</locationX>
        <locationY>1013</locationY>
        <assignmentItems>
            <assignToReference>DepositId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Deposit_Document_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Recipient_Id</name>
        <label>Set Recipient Id</label>
        <locationX>1110</locationX>
        <locationY>897</locationY>
        <assignmentItems>
            <assignToReference>RecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract__r.Account.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Deposit_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_To_Address</name>
        <label>Set To Address</label>
        <locationX>1107</locationX>
        <locationY>779</locationY>
        <assignmentItems>
            <assignToReference>Var_ToAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract__r.Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Recipient_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Content_Document_Link</name>
        <label>Check Content Document Link</label>
        <locationX>1094</locationX>
        <locationY>509</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Content_Document_Link_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Content_Document_Link</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Content_Document_Link_to_Collection</targetReference>
            </connector>
            <label>Content Document Link Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Content_Version</name>
        <label>Check Content Version</label>
        <locationX>949</locationX>
        <locationY>361</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Content_Version_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Content_Version</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Content_Document_Link</targetReference>
            </connector>
            <label>Content Version Found</label>
        </rules>
    </decisions>
    <interviewLabel>RTF - send deposit email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF - send deposit email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Content_Document_Link</name>
        <label>Get Content Document Link</label>
        <locationX>956</locationX>
        <locationY>509</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Content_Document_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Content_Version.ContentDocumentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Version</name>
        <label>Get Content Version</label>
        <locationX>1098</locationX>
        <locationY>358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Content_Version</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContentVersionId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Content_Version</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentVersionId__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContentVersionId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Deposit__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ColVar_ContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>DepositId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_ToAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
