Production/10-04-2025/force-app/main/default/flows/Ryan_Lanthier_Emailing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Ryan_Lanthier_emailing</name>
        <label>Ryan Lanthier emailing</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <actionName>Property__c.Ryan_Lanthier_emailing</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>update_track_field</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Property__c.Ryan_Lanthier_emailing</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>has_email</name>
        <label>has email</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_person__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ryan_Lanthier_emailing</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Ryan Lanthier Emailing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ryan Lanthier Emailing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_track_field</name>
        <label>update track field</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ryan_Lanthier_emailing__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>has_email</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Launched</stringValue>
            </value>
        </filters>
        <filters>
            <field>Internal_property_manager__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0051i000004P6m8AAC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Entity__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a001i00000D4pQoAAJ</stringValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Entity__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a001i00000HGbk7AAD</stringValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Entity__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a001i00000IsLeLAAV</stringValue>
            </value>
        </filters>
        <object>Property__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2022-11-29</startDate>
            <startTime>14:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
