Production/10-04-2025/force-app/main/default/flows/Scheduled_Update_Stripe_Customer_on_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Customer_Data_Differen</name>
        <label>Check Customer Data Differen</label>
        <locationX>1085</locationX>
        <locationY>270</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Data_Different</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StripeCustomerRef__r.StripeCustomerId__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ContractRef__r.StripeCustomerId__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contract</targetReference>
            </connector>
            <label>Customer Data Different</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Scheduled - Update Stripe Customer on Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled - Update Stripe Customer on Contract</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>1093</locationX>
        <locationY>446</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractRef__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StripeCustomerId__c</field>
            <value>
                <elementReference>$Record.StripeCustomerRef__r.StripeCustomerId__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>969</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Customer_Data_Differen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsSubscriptonIdDifferent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContractRef__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>StripeSubscription__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2022-06-13</startDate>
            <startTime>15:25:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
