Production/10-04-2025/force-app/main/default/flows/Scheduled_Flow_Move_in_email_campaign_Daily.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Template_Id_for_12_Days_After_Move_In</name>
        <label>Set Template Id for 12 Days After Move-In</label>
        <locationX>578</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>SGTemplateID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>d-a0ab2263e5604aa690842d0030f6be5d</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Platform_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Template_Id_for_3_Days_Before_Move_In</name>
        <label>Set Template Id for 3 Days Before Move-In</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>SGTemplateID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>d-e54c8534a37c4d749e91492cf25e819d</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Platform_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Template_Id_for_5_Days_After_Move_In</name>
        <label>Set Template Id for 5 Days After Move-In</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>SGTemplateID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>d-2840b8431de24e1e827be10b10757c44</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Platform_Event</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Move_In_Days_Evaluation</name>
        <label>Move-In Days Evaluation</label>
        <locationX>446</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X3_Days_Before_Start_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.days_till_move_in__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Template_Id_for_3_Days_Before_Move_In</targetReference>
            </connector>
            <label>3 Days Before Start Date</label>
        </rules>
        <rules>
            <name>X5_Days_After_Start_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.days_till_move_in__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>-5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Template_Id_for_5_Days_After_Move_In</targetReference>
            </connector>
            <label>5 Days After Start Date</label>
        </rules>
        <rules>
            <name>X12_Days_After_Start_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.days_till_move_in__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>-12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Template_Id_for_12_Days_After_Move_In</targetReference>
            </connector>
            <label>12 Days After Start Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_No_Blank</name>
        <label>Record No Blank</label>
        <locationX>776</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Move_In_Days_Evaluation</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>Scheduled flow running daily and getting initial member opportunities where move in date is either 3 days a head or 5 or 12 days ago and sending different emails based on days.</description>
    <environments>Default</environments>
    <interviewLabel>Scheduled Flow - Move-in email campaign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled Flow - Move-in email campaign - Daily</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Platform_Event</name>
        <label>Create Platform Event</label>
        <locationX>446</locationX>
        <locationY>660</locationY>
        <inputAssignments>
            <field>Account_First_Name__c</field>
            <value>
                <elementReference>$Record.Account.Preferred_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From_Email__c</field>
            <value>
                <stringValue>experience@common.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From_Name__c</field>
            <value>
                <stringValue>Common</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Marketing_Name__c</field>
            <value>
                <elementReference>$Record.Home_Marketing_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SendGrid_Template_Id__c</field>
            <value>
                <elementReference>SGTemplateID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To_Email__c</field>
            <value>
                <elementReference>$Record.Account.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <object>SendGrid_Email__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_No_Blank</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4 AND 5 AND (6 OR 7 OR 8) AND (9 OR 10 OR 11)</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121i000000YGVQAA4</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121i000000YGVLAA4</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Member</stringValue>
            </value>
        </filters>
        <filters>
            <field>Brand__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>noah</stringValue>
            </value>
        </filters>
        <filters>
            <field>Brand__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>kin</stringValue>
            </value>
        </filters>
        <filters>
            <field>Occupancy_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Occupancy_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Moving In</stringValue>
            </value>
        </filters>
        <filters>
            <field>Occupancy_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current month-to-month</stringValue>
            </value>
        </filters>
        <filters>
            <field>days_till_move_in__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>days_till_move_in__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>-5.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>days_till_move_in__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>-12.0</numberValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-10-07</startDate>
            <startTime>18:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>SGTemplateID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
