Production/10-04-2025/force-app/main/default/flows/Send_Pre_Move_Out_Inspection_Email_new.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_pre_move_out_email_action</name>
        <label>send pre move out email action</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>create_email_message</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>get_opportunity.Email_Address__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>FromEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>ConstantEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>ConstantEmailSubject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Damages to Your Unit</stringValue>
        </value>
    </constants>
    <constants>
        <name>ConstantResultsofYourInspection</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Results of Your Inspection</stringValue>
        </value>
    </constants>
    <description>From Common</description>
    <environments>Default</environments>
    <formulas>
        <name>FormulaOppAcctName</name>
        <dataType>String</dataType>
        <expression>IF({!get_opportunity.Account.IsPersonAccount}, {!get_opportunity.Account.FirstName}, {!get_opportunity.Account.Name})</expression>
    </formulas>
    <formulas>
        <name>FromEmail</name>
        <dataType>String</dataType>
        <expression>CASE({!get_opportunity.BrandRef__r.Name},
&apos;common&apos;, &apos;members@common.com&apos;,
&apos;noah&apos;, &apos;residents@noahapartments.com&apos;,
&apos;kin&apos;, &apos;members@milyliving.com&apos;, 
&apos;members@common.com&apos;)</expression>
    </formulas>
    <interviewLabel>Send Pre Move Out Inspection Email new {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Pre Move Out Inspection Email new</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_email_message</name>
        <label>create email message</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>members@common.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>getAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ConstantResultsofYourInspection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>get_opportunity.Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Home</name>
        <label>Get Home</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_opportunity.Home_Committed__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Property__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_opportunity</name>
        <label>get opportunity</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Home</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_user</name>
        <label>get user</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>send_pre_move_out_email_action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Home.Accounts_Receivable_Coordinator__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!FormulaOppAcctName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This email is to inform you that our team&apos;s pre-move-out inspection of your room identified the following damages:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!var_Record.Description}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Please note that you will not immediately be charged for the list of damages above, which currently total ${!var_Record.Suggested_Damage_Charge__c}. If you wish, you have a right to address them prior to your move-out date of {!get_opportunity.End_Date_of_Occupancy__c}.&lt;/strong&gt; Our team will be conducting a post-move-out inspection after this date to confirm which damages still exist. At that time, any remaining damages will either be withheld from your security deposit, or added to your account for payment. You will not be charged for any of the above damages that were noted to our team within 48 hours of your initial move in.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you for being a Common member, and please feel free to each out with any questions!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best,&lt;/p&gt;&lt;p&gt;{!Get_Home.BrandRef__r.Name} Member Support&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>var_PriorRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>var_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
