Production/10-04-2025/force-app/main/default/flows/send_survey_two_days_after_start_of_contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendHabytSurvey</name>
        <label>sendHabytSurvey</label>
        <locationX>264</locationX>
        <locationY>636</locationY>
        <actionName>habyt_survey_for_2_days_after_contract_start_date</actionName>
        <actionType>dynamicSendSurveyInvitation</actionType>
        <connector>
            <targetReference>loopSelectedContracts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <nameSegment>habyt_survey_for_2_days_after_contract_start_date</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>sendHabytSurvey_0</name>
        <label>sendHabytSurvey</label>
        <locationX>1056</locationX>
        <locationY>636</locationY>
        <actionName>habyt_survey_for_2_days_after_contract_start_date</actionName>
        <actionType>dynamicSendSurveyInvitation</actionType>
        <connector>
            <targetReference>loopSelectedContracts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <nameSegment>habyt_survey_for_2_days_after_contract_start_date</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>sendMediciSurvey</name>
        <label>sendMediciSurvey</label>
        <locationX>792</locationX>
        <locationY>636</locationY>
        <actionName>medici_living_survey_for_2_days_after_contract_start_date</actionName>
        <actionType>dynamicSendSurveyInvitation</actionType>
        <connector>
            <targetReference>loopSelectedContracts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <elementReference>mContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <nameSegment>medici_living_survey_for_2_days_after_contract_start_date</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>sendQuarterSurvey</name>
        <label>sendQuarterSurvey</label>
        <locationX>528</locationX>
        <locationY>636</locationY>
        <actionName>quarters_survey_for_2_days_after_contract_start_date</actionName>
        <actionType>dynamicSendSurveyInvitation</actionType>
        <connector>
            <targetReference>loopSelectedContracts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>anonymousResponse</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <elementReference>qContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <nameSegment>quarters_survey_for_2_days_after_contract_start_date</nameSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rent</stringValue>
        </value>
    </constants>
    <decisions>
        <name>whichBrand</name>
        <label>whichBrand</label>
        <locationX>660</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>sendHabytSurvey_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Habyt</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>loopSelectedContracts.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Habyt</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopSelectedContracts.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Homefully</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopSelectedContracts.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Erasmo&apos;s Room</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendHabytSurvey</targetReference>
            </connector>
            <label>Habyt</label>
        </rules>
        <rules>
            <name>Quarters</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopSelectedContracts.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarters</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendQuarterSurvey</targetReference>
            </connector>
            <label>Quarters</label>
        </rules>
        <rules>
            <name>Medici_Living</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopSelectedContracts.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medici Living</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendMediciSurvey</targetReference>
            </connector>
            <label>Medici Living</label>
        </rules>
    </decisions>
    <formulas>
        <name>currentBaseTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>twoDaysAfter</name>
        <dataType>Date</dataType>
        <expression>NOW() - 2</expression>
    </formulas>
    <interviewLabel>send survey two days after start of contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>send survey two days after start of contract</label>
    <loops>
        <name>loopSelectedContracts</name>
        <label>loopSelectedContracts</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>getContractsStartedTwoDaysBefore</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>whichBrand</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getContractsStartedTwoDaysBefore</name>
        <label>getContractsStartedTwoDaysBefore</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopSelectedContracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>twoDaysAfter</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeDeveloperNameAuto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getContractsStartedTwoDaysBefore</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-01-06</startDate>
            <startTime>09:12:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>loopSelectedContracts.Account.PersonContact.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>mContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>loopSelectedContracts.Account.PersonContact.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>propertyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>loopSelectedContracts.Property__r.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>qContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>loopSelectedContracts.Account.PersonContact.Id</elementReference>
        </value>
    </variables>
</Flow>
