Production/10-04-2025/force-app/main/default/flows/SendGrid_Email_Tester.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <interviewLabel>SendGrid Email Tester {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SendGrid Email Tester</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Platform_Event_for_SG</name>
        <label>Create Platform Event for SG</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Message</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_First_Name__c</field>
            <value>
                <elementReference>Preferred_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From_Email__c</field>
            <value>
                <stringValue>development@einsteam.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From_Name__c</field>
            <value>
                <stringValue>Einsteam Development</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Marketing_Name__c</field>
            <value>
                <elementReference>Get_Opportunity_Record.Home_Committed__r.Marketing_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_First_Name__c</field>
            <value>
                <elementReference>Owner_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SendGrid_Template_Id__c</field>
            <value>
                <elementReference>SendGrid_Template_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To_Email__c</field>
            <value>
                <elementReference>ToEmail</elementReference>
            </value>
        </inputAssignments>
        <object>SendGrid_Email__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GatherDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>GatherDetails</name>
        <label>GatherDetails</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Platform_Event_for_SG</targetReference>
        </connector>
        <fields>
            <name>SendGrid_Template_Id</name>
            <dataType>String</dataType>
            <fieldText>SendGrid Template Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Preferred_First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Opportunity_Record.Account.Preferred_First_Name__c</elementReference>
            </defaultValue>
            <fieldText>Preferred First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Owner_First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Opportunity_Record.Owner.FirstName</elementReference>
            </defaultValue>
            <fieldText>Owner First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ToEmailField</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>To Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>development@einsteam.com</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <stringValue>development@einsteam.com</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ToEmail</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Test It!</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Message</name>
        <label>Thankyoupage</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;A test email has been sent out successfully.&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ToEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
