Production/10-04-2025/force-app/main/default/flows/Update_Contract_Item_status_based_on_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_APAC</name>
        <label>Check APAC</label>
        <locationX>710</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_APAC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_Contract.Property__r.City_Picklist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hong Kong</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Contract.Property__r.City_Picklist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Singapore</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_APAC_Membership_Fee</targetReference>
            </connector>
            <label>is APAC</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Contract_Type</name>
        <label>check Contract Type</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>get_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Membership_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Membership Fee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Membership_Contract</targetReference>
            </connector>
            <label>is Membership Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Type</name>
        <label>check Type</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Type_Rent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Rent_Contract_Item</targetReference>
            </connector>
            <label>Type Rent</label>
        </rules>
        <rules>
            <name>Type_Deposit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deposit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Deposit_Contract_Item</targetReference>
            </connector>
            <label>Type Deposit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Contract Item status based on Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contract Item status based on Invoice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Contract</name>
        <label>get Contract</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contract__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeDeveloperNameAuto__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rent</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Membership_Contract</name>
        <label>get Membership Contract</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_Membership_Contract_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contract__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeDeveloperNameAuto__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Membership</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_APAC_Membership_Fee</name>
        <label>update APAC Membership Fee</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractRef__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contract__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductRef__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01t1i000003i0VyAAI</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Invoice_Status__c</field>
            <value>
                <elementReference>$Record.PaymentStatus__c</elementReference>
            </value>
        </inputAssignments>
        <object>ContractItem__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Deposit_Contract_Item</name>
        <label>update Deposit Contract Item</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Check_APAC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractRef__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Contract.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductRef__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01t1i000002SnZYAA0</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Invoice_Status__c</field>
            <value>
                <elementReference>$Record.PaymentStatus__c</elementReference>
            </value>
        </inputAssignments>
        <object>ContractItem__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Membership_Contract_Item</name>
        <label>update Membership Contract Item</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractRef__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Membership_Contract.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Invoice_Status__c</field>
            <value>
                <elementReference>$Record.PaymentStatus__c</elementReference>
            </value>
        </inputAssignments>
        <object>ContractItem__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Rent_Contract_Item</name>
        <label>update Rent Contract Item</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractRef__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Contract.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductRef__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01t1i000002SnZTAA0</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Invoice_Status__c</field>
            <value>
                <elementReference>$Record.PaymentStatus__c</elementReference>
            </value>
        </inputAssignments>
        <object>ContractItem__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_Contract_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Invoice__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
